Solutions/task1-Calculator.json
{"flowContents":{"identifier":"f5a98273-033b-3d7f-aa8e-66af991bf710","instanceIdentifier":"c66f49ef-018c-1000-d20a-c015d6630dad","name":"Calculator","comments":"","position":{"x":519.0,"y":204.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5f018a04-9c64-3ec2-b57d-dab2bd935593","instanceIdentifier":"86808eff-19e2-3877-8070-707d34d5d06c","name":"PublishKafka_2_6","comments":"","position":{"x":272.0,"y":1096.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{IP}:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"nifi","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"b44cfe13-6c9e-3400-95e6-a01b4610502a","instanceIdentifier":"5ebd15dd-d890-3b3f-bb38-7baf2be58c5e","name":"PutDistributedMapCache","comments":"","position":{"x":1040.0,"y":1096.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Cache Entry Identifier":"Calculator_${A}_${B}","Cache update strategy":"replace","Distributed Cache Service":"6c4a3954-ae03-3fae-810d-3b93b13738fb","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"389c71dc-86f0-364e-9072-bc4601cf6817","instanceIdentifier":"6c2bce67-2789-3196-1757-8bb3249e31a9","name":"JoltTransformJSON","comments":"","position":{"x":640.0,"y":824.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"*\": \"\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n\t\t\"A\" : \"${A}\",\n      \t\"B\" : \"${B}\",\n      \t\"SUMA\" : \"${SUMA}\",\n      \t\"ILOCZYN\" : \"${ILOCZYN}\"\n      \n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"306eb04f-6e60-3148-876b-fb5bd16a4b86","instanceIdentifier":"2ab59974-f104-3d87-1a04-4d5204ca4001","name":"GenerateFlowFile","comments":"","position":{"x":624.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[\n{\n\"A\" : \"10\",\n\"B\" : \"20\"\n},\n{\n\"A\" : \"15\",\n\"B\" : \"15\"\n},\n{\n\"A\" : \"5\",\n\"B\" : \"10\"\n},\n{\n\"A\" : \"8\",\n\"B\" : \"15\"\n},\n{\n\"A\" : \"25\",\n\"B\" : \"25\"\n}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"3302675e-6a65-393d-ba8d-02f1c4b91f3e","instanceIdentifier":"f45e0fed-38c9-35a0-7a4d-3ef69308d83e","name":"UpdateAttribute","comments":"","position":{"x":640.0,"y":552.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"SUMA":"${A:plus(${B})}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ILOCZYN":"${A:multiply(${B})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"SUMA":{"name":"SUMA","displayName":"SUMA","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"ILOCZYN":{"name":"ILOCZYN","displayName":"ILOCZYN","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","instanceIdentifier":"5313b810-0a9d-3e5f-2b90-a7b59ef24a5c","name":"EvaluateJsonPath","comments":"","position":{"x":640.0,"y":312.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","A":"$.A","B":"$.B","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"A":{"name":"A","displayName":"A","identifiesControllerService":false,"sensitive":false},"B":{"name":"B","displayName":"B","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"57100088-b46f-3f4c-b084-54da7665a3e4","instanceIdentifier":"22baf04b-6c26-3d9f-59f7-ad7fc4ceb81b","name":"SplitJson","comments":"","position":{"x":632.0,"y":88.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"21e51b54-e960-3592-855e-4ec92e3d4176","instanceIdentifier":"300a67be-4c04-3c8d-6526-ea7f9153ea42","name":"","source":{"id":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5313b810-0a9d-3e5f-2b90-a7b59ef24a5c"},"destination":{"id":"0f39c7f6-0cdd-3b1a-a4eb-f917de85c082","type":"FUNNEL","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"Funnel","comments":"","instanceIdentifier":"60678ee5-d9aa-3f11-cff6-8ced1b1e78d3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1208.0,"y":328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"2f703264-490d-37d0-912f-f56a1c4a2b78","instanceIdentifier":"2c4f8169-0496-3f0f-fc77-970a0c1e3256","name":"","source":{"id":"57100088-b46f-3f4c-b084-54da7665a3e4","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"SplitJson","comments":"","instanceIdentifier":"22baf04b-6c26-3d9f-59f7-ad7fc4ceb81b"},"destination":{"id":"f7d0ccc7-a8d4-340f-8e8c-d2e42c3d5346","type":"FUNNEL","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"Funnel","comments":"","instanceIdentifier":"a922f1a1-a782-3cbc-a15e-35c450c134d9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1160.0,"y":112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"e655a3c0-ad7b-35e5-9fa2-f87b638f56e4","instanceIdentifier":"36f56f0b-d378-3601-f9e8-2c40bfc36777","name":"","source":{"id":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5313b810-0a9d-3e5f-2b90-a7b59ef24a5c"},"destination":{"id":"0f39c7f6-0cdd-3b1a-a4eb-f917de85c082","type":"FUNNEL","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"Funnel","comments":"","instanceIdentifier":"60678ee5-d9aa-3f11-cff6-8ced1b1e78d3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1208.0,"y":400.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"28b3d4e6-a883-39b1-9b04-db7da1a0bd82","instanceIdentifier":"9ba8a12c-354f-3b9e-3422-08e1448410d4","name":"","source":{"id":"b44cfe13-6c9e-3400-95e6-a01b4610502a","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"5ebd15dd-d890-3b3f-bb38-7baf2be58c5e"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"Funnel","comments":"","instanceIdentifier":"6d967b64-8024-3862-191c-6a575fcfb7da"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1216.0,"y":1336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"c16a594a-cb24-3e3e-8c31-dac72a2c4183","instanceIdentifier":"b71bf8af-81b4-3608-367c-a853f8247ec3","name":"","source":{"id":"389c71dc-86f0-364e-9072-bc4601cf6817","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6c2bce67-2789-3196-1757-8bb3249e31a9"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"Funnel","comments":"","instanceIdentifier":"6d967b64-8024-3862-191c-6a575fcfb7da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"2922dbd7-ea83-34c7-9461-f019beccc624","instanceIdentifier":"3ed28699-b435-3b96-070c-5222c9c03e76","name":"","source":{"id":"57100088-b46f-3f4c-b084-54da7665a3e4","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"SplitJson","comments":"","instanceIdentifier":"22baf04b-6c26-3d9f-59f7-ad7fc4ceb81b"},"destination":{"id":"f7d0ccc7-a8d4-340f-8e8c-d2e42c3d5346","type":"FUNNEL","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"Funnel","comments":"","instanceIdentifier":"a922f1a1-a782-3cbc-a15e-35c450c134d9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1160.0,"y":176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"3cc86ac1-a20d-3e50-8e8b-136bb4571e7a","instanceIdentifier":"eeb83ae1-ba41-3743-3804-dce1294b7447","name":"","source":{"id":"389c71dc-86f0-364e-9072-bc4601cf6817","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6c2bce67-2789-3196-1757-8bb3249e31a9"},"destination":{"id":"5f018a04-9c64-3ec2-b57d-dab2bd935593","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"86808eff-19e2-3877-8070-707d34d5d06c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":448.0,"y":888.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"053a26a2-c9fa-3e15-8495-4d2571b5ac4a","instanceIdentifier":"86158e33-99e7-31a0-7423-a1d1be24d43e","name":"","source":{"id":"389c71dc-86f0-364e-9072-bc4601cf6817","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6c2bce67-2789-3196-1757-8bb3249e31a9"},"destination":{"id":"b44cfe13-6c9e-3400-95e6-a01b4610502a","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"5ebd15dd-d890-3b3f-bb38-7baf2be58c5e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1216.0,"y":888.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"2859c8f0-c860-3cfc-87c7-182695f0166e","instanceIdentifier":"351e5a62-323f-39a2-6838-280a77ebf5f9","name":"","source":{"id":"5f018a04-9c64-3ec2-b57d-dab2bd935593","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"86808eff-19e2-3877-8070-707d34d5d06c"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"Funnel","comments":"","instanceIdentifier":"6d967b64-8024-3862-191c-6a575fcfb7da"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":448.0,"y":1336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"cde969b9-6ed7-347b-9052-3b17413b150f","instanceIdentifier":"dbbdc405-7e41-31cf-6a3e-7a02606045f1","name":"","source":{"id":"5f018a04-9c64-3ec2-b57d-dab2bd935593","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"86808eff-19e2-3877-8070-707d34d5d06c"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"Funnel","comments":"","instanceIdentifier":"6d967b64-8024-3862-191c-6a575fcfb7da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"87bf022b-f173-3944-80c9-8767fc479a17","instanceIdentifier":"c6541836-a63a-324a-662b-340d691a0a75","name":"","source":{"id":"b44cfe13-6c9e-3400-95e6-a01b4610502a","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"5ebd15dd-d890-3b3f-bb38-7baf2be58c5e"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"Funnel","comments":"","instanceIdentifier":"6d967b64-8024-3862-191c-6a575fcfb7da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"988ea050-7080-3218-b3e7-42b083a74030","instanceIdentifier":"06a6411f-8fdf-3d47-eb70-6166191c1e55","name":"","source":{"id":"306eb04f-6e60-3148-876b-fb5bd16a4b86","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"GenerateFlowFile","comments":"","instanceIdentifier":"2ab59974-f104-3d87-1a04-4d5204ca4001"},"destination":{"id":"57100088-b46f-3f4c-b084-54da7665a3e4","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"SplitJson","comments":"","instanceIdentifier":"22baf04b-6c26-3d9f-59f7-ad7fc4ceb81b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"0a488602-81ef-36b8-a6d8-078f0417f6f3","instanceIdentifier":"b465a3db-da52-324b-d247-ed309204cc75","name":"","source":{"id":"3302675e-6a65-393d-ba8d-02f1c4b91f3e","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"UpdateAttribute","comments":"","instanceIdentifier":"f45e0fed-38c9-35a0-7a4d-3ef69308d83e"},"destination":{"id":"389c71dc-86f0-364e-9072-bc4601cf6817","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6c2bce67-2789-3196-1757-8bb3249e31a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"afc9bd8f-ea82-3617-b754-311d6555e026","instanceIdentifier":"88ee3c5e-2fe1-3b66-7351-6fbb74bd9958","name":"","source":{"id":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5313b810-0a9d-3e5f-2b90-a7b59ef24a5c"},"destination":{"id":"3302675e-6a65-393d-ba8d-02f1c4b91f3e","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"UpdateAttribute","comments":"","instanceIdentifier":"f45e0fed-38c9-35a0-7a4d-3ef69308d83e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"6259fb92-f79b-3759-a249-7bc41a53ad92","instanceIdentifier":"532d05a9-4a93-3c1d-084a-3e784c9b5e1b","name":"","source":{"id":"57100088-b46f-3f4c-b084-54da7665a3e4","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"SplitJson","comments":"","instanceIdentifier":"22baf04b-6c26-3d9f-59f7-ad7fc4ceb81b"},"destination":{"id":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","type":"PROCESSOR","groupId":"f5a98273-033b-3d7f-aa8e-66af991bf710","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5313b810-0a9d-3e5f-2b90-a7b59ef24a5c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"}],"labels":[],"funnels":[{"identifier":"0f39c7f6-0cdd-3b1a-a4eb-f917de85c082","instanceIdentifier":"60678ee5-d9aa-3f11-cff6-8ced1b1e78d3","position":{"x":1368.0,"y":360.0},"componentType":"FUNNEL","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"f7d0ccc7-a8d4-340f-8e8c-d2e42c3d5346","instanceIdentifier":"a922f1a1-a782-3cbc-a15e-35c450c134d9","position":{"x":1312.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"feca5662-4812-3909-bdc2-9007dd2d7514","instanceIdentifier":"6d967b64-8024-3862-191c-6a575fcfb7da","position":{"x":784.0,"y":1312.0},"componentType":"FUNNEL","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"}],"controllerServices":[{"identifier":"6c4a3954-ae03-3fae-810d-3b93b13738fb","instanceIdentifier":"6717f5e3-f297-3f2c-2a64-e0dac6c69c94","name":"Redis_DB1: Calculator","comments":"","type":"org.apache.nifi.redis.service.RedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"1.20.0"},"properties":{"redis-connection-pool":"9d5f2ee8-64cc-3b0b-90c1-781b9b4e8aa9","redis-cache-ttl":"600 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"},{"identifier":"9d5f2ee8-64cc-3b0b-90c1-781b9b4e8aa9","instanceIdentifier":"c02dd5d7-e1a2-31f6-93e2-58477c254679","name":"Redis_DB1: Calculator","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"1.20.0"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"#{IP}:6379","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Pool - Min Idle":"0","Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"1","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f5a98273-033b-3d7f-aa8e-66af991bf710"}],"variables":{},"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"MiKo_config":{"name":"MiKo_config","parameters":[{"name":"IP","description":"","sensitive":false,"provided":false,"value":"192.168.1.183"},{"name":"Access Key ID","description":"","sensitive":true,"provided":false},{"name":"Secret Access Key","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}