Solutions/task3-NiFi_processors.json
{"flowContents":{"identifier":"85be2dc8-6816-3aab-90e9-851b941599a5","instanceIdentifier":"962234ae-0192-1000-6dcb-ad989cd6aec0","name":"NiFi_processors","comments":"","position":{"x":760.0,"y":296.0},"processGroups":[{"identifier":"cee4db56-0b51-3206-8f4f-606b2fd27534","instanceIdentifier":"967c45e1-0192-1000-5784-79d4e75ae61f","name":"replaceTest","comments":"","position":{"x":824.0,"y":1776.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"420aa406-8a0a-3cf2-b665-1a9e043f3812","instanceIdentifier":"967b8a0a-0192-1000-2b69-2f9715aca9f5","name":"ReplaceText","comments":"","position":{"x":32.0,"y":2200.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Regular Expression":"}\"","Replacement Value":"}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"ae696af4-ce26-3df4-b890-3dc8a7541f0c","instanceIdentifier":"9679ced6-0192-1000-68d2-256793917e13","name":"ReplaceText","comments":"","position":{"x":24.0,"y":1736.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Regular Expression":"\\","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"2c3f2c91-e077-35c9-bbb6-b3d00c48b41c","instanceIdentifier":"967b18e1-0192-1000-588d-80f6d1cd35af","name":"ReplaceText","comments":"","position":{"x":24.0,"y":1992.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Regular Expression":"\"{","Replacement Value":"{","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"inputPorts":[{"identifier":"d0412613-5a52-3f4d-8e17-312519f8b42f","instanceIdentifier":"967ce4c7-0192-1000-d4f6-74b56d7fca06","name":"input","position":{"x":72.0,"y":1552.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"outputPorts":[{"identifier":"6b04e569-1459-34b0-8a77-59cb84eb7220","instanceIdentifier":"967d0014-0192-1000-debb-f96f208d8797","name":"output","position":{"x":80.0,"y":2488.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"connections":[{"identifier":"414eae84-0b60-3829-8709-3618e63517ce","instanceIdentifier":"967bf694-0192-1000-ddab-f1290ac4d05a","name":"","source":{"id":"420aa406-8a0a-3cf2-b665-1a9e043f3812","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"967b8a0a-0192-1000-2b69-2f9715aca9f5"},"destination":{"id":"00636a39-2ef3-393d-98ae-8a7c1f339170","type":"FUNNEL","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"Funnel","comments":"","instanceIdentifier":"967be843-0192-1000-9d10-c79dc4852793"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"caaff7e6-1843-331d-addb-6a794d5a7654","instanceIdentifier":"967d251d-0192-1000-0c3f-782458f41f68","name":"","source":{"id":"420aa406-8a0a-3cf2-b665-1a9e043f3812","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"967b8a0a-0192-1000-2b69-2f9715aca9f5"},"destination":{"id":"6b04e569-1459-34b0-8a77-59cb84eb7220","type":"OUTPUT_PORT","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"output","instanceIdentifier":"967d0014-0192-1000-debb-f96f208d8797"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"20f9cba9-f3df-3bd5-b70e-e1c5939eaeab","instanceIdentifier":"967be1c2-0192-1000-f189-752e36abf54a","name":"","source":{"id":"2c3f2c91-e077-35c9-bbb6-b3d00c48b41c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"967b18e1-0192-1000-588d-80f6d1cd35af"},"destination":{"id":"c307fff2-d178-355d-87d7-a098a1ad36f0","type":"FUNNEL","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"Funnel","comments":"","instanceIdentifier":"967bd370-0192-1000-5a21-37505dce4c31"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"22ef1f23-2eac-30e4-accc-40a03e0837c9","instanceIdentifier":"967d142c-0192-1000-8727-d24fb54bc13a","name":"","source":{"id":"d0412613-5a52-3f4d-8e17-312519f8b42f","type":"INPUT_PORT","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"input","instanceIdentifier":"967ce4c7-0192-1000-d4f6-74b56d7fca06"},"destination":{"id":"ae696af4-ce26-3df4-b890-3dc8a7541f0c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"9679ced6-0192-1000-68d2-256793917e13"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"abd43268-d155-362d-87c2-f9dbe8d11cea","instanceIdentifier":"967a4b20-0192-1000-6b82-db3ef8d5d763","name":"","source":{"id":"ae696af4-ce26-3df4-b890-3dc8a7541f0c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"9679ced6-0192-1000-68d2-256793917e13"},"destination":{"id":"3df9082d-c32b-3d52-bed9-b5be2ebbe890","type":"FUNNEL","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"Funnel","comments":"","instanceIdentifier":"967a3b67-0192-1000-15db-78dc9ca5c8d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"8f5968fd-b9b5-3ed8-9cd7-85a6e047fb85","instanceIdentifier":"967bcd28-0192-1000-254a-dc9af43337ca","name":"","source":{"id":"ae696af4-ce26-3df4-b890-3dc8a7541f0c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"9679ced6-0192-1000-68d2-256793917e13"},"destination":{"id":"2c3f2c91-e077-35c9-bbb6-b3d00c48b41c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"967b18e1-0192-1000-588d-80f6d1cd35af"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"7c09a0a1-21d8-3f82-9f5d-195ab9ce225e","instanceIdentifier":"967bbea8-0192-1000-c1b0-ebe4c5a662ae","name":"","source":{"id":"2c3f2c91-e077-35c9-bbb6-b3d00c48b41c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"967b18e1-0192-1000-588d-80f6d1cd35af"},"destination":{"id":"420aa406-8a0a-3cf2-b665-1a9e043f3812","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"967b8a0a-0192-1000-2b69-2f9715aca9f5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"labels":[],"funnels":[{"identifier":"00636a39-2ef3-393d-98ae-8a7c1f339170","instanceIdentifier":"967be843-0192-1000-9d10-c79dc4852793","position":{"x":-288.0,"y":2232.0},"componentType":"FUNNEL","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"c307fff2-d178-355d-87d7-a098a1ad36f0","instanceIdentifier":"967bd370-0192-1000-5a21-37505dce4c31","position":{"x":-288.0,"y":2024.0},"componentType":"FUNNEL","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"3df9082d-c32b-3d52-bed9-b5be2ebbe890","instanceIdentifier":"967a3b67-0192-1000-15db-78dc9ca5c8d6","position":{"x":-288.0,"y":1784.0},"componentType":"FUNNEL","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"}],"remoteProcessGroups":[],"processors":[{"identifier":"ef23791b-2333-35d1-86f4-9b8d18340b24","instanceIdentifier":"9648dc9b-0192-1000-7a3a-12b182d23826","name":"EvaluateJsonPath","comments":"","position":{"x":816.0,"y":1288.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","surname":"$.surname","Return Type":"auto-detect","name":"$.name","Null Value Representation":"empty string","position":"$.position","email":"$.email","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"surname":{"name":"surname","displayName":"surname","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"position":{"name":"position","displayName":"position","identifiesControllerService":false,"sensitive":false},"email":{"name":"email","displayName":"email","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"b4d09cd1-65ab-38a0-b0f1-33435400202d","instanceIdentifier":"9630ab7c-0192-1000-08cf-087ae8260176","name":"EvaluateJsonPath","comments":"","position":{"x":816.0,"y":584.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"sourceId":"$.sourceId","Destination":"flowfile-attribute","sourceType":"$.action.sourceType","Return Type":"json","componentDetails.type":"$.action.componentDetails.type","Null Value Representation":"empty string","sourceName":"$.action.sourceName","userIdentity":"$.action.userIdentity","actionDetails":"$.action.actionDetails","operation":"$.action.operation","Path Not Found Behavior":"ignore","timestamp":"$.timestamp"},"propertyDescriptors":{"sourceId":{"name":"sourceId","displayName":"sourceId","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"sourceType":{"name":"sourceType","displayName":"sourceType","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"componentDetails.type":{"name":"componentDetails.type","displayName":"componentDetails.type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"sourceName":{"name":"sourceName","displayName":"sourceName","identifiesControllerService":false,"sensitive":false},"userIdentity":{"name":"userIdentity","displayName":"userIdentity","identifiesControllerService":false,"sensitive":false},"actionDetails":{"name":"actionDetails","displayName":"actionDetails","identifiesControllerService":false,"sensitive":false},"operation":{"name":"operation","displayName":"operation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"6ae274d8-fb4c-377c-8ddf-0a9c758c67b5","instanceIdentifier":"964ddddd-0192-1000-9c8f-beb3882195b9","name":"ConvertAvroToJSON","comments":"","position":{"x":824.0,"y":1072.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.20.0"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"18b529e5-0600-3745-8e9e-79c9c9f6b109","instanceIdentifier":"96ccc186-0192-1000-5a66-837dbc128634","name":"LogMessage","comments":"","position":{"x":1456.0,"y":2048.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":"unable to process - escaping actionDetails","log-level":"info","log-prefix":"FLOW_MESSAGE_from_JoltTransformJSON"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"c6831960-47ac-3db8-870a-2b37bdcebb24","instanceIdentifier":"96acd0ea-0192-1000-04a6-0be550035054","name":"LogAttribute","comments":"","position":{"x":856.0,"y":2496.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Log prefix":"FLOW_MESSAGE","character-set":"UTF-8","Log FlowFile Properties":"false","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"email, operation","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"2ead445d-6bfe-3e5e-951d-181e3be78c6f","instanceIdentifier":"96676a36-0192-1000-3667-f601c60cf151","name":"GenerateFlowFile","comments":"","position":{"x":1372.0,"y":611.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n\"id\": 140,\n\"timestamp\": \"10/16/2024 16:22:46 UTC\",\n\"sourceId\": \"96226d34-0192-1000-61c2-a6258b754575\",\n\"canRead\": true,\n\"action\": {\n\"id\": 140,\n\"userIdentity\": \"anonymous\",\n\"timestamp\": \"10/16/2024 16:22:46 UTC\",\n\"sourceId\": \"96226d34-0192-1000-61c2-a6258b754575\",\n\"sourceName\": \"InvokeHTTP\",\n\"sourceType\": \"Processor\",\n\"componentDetails\": {\n\"type\": \"InvokeHTTP\"\n},\n\"operation\": \"Configure\",\n\"actionDetails\": {\n\"name\": \"Remote URL\",\n\"value\": \"http://192.168.1.182:8080/nifi-api/processors\"\n}\n}\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"3d993889-cd4a-35b5-93b8-970f61423d70","instanceIdentifier":"96c6e784-0192-1000-026a-1853de8a829d","name":"AttributesToJSON","comments":"","position":{"x":128.0,"y":2016.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"actionDetails","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","instanceIdentifier":"962f8e8c-0192-1000-5008-05825e611051","name":"SplitJson","comments":"","position":{"x":816.0,"y":328.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.history.actions.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","instanceIdentifier":"96440881-0192-1000-d3e7-8c3b9baab8a6","name":"JoltTransformJSON","comments":"","position":{"x":840.0,"y":2040.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"OperationPerformed\": {\n        \"actionDetails\" : \"actionDetails\"     }\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n    \"Personal\" : {\n        \"CK\" : \"${userIdentity}\",\n        \"Name\" : \"${name}\",\n        \"Surname\" : \"${surname}\",\n        \"Email\" : \"${email}\",\n        \"Position\" : \"${position}\"\n    },\n    \"Object\" : {\n        \"componentDetailsType\" : \"${componentDetails.type}\",\n        \"sourceId\" : \"${sourceId}\",\n        \"sourceName\" : \"${sourceName}\",\n        \"sourceType\" : \"${sourceType}\"\t\n    },\n    \"Timestamp\" : \"${timestamp}\",\n    \"OperationPerformed\" : {\n        \"Operation\" : \"${operation}\"\n    }\n}\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"b97d6e72-3f07-3f40-a0e9-820dfae3de7e","instanceIdentifier":"96732e3c-0192-1000-da8b-0d1f58283e1b","name":"PublishKafka_2_6","comments":"","position":{"x":848.0,"y":2256.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"192.168.1.182:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"NiFi_history","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"cfae1a3b-a516-351c-a066-551794a830cd","instanceIdentifier":"9677b53f-0192-1000-c09e-ff51f4d65352","name":"AttributesToJSON","comments":"","position":{"x":824.0,"y":1520.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"actionDetails","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","instanceIdentifier":"96226d34-0192-1000-61c2-a6258b754575","name":"InvokeHTTP","comments":"","position":{"x":808.0,"y":72.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://192.168.1.182:8080/nifi-api/flow/history?count=250&offset=0","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"25b70e04-3ff4-3d1c-b924-a88d553ce175","instanceIdentifier":"96345adc-0192-1000-0531-9eeb32868c68","name":"ExecuteSQL","comments":"","position":{"x":821.0,"y":821.5},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"253909a1-07b1-37af-898b-751b0ca37364","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM users WHERE ck = '${userIdentity}';","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"388c4c4e-62ad-3f9a-a51a-cd6dd779ebfe","instanceIdentifier":"9634701b-0192-1000-76ba-4a3e7289c088","name":"","source":{"id":"b4d09cd1-65ab-38a0-b0f1-33435400202d","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9630ab7c-0192-1000-08cf-087ae8260176"},"destination":{"id":"25b70e04-3ff4-3d1c-b924-a88d553ce175","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"ExecuteSQL","comments":"","instanceIdentifier":"96345adc-0192-1000-0531-9eeb32868c68"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"91fa9bd1-463b-3a36-bebc-18e2cfd31ba6","instanceIdentifier":"962faf6b-0192-1000-bc5f-47a774f28b58","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"InvokeHTTP","comments":"","instanceIdentifier":"96226d34-0192-1000-61c2-a6258b754575"},"destination":{"id":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"SplitJson","comments":"","instanceIdentifier":"962f8e8c-0192-1000-5008-05825e611051"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"ef288b7d-eaf6-34f4-9a29-5fe4c2327f11","instanceIdentifier":"96c7465c-0192-1000-6547-29f35e78c584","name":"","source":{"id":"3d993889-cd4a-35b5-93b8-970f61423d70","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"AttributesToJSON","comments":"","instanceIdentifier":"96c6e784-0192-1000-026a-1853de8a829d"},"destination":{"id":"a8e45834-0c63-3df8-8dbc-ff8b554a8e28","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"967352ed-0192-1000-d6ea-0271c597aad7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"8aaf348b-e4c2-3dab-acbd-545b5f0833f3","instanceIdentifier":"96cdfee6-0192-1000-25e4-73156a81ac9b","name":"","source":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"JoltTransformJSON","comments":"","instanceIdentifier":"96440881-0192-1000-d3e7-8c3b9baab8a6"},"destination":{"id":"18b529e5-0600-3745-8e9e-79c9c9f6b109","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"LogMessage","comments":"","instanceIdentifier":"96ccc186-0192-1000-5a66-837dbc128634"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"ea796202-55de-33d9-b488-4cf78bae30b2","instanceIdentifier":"9630e48a-0192-1000-51c7-f3b2de9e3dbf","name":"","source":{"id":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"SplitJson","comments":"","instanceIdentifier":"962f8e8c-0192-1000-5008-05825e611051"},"destination":{"id":"3139ea54-2949-3e71-b177-3aa16c993d3e","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"9630c714-0192-1000-baf1-73e3a15a7c28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":640.0,"y":328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"d13b5bcc-55ce-3718-88e7-1a01ca8529eb","instanceIdentifier":"96738ca7-0192-1000-232d-f2f3f14cada2","name":"","source":{"id":"b97d6e72-3f07-3f40-a0e9-820dfae3de7e","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"96732e3c-0192-1000-da8b-0d1f58283e1b"},"destination":{"id":"99f94a35-66f3-36f2-aec3-caecea2bb001","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"96736797-0192-1000-e433-341e9a6f41fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"c27d1a81-205c-3381-ada9-c958bd9c7db6","instanceIdentifier":"96ada46e-0192-1000-0cf1-b139ed516fb9","name":"","source":{"id":"c6831960-47ac-3db8-870a-2b37bdcebb24","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"LogAttribute","comments":"","instanceIdentifier":"96acd0ea-0192-1000-04a6-0be550035054"},"destination":{"id":"2bc151d3-b1b1-3265-b3fd-42b95fbd9f08","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"96736d47-0192-1000-c35f-da2ec537f19c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"7e44dec6-2bb4-326a-85f0-7c70bcf34fde","instanceIdentifier":"962fe923-0192-1000-d3ce-1a55b15878e7","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"InvokeHTTP","comments":"","instanceIdentifier":"96226d34-0192-1000-61c2-a6258b754575"},"destination":{"id":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"962fb90b-0192-1000-ed21-0ee51da0d190"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":704.0,"y":203.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"f755be8d-e823-30a0-9f6f-6c38562b8194","instanceIdentifier":"9667a898-0192-1000-b358-bd3aade2b0ad","name":"","source":{"id":"2ead445d-6bfe-3e5e-951d-181e3be78c6f","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"GenerateFlowFile","comments":"","instanceIdentifier":"96676a36-0192-1000-3667-f601c60cf151"},"destination":{"id":"b4d09cd1-65ab-38a0-b0f1-33435400202d","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9630ab7c-0192-1000-08cf-087ae8260176"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"6c982d98-9d80-38ca-b6c3-7a7234d4833d","instanceIdentifier":"964924e7-0192-1000-8e10-3570a10d6594","name":"","source":{"id":"ef23791b-2333-35d1-86f4-9b8d18340b24","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9648dc9b-0192-1000-7a3a-12b182d23826"},"destination":{"id":"a3a5e830-4892-3bb4-864b-a4709fad6967","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"96491688-0192-1000-a05d-d58030a60300"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":675.1802368164062,"y":1391.1181640625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"ba86e04b-2a78-3fb3-8250-6903573bd424","instanceIdentifier":"96735fa7-0192-1000-e5ad-a4deb541cbdf","name":"","source":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"JoltTransformJSON","comments":"","instanceIdentifier":"96440881-0192-1000-d3e7-8c3b9baab8a6"},"destination":{"id":"3d993889-cd4a-35b5-93b8-970f61423d70","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"AttributesToJSON","comments":"","instanceIdentifier":"96c6e784-0192-1000-026a-1853de8a829d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":672.0,"y":2064.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"798b84c6-1223-35cd-9eca-0d48d188de83","instanceIdentifier":"96348d9a-0192-1000-c020-8d392baad4ca","name":"","source":{"id":"b4d09cd1-65ab-38a0-b0f1-33435400202d","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9630ab7c-0192-1000-08cf-087ae8260176"},"destination":{"id":"5dbe8154-eff6-3ce5-8096-691164b19baf","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"96347993-0192-1000-90a9-5760b9e3e9d8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":640.0,"y":672.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"7c383f9e-b5a8-364c-8d49-54f620933305","instanceIdentifier":"96490d02-0192-1000-f26a-aa55d2853f40","name":"","source":{"id":"ef23791b-2333-35d1-86f4-9b8d18340b24","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9648dc9b-0192-1000-7a3a-12b182d23826"},"destination":{"id":"cfae1a3b-a516-351c-a066-551794a830cd","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"AttributesToJSON","comments":"","instanceIdentifier":"9677b53f-0192-1000-c09e-ff51f4d65352"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"d5a73062-3402-32ad-b457-5bb2dcb1b0b0","instanceIdentifier":"96443d88-0192-1000-826b-61ae510e7647","name":"","source":{"id":"25b70e04-3ff4-3d1c-b924-a88d553ce175","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"ExecuteSQL","comments":"","instanceIdentifier":"96345adc-0192-1000-0531-9eeb32868c68"},"destination":{"id":"84a38509-1e6b-3ce7-96d1-cd7872b25b4b","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"96442e65-0192-1000-231b-01c17c066e25"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"014838d0-c01a-32f8-9db5-6cf3ec10d28f","instanceIdentifier":"9630d65a-0192-1000-3790-4665e890ffd2","name":"","source":{"id":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"SplitJson","comments":"","instanceIdentifier":"962f8e8c-0192-1000-5008-05825e611051"},"destination":{"id":"3139ea54-2949-3e71-b177-3aa16c993d3e","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"9630c714-0192-1000-baf1-73e3a15a7c28"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":640.0,"y":416.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"8e460471-833f-330c-bf2d-b81afc33e8af","instanceIdentifier":"9630beb2-0192-1000-2f68-5592d2a0d7f9","name":"","source":{"id":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"SplitJson","comments":"","instanceIdentifier":"962f8e8c-0192-1000-5008-05825e611051"},"destination":{"id":"b4d09cd1-65ab-38a0-b0f1-33435400202d","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9630ab7c-0192-1000-08cf-087ae8260176"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"e65376ec-b5c5-3e53-891a-a64322c009cd","instanceIdentifier":"9673489f-0192-1000-13d1-4932e508be7b","name":"","source":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"JoltTransformJSON","comments":"","instanceIdentifier":"96440881-0192-1000-d3e7-8c3b9baab8a6"},"destination":{"id":"b97d6e72-3f07-3f40-a0e9-820dfae3de7e","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"96732e3c-0192-1000-da8b-0d1f58283e1b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"780b63ae-931e-33b9-8053-406f48715f64","instanceIdentifier":"962fcd05-0192-1000-4916-3f60063b8fc2","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"InvokeHTTP","comments":"","instanceIdentifier":"96226d34-0192-1000-61c2-a6258b754575"},"destination":{"id":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"962fb90b-0192-1000-ed21-0ee51da0d190"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"bec7da78-6025-31f4-a307-b0f75a9299f9","instanceIdentifier":"962fd9f5-0192-1000-5a6e-11dfc7819a41","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"InvokeHTTP","comments":"","instanceIdentifier":"96226d34-0192-1000-61c2-a6258b754575"},"destination":{"id":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"962fb90b-0192-1000-ed21-0ee51da0d190"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":704.0,"y":53.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"d5b15bf0-1bfb-38ea-97ad-a0d3f37d38c9","instanceIdentifier":"964e0b4a-0192-1000-e6d0-c05778c65ccf","name":"","source":{"id":"6ae274d8-fb4c-377c-8ddf-0a9c758c67b5","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"964ddddd-0192-1000-9c8f-beb3882195b9"},"destination":{"id":"ef23791b-2333-35d1-86f4-9b8d18340b24","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9648dc9b-0192-1000-7a3a-12b182d23826"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"db5bc873-26b8-3ec9-9bf6-4581bf617bf2","instanceIdentifier":"96c70e41-0192-1000-871c-a48d5c5f5de7","name":"","source":{"id":"3d993889-cd4a-35b5-93b8-970f61423d70","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"AttributesToJSON","comments":"","instanceIdentifier":"96c6e784-0192-1000-026a-1853de8a829d"},"destination":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"JoltTransformJSON","comments":"","instanceIdentifier":"96440881-0192-1000-d3e7-8c3b9baab8a6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":656.0,"y":2168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"558244a2-a795-34aa-b8ea-5dfc0a3f0647","instanceIdentifier":"967d41bc-0192-1000-92cf-bff366917c37","name":"","source":{"id":"6b04e569-1459-34b0-8a77-59cb84eb7220","type":"OUTPUT_PORT","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"output","instanceIdentifier":"967d0014-0192-1000-debb-f96f208d8797"},"destination":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"JoltTransformJSON","comments":"","instanceIdentifier":"96440881-0192-1000-d3e7-8c3b9baab8a6"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"18241859-9b09-36ae-aad0-f68563142130","instanceIdentifier":"9649344d-0192-1000-46a8-dab93cd2fa50","name":"","source":{"id":"ef23791b-2333-35d1-86f4-9b8d18340b24","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9648dc9b-0192-1000-7a3a-12b182d23826"},"destination":{"id":"a3a5e830-4892-3bb4-864b-a4709fad6967","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"96491688-0192-1000-a05d-d58030a60300"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":667.1802368164062,"y":1287.1181640625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"3d1c2508-b2d2-357a-a3ae-7dca07b3e5f4","instanceIdentifier":"967828a6-0192-1000-c6ea-9dabace5c595","name":"","source":{"id":"cfae1a3b-a516-351c-a066-551794a830cd","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"AttributesToJSON","comments":"","instanceIdentifier":"9677b53f-0192-1000-c09e-ff51f4d65352"},"destination":{"id":"684c3083-f6a7-37b4-9f24-304425f1f602","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"96781691-0192-1000-22a1-17fbb262ac4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"c660620c-bd6d-3b31-bd62-d813d813c3af","instanceIdentifier":"96441ddb-0192-1000-a712-5ba2af1b7182","name":"","source":{"id":"25b70e04-3ff4-3d1c-b924-a88d553ce175","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"ExecuteSQL","comments":"","instanceIdentifier":"96345adc-0192-1000-0531-9eeb32868c68"},"destination":{"id":"6ae274d8-fb4c-377c-8ddf-0a9c758c67b5","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"964ddddd-0192-1000-9c8f-beb3882195b9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"f18b9eb3-3ca2-3e54-873c-df15cc2390a0","instanceIdentifier":"96349f6c-0192-1000-a7e4-eea32e338c86","name":"","source":{"id":"b4d09cd1-65ab-38a0-b0f1-33435400202d","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9630ab7c-0192-1000-08cf-087ae8260176"},"destination":{"id":"5dbe8154-eff6-3ce5-8096-691164b19baf","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"96347993-0192-1000-90a9-5760b9e3e9d8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":632.0,"y":568.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"c82a5130-7eab-3c3e-91c8-5ea98bd58142","instanceIdentifier":"96300139-0192-1000-7a6d-7226db0cdf1b","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"InvokeHTTP","comments":"","instanceIdentifier":"96226d34-0192-1000-61c2-a6258b754575"},"destination":{"id":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","type":"FUNNEL","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"Funnel","comments":"","instanceIdentifier":"962fb90b-0192-1000-ed21-0ee51da0d190"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":704.0,"y":-22.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"c306d36c-b6ce-3901-b516-76c42bd979e4","instanceIdentifier":"96737ef1-0192-1000-e1f9-20a2fa5bf70f","name":"","source":{"id":"b97d6e72-3f07-3f40-a0e9-820dfae3de7e","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"96732e3c-0192-1000-da8b-0d1f58283e1b"},"destination":{"id":"c6831960-47ac-3db8-870a-2b37bdcebb24","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"LogAttribute","comments":"","instanceIdentifier":"96acd0ea-0192-1000-04a6-0be550035054"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"44bbe5ca-16cd-3b5b-b251-9f93f7589bf3","instanceIdentifier":"9677d4ec-0192-1000-c764-9f1a3cef7a5f","name":"","source":{"id":"cfae1a3b-a516-351c-a066-551794a830cd","type":"PROCESSOR","groupId":"85be2dc8-6816-3aab-90e9-851b941599a5","name":"AttributesToJSON","comments":"","instanceIdentifier":"9677b53f-0192-1000-c09e-ff51f4d65352"},"destination":{"id":"d0412613-5a52-3f4d-8e17-312519f8b42f","type":"INPUT_PORT","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"input","instanceIdentifier":"967ce4c7-0192-1000-d4f6-74b56d7fca06"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"}],"labels":[],"funnels":[{"identifier":"3139ea54-2949-3e71-b177-3aa16c993d3e","instanceIdentifier":"9630c714-0192-1000-baf1-73e3a15a7c28","position":{"x":392.0,"y":352.0},"componentType":"FUNNEL","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"684c3083-f6a7-37b4-9f24-304425f1f602","instanceIdentifier":"96781691-0192-1000-22a1-17fbb262ac4c","position":{"x":527.567669442382,"y":1586.4141938912396},"componentType":"FUNNEL","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","instanceIdentifier":"962fb90b-0192-1000-ed21-0ee51da0d190","position":{"x":400.0,"y":96.0},"componentType":"FUNNEL","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"a8e45834-0c63-3df8-8dbc-ff8b554a8e28","instanceIdentifier":"967352ed-0192-1000-d6ea-0271c597aad7","position":{"x":-176.0,"y":2072.0},"componentType":"FUNNEL","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"a3a5e830-4892-3bb4-864b-a4709fad6967","instanceIdentifier":"96491688-0192-1000-a05d-d58030a60300","position":{"x":472.0,"y":1352.0},"componentType":"FUNNEL","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"2bc151d3-b1b1-3265-b3fd-42b95fbd9f08","instanceIdentifier":"96736d47-0192-1000-c35f-da2ec537f19c","position":{"x":1008.0,"y":2760.0},"componentType":"FUNNEL","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"99f94a35-66f3-36f2-aec3-caecea2bb001","instanceIdentifier":"96736797-0192-1000-e433-341e9a6f41fe","position":{"x":528.0,"y":2304.0},"componentType":"FUNNEL","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"5dbe8154-eff6-3ce5-8096-691164b19baf","instanceIdentifier":"96347993-0192-1000-90a9-5760b9e3e9d8","position":{"x":400.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"},{"identifier":"84a38509-1e6b-3ce7-96d1-cd7872b25b4b","instanceIdentifier":"96442e65-0192-1000-231b-01c17c066e25","position":{"x":429.0,"y":885.5},"componentType":"FUNNEL","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"}],"controllerServices":[{"identifier":"253909a1-07b1-37af-898b-751b0ca37364","instanceIdentifier":"96445860-0192-1000-a621-5e2480acc4f2","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.20.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://192.168.1.182:5432/nifi_db?stringtype=unspecified","dbcp-time-between-eviction-runs":"-1","Database User":"user","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/VOLUME/postgresql-42.7.3.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85be2dc8-6816-3aab-90e9-851b941599a5"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}