Solutions/task5-Twitter_API.json
{"flowContents":{"identifier":"1b5d0ce2-021a-3512-a333-ad6865188093","instanceIdentifier":"50e01ead-0193-1000-6ee4-b8fb793c6bbf","name":"task5-Twitter_API","comments":"","position":{"x":-3148.5,"y":1599.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"86c454f0-b1ac-3628-a5c3-d5030e90920d","instanceIdentifier":"714fac80-52a4-36e2-cb06-10b19cd7582a","name":"UpdateAttribute","comments":"","position":{"x":272.0,"y":1216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"subjectivity":"${output:jsonPath(\"$[1]\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"polarity":"${output:jsonPath(\"$[0]\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"subjectivity":{"name":"subjectivity","displayName":"subjectivity","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"polarity":{"name":"polarity","displayName":"polarity","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"7bf10874-06d4-352f-94fc-20b48b0b4a32","instanceIdentifier":"a21ef9ed-5dec-3946-5496-8d86c96ff55c","name":"ExecuteStreamCommand","comments":"","position":{"x":272.0,"y":936.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"python3","Working Directory":null,"Output Destination Attribute":"output","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/script.py; \"${text}\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"c3ffa12f-ef5b-3bd8-a765-9e1650f22bdd","instanceIdentifier":"897a4a4e-42b5-38be-ed10-988cdb1b4317","name":"GenerateFlowFile","comments":"","position":{"x":264.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"087d8c57-3bde-34f7-9d37-b4db8a94f416","instanceIdentifier":"4f2b8956-e9fd-31b4-dc1b-4ef1ae27116a","name":"GenerateFlowFile","comments":"","position":{"x":760.0,"y":128.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n  \"data\": [\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572466552594720\"\n      ],\n      \"text\": \"RT @BitcoinCashTV: Make America Wealthy Again!\\n\\nEveryone that joins will make $$$:\\nhttps://t.co/ACxPsRh6Ub\\n\\nJoin the MAHA movement by recei…\",\n      \"id\": \"1854572466552594720\"\n    },\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572466024464886\"\n      ],\n      \"text\": \"RT @PracticingDegen: Got my @Bitmenxyz sitting next to my other grails right where they belong \uD83C\uDFC6\\n\\nAre those Moggers? #Mog #Bitcoin https://…\",\n      \"id\": \"1854572466024464886\"\n    },\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572466016076181\"\n      ],\n      \"text\": \"RT @missbaddieella1: Kudos to @colend_xyz, a pioneering Core-native BTCFi project revolutionizing Bitcoin's utility!\\\"\",\n      \"id\": \"1854572466016076181\"\n    },\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572465655001357\"\n      ],\n      \"text\": \"@cb_doge “study #bitcoin”\",\n      \"id\": \"1854572465655001357\"\n    },\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572464178970964\"\n      ],\n      \"text\": \"RT @gerardirie: Le Pi n’a pas besoin des échanges, mais eux doivent lister le Pi. Une fois intégré, il servira de stablecoin, permettant au…\",\n      \"id\": \"1854572464178970964\"\n    },\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572463583015387\"\n      ],\n      \"text\": \"RT @Dennis_Porter_: Increased my Bitcoin stack by the largest amount in years yesterday. \\n\\n$67k is cheap. I will continue to buy if we sit…\",\n      \"id\": \"1854572463583015387\"\n    },\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572463385952679\"\n      ],\n      \"text\": \"RT @ZssBecker: I mean the US government has stated they are going to have a Bitcoin reserve.\\n\\nJust hold. Do nothing. We've won.\",\n      \"id\": \"1854572463385952679\"\n    },\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572463197176019\"\n      ],\n      \"text\": \"RT @BitcoinCity2140: SYSTEM ALERT: ADMIN MESSAGE\\n[Year: 2140 | Bitcoin Core Ver. 27.0 | BTC-CITY-NET]\\n[MANIFEST ENCRYPTED - DECRYPTION COMP…\",\n      \"id\": \"1854572463197176019\"\n    },\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572463084229109\"\n      ],\n      \"text\": \"RT @bool_official: \uD83C\uDF89 Congratulations to @realDonaldTrump on his successful presidential campaign! \uD83C\uDDFA\uD83C\uDDF8\\n\\n\uD83D\uDCAA His continued support for blockchai…\",\n      \"id\": \"1854572463084229109\"\n    },\n    {\n      \"edit_history_tweet_ids\": [\n        \"1854572462601539782\"\n      ],\n      \"text\": \"RT @bitcoinlfgo: BIG BREAKING \uD83D\uDEA8 \\n\\nTHE GERMAN GOVT THAT SOLD #BITCOIN IS NOW COLLAPSED. \\n\\nPro $Btc Govt likely to form . https://t.co/p21hUQ…\",\n      \"id\": \"1854572462601539782\"\n    }\n  ],\n  \"meta\": {\n    \"newest_id\": \"1854572466552594720\",\n    \"oldest_id\": \"1854572462601539782\",\n    \"result_count\": 10,\n    \"next_token\": \"b26v89c19zqg8o3frr0ssd2pq1ap1z7yoj950wjohfddp\"\n  }\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"211bb918-f411-3b08-b62d-b59f55c87cf9","instanceIdentifier":"a9d59857-1c38-37a8-6306-0359e10e85bf","name":"InvokeHTTP","comments":"","position":{"x":272.0,"y":128.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"Bearer [Token]","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.twitter.com/2/tweets/search/recent?query=election&max_results=10","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"05685d84-a4b0-3c77-a0fb-cdda3baa79bf","instanceIdentifier":"f44b690e-6b55-3aa1-e4a8-ac15f23c6e11","name":"PublishKafka_2_6","comments":"","position":{"x":272.0,"y":1736.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"[IP]:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"twitter_sentiment","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"33855ca1-93e7-3307-bd8f-3f87a9fe97ad","instanceIdentifier":"b968efd0-0d50-325f-7d1a-eb99d9a5401a","name":"SplitJson","comments":"","position":{"x":272.0,"y":392.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.data.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"3c7ae771-e39b-3c73-8f8b-521380c6b396","instanceIdentifier":"f9b69a51-f890-3ffc-9c03-ce68a5a30e8b","name":"AttributesToJSON","comments":"","position":{"x":272.0,"y":1464.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"polarity, subjectivity, text, id","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"631f833f-0aff-3d26-bc0f-1648dcb90516","instanceIdentifier":"aa2c0964-4058-367c-57f3-b0b68dd3a571","name":"EvaluateJsonPath","comments":"","position":{"x":272.0,"y":664.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","text":"$.text","id":"$.id","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"text":{"name":"text","displayName":"text","identifiesControllerService":false,"sensitive":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5fde46aa-4b9b-3f10-b786-adae7b755f76","instanceIdentifier":"c3811e6c-f0ae-31b0-0e17-1f3df3d0dcb2","name":"","source":{"id":"33855ca1-93e7-3307-bd8f-3f87a9fe97ad","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"SplitJson","comments":"","instanceIdentifier":"b968efd0-0d50-325f-7d1a-eb99d9a5401a"},"destination":{"id":"35f439b6-11ed-3d8f-aa46-9f702c95a070","type":"FUNNEL","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"Funnel","comments":"","instanceIdentifier":"d18ec674-5647-3f4a-2578-53d9b803d925"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"930db786-892b-3a9d-97a2-18eb12f9e465","instanceIdentifier":"2fa1647b-e16e-3452-6404-d0afd0947c4c","name":"","source":{"id":"05685d84-a4b0-3c77-a0fb-cdda3baa79bf","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"f44b690e-6b55-3aa1-e4a8-ac15f23c6e11"},"destination":{"id":"312c3fae-c177-3e50-94aa-73a100038269","type":"FUNNEL","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"Funnel","comments":"","instanceIdentifier":"9a7eafd0-a78d-33ae-c387-a724a74a7e97"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"99164146-b27d-3209-bd1f-90c9e346b915","instanceIdentifier":"3b3ee5f9-2407-3e3c-aaa8-8d4f3fffe887","name":"","source":{"id":"631f833f-0aff-3d26-bc0f-1648dcb90516","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"aa2c0964-4058-367c-57f3-b0b68dd3a571"},"destination":{"id":"7bf10874-06d4-352f-94fc-20b48b0b4a32","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"a21ef9ed-5dec-3946-5496-8d86c96ff55c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"62b01376-ed1a-3c61-b63f-21cd01917945","instanceIdentifier":"017a81b4-1ff3-364b-f4f6-15c0e10694dd","name":"","source":{"id":"7bf10874-06d4-352f-94fc-20b48b0b4a32","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"a21ef9ed-5dec-3946-5496-8d86c96ff55c"},"destination":{"id":"86c454f0-b1ac-3628-a5c3-d5030e90920d","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"UpdateAttribute","comments":"","instanceIdentifier":"714fac80-52a4-36e2-cb06-10b19cd7582a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"573465ee-04ff-38d8-bd01-f01e15edc317","instanceIdentifier":"8d438960-7515-313e-1129-66cc109df0f2","name":"","source":{"id":"86c454f0-b1ac-3628-a5c3-d5030e90920d","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"UpdateAttribute","comments":"","instanceIdentifier":"714fac80-52a4-36e2-cb06-10b19cd7582a"},"destination":{"id":"3c7ae771-e39b-3c73-8f8b-521380c6b396","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"AttributesToJSON","comments":"","instanceIdentifier":"f9b69a51-f890-3ffc-9c03-ce68a5a30e8b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"7fa3c67a-31c0-3f70-b05b-65015beab91e","instanceIdentifier":"de7b81cf-59c8-366f-0c9d-85cbec0c1216","name":"","source":{"id":"211bb918-f411-3b08-b62d-b59f55c87cf9","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"InvokeHTTP","comments":"","instanceIdentifier":"a9d59857-1c38-37a8-6306-0359e10e85bf"},"destination":{"id":"31214895-0298-38b4-b21e-66b75cd7aa9f","type":"FUNNEL","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"Funnel","comments":"","instanceIdentifier":"7cdb2b93-3eb0-34f1-501c-a44f81274b68"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":112.0,"y":224.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"5c4cb413-042b-3e0d-a9a0-bfd2eae42448","instanceIdentifier":"44478ec4-bd89-3022-6c04-daf41ab329d0","name":"","source":{"id":"3c7ae771-e39b-3c73-8f8b-521380c6b396","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"AttributesToJSON","comments":"","instanceIdentifier":"f9b69a51-f890-3ffc-9c03-ce68a5a30e8b"},"destination":{"id":"07c53b9c-e2e0-3312-baee-de3c22ce18ba","type":"FUNNEL","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"Funnel","comments":"","instanceIdentifier":"d5c84c92-bb0f-3f83-875a-8302e2a7d759"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"e2f2ef0a-16e3-3688-a0dd-bb4065723593","instanceIdentifier":"d4531381-595b-3efd-4144-337e9ae82c8b","name":"","source":{"id":"211bb918-f411-3b08-b62d-b59f55c87cf9","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"InvokeHTTP","comments":"","instanceIdentifier":"a9d59857-1c38-37a8-6306-0359e10e85bf"},"destination":{"id":"31214895-0298-38b4-b21e-66b75cd7aa9f","type":"FUNNEL","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"Funnel","comments":"","instanceIdentifier":"7cdb2b93-3eb0-34f1-501c-a44f81274b68"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":112.0,"y":120.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"a8213b04-e667-3993-88e0-a6a03cb5a30d","instanceIdentifier":"e8262e55-8407-3f2d-043f-354e6ae63609","name":"","source":{"id":"33855ca1-93e7-3307-bd8f-3f87a9fe97ad","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"SplitJson","comments":"","instanceIdentifier":"b968efd0-0d50-325f-7d1a-eb99d9a5401a"},"destination":{"id":"631f833f-0aff-3d26-bc0f-1648dcb90516","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"aa2c0964-4058-367c-57f3-b0b68dd3a571"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"fcbb6075-b4ea-361e-955c-02caa1eeebe6","instanceIdentifier":"521d1b6b-2969-3f15-a925-a0a6cac72636","name":"","source":{"id":"211bb918-f411-3b08-b62d-b59f55c87cf9","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"InvokeHTTP","comments":"","instanceIdentifier":"a9d59857-1c38-37a8-6306-0359e10e85bf"},"destination":{"id":"33855ca1-93e7-3307-bd8f-3f87a9fe97ad","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"SplitJson","comments":"","instanceIdentifier":"b968efd0-0d50-325f-7d1a-eb99d9a5401a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"783a6f67-4a8c-3442-85f2-122d7a4d3d27","instanceIdentifier":"05d1a7ba-40a5-3de4-559c-0ced24fdb59e","name":"","source":{"id":"05685d84-a4b0-3c77-a0fb-cdda3baa79bf","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"f44b690e-6b55-3aa1-e4a8-ac15f23c6e11"},"destination":{"id":"52659f0c-b899-3cdf-8664-71f3550c0490","type":"FUNNEL","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"Funnel","comments":"","instanceIdentifier":"de383ed8-f2f0-394c-36b8-72e311a0cc2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"f014425a-0933-3225-bf7c-e5c24f4a3fe8","instanceIdentifier":"6a313635-a9e5-3cc2-6cfc-297112d29096","name":"","source":{"id":"631f833f-0aff-3d26-bc0f-1648dcb90516","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"aa2c0964-4058-367c-57f3-b0b68dd3a571"},"destination":{"id":"de77ebe0-e340-3c4b-935c-6c3e192b1267","type":"FUNNEL","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"Funnel","comments":"","instanceIdentifier":"d898d396-418e-3657-8937-2e9f88c84629"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"4d08e155-2e9d-3523-994b-4aedca2bdc44","instanceIdentifier":"639ff594-1b53-3e85-eb71-5f1f0e8703fb","name":"","source":{"id":"c3ffa12f-ef5b-3bd8-a765-9e1650f22bdd","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"GenerateFlowFile","comments":"","instanceIdentifier":"897a4a4e-42b5-38be-ed10-988cdb1b4317"},"destination":{"id":"211bb918-f411-3b08-b62d-b59f55c87cf9","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"InvokeHTTP","comments":"","instanceIdentifier":"a9d59857-1c38-37a8-6306-0359e10e85bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"9fde0e38-23dd-31fc-b23a-c2ef9060028f","instanceIdentifier":"1d4bb185-d1d1-3bfb-a98a-9364bfe0fdb7","name":"","source":{"id":"3c7ae771-e39b-3c73-8f8b-521380c6b396","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"AttributesToJSON","comments":"","instanceIdentifier":"f9b69a51-f890-3ffc-9c03-ce68a5a30e8b"},"destination":{"id":"05685d84-a4b0-3c77-a0fb-cdda3baa79bf","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"f44b690e-6b55-3aa1-e4a8-ac15f23c6e11"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"e8a5d9f3-0f45-33fc-96dc-03997d3e4956","instanceIdentifier":"450eed19-4a39-37ab-d4ed-ff1fae897d23","name":"","source":{"id":"087d8c57-3bde-34f7-9d37-b4db8a94f416","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"GenerateFlowFile","comments":"","instanceIdentifier":"4f2b8956-e9fd-31b4-dc1b-4ef1ae27116a"},"destination":{"id":"33855ca1-93e7-3307-bd8f-3f87a9fe97ad","type":"PROCESSOR","groupId":"1b5d0ce2-021a-3512-a333-ad6865188093","name":"SplitJson","comments":"","instanceIdentifier":"b968efd0-0d50-325f-7d1a-eb99d9a5401a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":928.0,"y":336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"}],"labels":[{"identifier":"e5a5182c-2dbe-3828-a484-f5d934d27352","instanceIdentifier":"f8786672-88a7-360f-cd62-90c763f8cd2b","position":{"x":-104.0,"y":-224.0},"label":"Twitter / X posts sentiment analyzer","zIndex":0,"width":720.0,"height":80.0,"style":{"background-color":"#52db30","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"}],"funnels":[{"identifier":"07c53b9c-e2e0-3312-baee-de3c22ce18ba","instanceIdentifier":"d5c84c92-bb0f-3f83-875a-8302e2a7d759","position":{"x":-56.0,"y":1504.0},"componentType":"FUNNEL","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"31214895-0298-38b4-b21e-66b75cd7aa9f","instanceIdentifier":"7cdb2b93-3eb0-34f1-501c-a44f81274b68","position":{"x":-96.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"52659f0c-b899-3cdf-8664-71f3550c0490","instanceIdentifier":"de383ed8-f2f0-394c-36b8-72e311a0cc2a","position":{"x":-56.0,"y":1784.0},"componentType":"FUNNEL","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"35f439b6-11ed-3d8f-aa46-9f702c95a070","instanceIdentifier":"d18ec674-5647-3f4a-2578-53d9b803d925","position":{"x":-88.0,"y":424.0},"componentType":"FUNNEL","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"de77ebe0-e340-3c4b-935c-6c3e192b1267","instanceIdentifier":"d898d396-418e-3657-8937-2e9f88c84629","position":{"x":-80.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"},{"identifier":"312c3fae-c177-3e50-94aa-73a100038269","instanceIdentifier":"9a7eafd0-a78d-33ae-c387-a724a74a7e97","position":{"x":424.0,"y":1992.0},"componentType":"FUNNEL","groupIdentifier":"1b5d0ce2-021a-3512-a333-ad6865188093"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}