Solutions/task4-ServiceNow_inc.json
{"flowContents":{"identifier":"f2df3e95-4946-35bc-af31-9ba008a9c797","instanceIdentifier":"50dbfc8b-0193-1000-31d3-aaad62703877","name":"task4-ServiceNow_inc","comments":"","position":{"x":-2160.0,"y":1288.0},"processGroups":[{"identifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d","instanceIdentifier":"545e307b-7c84-34f0-f1d8-6e8ef31e18ac","name":"INC_from_snow","comments":"","position":{"x":528.0,"y":928.0},"processGroups":[{"identifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9","instanceIdentifier":"4d145650-2ada-3ebf-ccd3-111a93a2499e","name":"get_info_about_caller","comments":"","position":{"x":-576.0,"y":328.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0eb3bfb7-67bf-31b1-afee-ee6223d36529","instanceIdentifier":"c8be6160-fa0d-348f-db01-679fc4b93dec","name":"InvokeHTTP","comments":"","position":{"x":632.0,"y":2360.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${caller_id.link}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"admin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"be9c3117-0e16-38fc-b50f-00119e103bc4","instanceIdentifier":"267a364f-331f-37d4-17bb-3ab218b27d44","name":"EvaluateJsonPath","comments":"","position":{"x":624.0,"y":2656.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"caller_surname":"$.result.last_name","Destination":"flowfile-attribute","caller_name":"$.result.first_name","Return Type":"json","caller_email":"$.result.email","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"caller_surname":{"name":"caller_surname","displayName":"caller_surname","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"caller_name":{"name":"caller_name","displayName":"caller_name","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"caller_email":{"name":"caller_email","displayName":"caller_email","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"inputPorts":[{"identifier":"abc3de90-8a2d-3db7-a2c1-9863ca6cd890","instanceIdentifier":"a58cdb3e-3a00-38d0-24ae-1557abc68672","name":"input","position":{"x":664.0,"y":2200.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"outputPorts":[{"identifier":"893f4aef-52be-3c80-83a2-20e4f783217f","instanceIdentifier":"e725eb42-623e-3cf9-6f1b-888f1ec61a07","name":"output","position":{"x":672.0,"y":2912.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"connections":[{"identifier":"2bd204d8-e81f-37a3-9b51-c16d1beac81f","instanceIdentifier":"aafaecfc-9bd1-3c9d-7f1e-fc8826bbfbdb","name":"","source":{"id":"be9c3117-0e16-38fc-b50f-00119e103bc4","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"267a364f-331f-37d4-17bb-3ab218b27d44"},"destination":{"id":"893f4aef-52be-3c80-83a2-20e4f783217f","type":"OUTPUT_PORT","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"output","instanceIdentifier":"e725eb42-623e-3cf9-6f1b-888f1ec61a07"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"b9bf2c0d-3e61-3e62-94a3-189906183c10","instanceIdentifier":"958abc28-292f-3d05-63ac-29bd888493fb","name":"","source":{"id":"be9c3117-0e16-38fc-b50f-00119e103bc4","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"267a364f-331f-37d4-17bb-3ab218b27d44"},"destination":{"id":"3e0706fa-a669-3a3c-ae57-3e483de318e7","type":"FUNNEL","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"Funnel","comments":"","instanceIdentifier":"289d0f46-91f1-31e8-7502-b1a30e1473f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"c8cd669f-080a-3643-823b-b87e12bfe433","instanceIdentifier":"12da8a2b-9d84-3e47-ac09-61cba2833ec3","name":"","source":{"id":"abc3de90-8a2d-3db7-a2c1-9863ca6cd890","type":"INPUT_PORT","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"input","instanceIdentifier":"a58cdb3e-3a00-38d0-24ae-1557abc68672"},"destination":{"id":"0eb3bfb7-67bf-31b1-afee-ee6223d36529","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"InvokeHTTP","comments":"","instanceIdentifier":"c8be6160-fa0d-348f-db01-679fc4b93dec"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"fd6006bb-e661-3c37-a7be-e09eb47d9cb3","instanceIdentifier":"f11e92dd-43ea-3502-a2b4-20f273d48606","name":"","source":{"id":"0eb3bfb7-67bf-31b1-afee-ee6223d36529","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"InvokeHTTP","comments":"","instanceIdentifier":"c8be6160-fa0d-348f-db01-679fc4b93dec"},"destination":{"id":"0dc71ebb-3e2d-3d0a-9339-08b409bd213a","type":"FUNNEL","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"Funnel","comments":"","instanceIdentifier":"0edfc288-4e15-368c-60ad-fe6120fb71a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"bc2f1375-4de9-34d8-844e-c084e4d1c4a3","instanceIdentifier":"a60081fa-9d26-3238-f357-e9c553b4ffe9","name":"","source":{"id":"0eb3bfb7-67bf-31b1-afee-ee6223d36529","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"InvokeHTTP","comments":"","instanceIdentifier":"c8be6160-fa0d-348f-db01-679fc4b93dec"},"destination":{"id":"be9c3117-0e16-38fc-b50f-00119e103bc4","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"267a364f-331f-37d4-17bb-3ab218b27d44"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"labels":[],"funnels":[{"identifier":"0dc71ebb-3e2d-3d0a-9339-08b409bd213a","instanceIdentifier":"0edfc288-4e15-368c-60ad-fe6120fb71a9","position":{"x":280.0,"y":2384.0},"componentType":"FUNNEL","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"3e0706fa-a669-3a3c-ae57-3e483de318e7","instanceIdentifier":"289d0f46-91f1-31e8-7502-b1a30e1473f2","position":{"x":280.0,"y":2680.0},"componentType":"FUNNEL","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073","instanceIdentifier":"640fc242-079c-3188-f845-395247c00885","name":"AG_details","comments":"","position":{"x":-2432.0,"y":1648.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a7261849-23f7-3487-aa76-b9b3aee82cf1","instanceIdentifier":"0bde7e1b-faa9-3c57-942b-3137d00583ee","name":"EvaluateJsonPath","comments":"","position":{"x":-1024.0,"y":2136.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","AG_email":"$.result.email","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","AG_name":"$.result.name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"AG_email":{"name":"AG_email","displayName":"AG_email","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"AG_name":{"name":"AG_name","displayName":"AG_name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"caec82f9-a09d-38ea-b2fd-c0d47f36dcd4","instanceIdentifier":"8eeb4b2e-8180-3138-2dbc-e0720dbfcf46","name":"InvokeHTTP","comments":"","position":{"x":-1023.0,"y":1865.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${assignment_group:jsonPath(\"$.link\")}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"admin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"inputPorts":[{"identifier":"9dc141e0-a3bc-316d-a725-5a74eab52014","instanceIdentifier":"05a23604-c5e1-3ae4-7f1c-ba11b5570303","name":"input","position":{"x":-968.0,"y":1688.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"outputPorts":[{"identifier":"da102604-a532-316b-bea2-5d18c1a60e96","instanceIdentifier":"8b9d0666-c168-3655-e98e-bf4cc9a4bbe1","name":"output","position":{"x":-960.0,"y":2392.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"connections":[{"identifier":"cd2f3136-6258-3fea-b2fa-7b38da7dafcc","instanceIdentifier":"388e95c3-032e-3467-b38e-7fa017aa9bce","name":"","source":{"id":"caec82f9-a09d-38ea-b2fd-c0d47f36dcd4","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"InvokeHTTP","comments":"","instanceIdentifier":"8eeb4b2e-8180-3138-2dbc-e0720dbfcf46"},"destination":{"id":"3f9db4bf-e7c5-3526-a59f-8b605fde3f51","type":"FUNNEL","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"Funnel","comments":"","instanceIdentifier":"ab12d6cb-808d-3e99-3fa8-7a3154e494dc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"2ed532ef-ce23-30f0-8b7f-6ecdf1b4b82d","instanceIdentifier":"4bb1f215-f6b8-368e-0bf6-700f7a37321d","name":"","source":{"id":"caec82f9-a09d-38ea-b2fd-c0d47f36dcd4","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"InvokeHTTP","comments":"","instanceIdentifier":"8eeb4b2e-8180-3138-2dbc-e0720dbfcf46"},"destination":{"id":"a7261849-23f7-3487-aa76-b9b3aee82cf1","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0bde7e1b-faa9-3c57-942b-3137d00583ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"306377f8-2b4d-3701-9b07-410ca98a3b93","instanceIdentifier":"c4a49033-0ad4-3542-107b-37e34b0df95f","name":"","source":{"id":"9dc141e0-a3bc-316d-a725-5a74eab52014","type":"INPUT_PORT","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"input","instanceIdentifier":"05a23604-c5e1-3ae4-7f1c-ba11b5570303"},"destination":{"id":"caec82f9-a09d-38ea-b2fd-c0d47f36dcd4","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"InvokeHTTP","comments":"","instanceIdentifier":"8eeb4b2e-8180-3138-2dbc-e0720dbfcf46"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"6b3c82c5-2b80-3fef-89cb-6f043ec3871d","instanceIdentifier":"c5704367-ca44-3040-9308-72c205746cdf","name":"","source":{"id":"a7261849-23f7-3487-aa76-b9b3aee82cf1","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0bde7e1b-faa9-3c57-942b-3137d00583ee"},"destination":{"id":"da102604-a532-316b-bea2-5d18c1a60e96","type":"OUTPUT_PORT","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"output","instanceIdentifier":"8b9d0666-c168-3655-e98e-bf4cc9a4bbe1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"ddf34118-ec84-37a7-bb80-144c9185ffb0","instanceIdentifier":"bd9c37d7-fd43-3bed-3c90-96cdc9c71d7d","name":"","source":{"id":"a7261849-23f7-3487-aa76-b9b3aee82cf1","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"0bde7e1b-faa9-3c57-942b-3137d00583ee"},"destination":{"id":"11775627-9281-3852-9701-c9d46815899f","type":"FUNNEL","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"Funnel","comments":"","instanceIdentifier":"94e5b5c7-0505-3f58-d6f9-b8227a052e74"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"labels":[],"funnels":[{"identifier":"11775627-9281-3852-9701-c9d46815899f","instanceIdentifier":"94e5b5c7-0505-3f58-d6f9-b8227a052e74","position":{"x":-1383.0,"y":2153.0},"componentType":"FUNNEL","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"3f9db4bf-e7c5-3526-a59f-8b605fde3f51","instanceIdentifier":"ab12d6cb-808d-3e99-3fa8-7a3154e494dc","position":{"x":-1383.0,"y":1897.0},"componentType":"FUNNEL","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"remoteProcessGroups":[],"processors":[{"identifier":"f1d2f72b-195a-3026-829a-f62e8fe6e6e9","instanceIdentifier":"4e4e2d0e-6bab-32a5-7180-6f002be21fb7","name":"escape_description","comments":"","position":{"x":-568.0,"y":88.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"short_description":"${short_description:escapeJson()}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","description":"${description:escapeJson()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"short_description":{"name":"short_description","displayName":"short_description","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"628bd0c2-b7a9-3a59-b625-5c4a54ef29cc","instanceIdentifier":"2d5c6991-34d2-3aec-e518-55f1f3d5a2c8","name":"UpdateAttribute","comments":"","position":{"x":400.0,"y":872.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","solving_time":"${closed_at:toInstant('yyyy-MM-dd HH:mm:ss', 'GMT'):toNanos():minus(${opened_at:toInstant('yyyy-MM-dd HH:mm:ss', 'GMT'):toNanos()})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"solving_time":{"name":"solving_time","displayName":"solving_time","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","instanceIdentifier":"7f8efff8-2df0-34b9-2aad-d7d2faa9ae74","name":"EvaluateJsonPath","comments":"","position":{"x":-568.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"severity":"$.severity","Destination":"flowfile-attribute","short_description":"$.short_description","closed_at":"$.closed_at","close_code":"$.close_code","assignment_group":"$.assignment_group","Return Type":"json","active":"$.active","description":"$.description","Null Value Representation":"empty string","priority":"$.priority","sys_class_name":"$.sys_class_name","Path Not Found Behavior":"ignore","caller_id.link":"$.caller_id.link","number":"$.number","opened_at":"$.opened_at","caller_id.value":"caller_id.value","resolved_at":"$.resolved_at","assigned_to":"$.assigned_to","assigned_to.value":"$.assigned_to.value"},"propertyDescriptors":{"severity":{"name":"severity","displayName":"severity","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"short_description":{"name":"short_description","displayName":"short_description","identifiesControllerService":false,"sensitive":false},"closed_at":{"name":"closed_at","displayName":"closed_at","identifiesControllerService":false,"sensitive":false},"close_code":{"name":"close_code","displayName":"close_code","identifiesControllerService":false,"sensitive":false},"assignment_group":{"name":"assignment_group","displayName":"assignment_group","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"active":{"name":"active","displayName":"active","identifiesControllerService":false,"sensitive":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"priority":{"name":"priority","displayName":"priority","identifiesControllerService":false,"sensitive":false},"sys_class_name":{"name":"sys_class_name","displayName":"sys_class_name","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"caller_id.link":{"name":"caller_id.link","displayName":"caller_id.link","identifiesControllerService":false,"sensitive":false},"number":{"name":"number","displayName":"number","identifiesControllerService":false,"sensitive":false},"opened_at":{"name":"opened_at","displayName":"opened_at","identifiesControllerService":false,"sensitive":false},"caller_id.value":{"name":"caller_id.value","displayName":"caller_id.value","identifiesControllerService":false,"sensitive":false},"resolved_at":{"name":"resolved_at","displayName":"resolved_at","identifiesControllerService":false,"sensitive":false},"assigned_to":{"name":"assigned_to","displayName":"assigned_to","identifiesControllerService":false,"sensitive":false},"assigned_to.value":{"name":"assigned_to.value","displayName":"assigned_to.value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"e0837116-834a-30b1-9273-b464afefc44b","instanceIdentifier":"3b86b2af-6eff-38f9-c753-13451b19f459","name":"SplitJson","comments":"","position":{"x":-576.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.result.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"754fd156-eb4f-3892-b61c-9ade857f76a2","instanceIdentifier":"bf5b6411-90e5-3309-d837-d7d698e95334","name":"PublishKafka_2_6","comments":"","position":{"x":-2568.0,"y":3224.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"192.168.1.182:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"incidents_active_assigned_person","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"9d52af0e-ba4c-3029-b3ad-e0f3fd174c4d","instanceIdentifier":"123a4e9c-811b-398c-502b-814bad296e79","name":"LogMessage","comments":"","position":{"x":-3584.0,"y":3560.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":"Event successfully sent to user email: Active incident assigned to a user.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"20b32218-8768-3d19-a15a-3665180a4714","instanceIdentifier":"ddc08e19-9461-3cf3-a1cf-c648283b3fd3","name":"LogMessage","comments":"","position":{"x":432.0,"y":2000.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":"Event successfully sent to Kafka: Inactive incident.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"817a3ecd-9b80-3198-87bf-52c8028a5eb9","instanceIdentifier":"039e06c0-12ed-3b8e-9454-0cb4c281b112","name":"ACTIVE","comments":"","position":{"x":-552.0,"y":616.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Routing Strategy":"Route to Property name","active":"${active:equals('true')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"active":{"name":"active","displayName":"active","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"92c13575-290f-3f45-be4e-45b034ced51c","instanceIdentifier":"1a6e9c59-2ff4-3d26-da06-a00e3ae475ed","name":"LogMessage","comments":"","position":{"x":-1600.0,"y":2792.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":"Event successfully sent to Kafka: Active incident not assigned to a user, but has an assignment group.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"5b3987cb-b0e8-3d50-9d60-89aa03bdffaf","instanceIdentifier":"580c92a2-235d-3fbe-2408-b5061c45f853","name":"LogMessage","comments":"","position":{"x":-2560.0,"y":3568.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":"Event successfully sent to Kafka: Active incident assigned to a user.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"9ce549cf-e093-3ccd-aa89-6ced5ebed017","instanceIdentifier":"1e94a6ea-2016-3527-2c1c-b8446c576ea0","name":"USER","comments":"","position":{"x":-2416.0,"y":1992.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Routing Strategy":"Route to Property name","assign":"${assigned_to:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"assign":{"name":"assign","displayName":"assign","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"801b6793-fe2c-32df-a60f-dad9a401d653","instanceIdentifier":"04ce1dcd-7192-3a78-2464-ed3e24eb3897","name":"JoltTransformJSON","comments":"","position":{"x":-1608.0,"y":2216.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"remove\",\n\t\"spec\": {\n\t\t\"*\": \"\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n      \t\"type\" : \"incidents_active_asigned_AG\",\n\t\t\"main details\": {\n\t\t\t\"number\": \"${number}\",\n\t\t\t\"active\": \"${active}\",\n\t\t\t\"priority\": \"${priority}\",\n\t\t\t\"severity\": \"${severity}\",\n\t\t\t\"close_code\": \"${close_code}\"\n\t\t},\n\t\t\"identities\": {\n\t\t\t\"caller\": {\n\t\t\t\t\"name\": \"${caller_name}\",\n\t\t\t\t\"surname\": \"${caller_surname}\",\n\t\t\t\t\"email\": \"${caller_email}\",\n\t\t\t\t\"id\": \"${caller_id.value}\"\n\t\t\t},\n\t\t\t\"assignment_group\": {\n\t\t\t\t\"name\": \"${AG_name}\",\n\t\t\t\t\"email\": \"${AG_email}\",\n\t\t\t\t\"id\": \"${assignment_group.value}\"\n\t\t\t},\n\t\t\t\"assigned_to\": {\n\t\t\t\t\"name\": \"${assignee_name}\",\n\t\t\t\t\"surname\": \"${assignee_surname}\",\n\t\t\t\t\"email\": \"${assignee_email}\",\n\t\t\t\t\"id\": \"${assigned_to.value}\"\n\t\t\t}\n\t\t},\n\t\t\"details\": {\n\t\t\t\"short_description\": \"${short_description}\",\n\t\t\t\"description\": \"${description}\"\n\t\t},\n\t\t\"time details\": {\n\t\t\t\"opened_at\": \"${opened_at}\",\n\t\t\t\"resolved_at\": \"${resolved_at}\",\n\t\t\t\"closed_at\": \"${closed_at}\",\n\t\t\t\"solving_time\": {\n\t\t\t\t\"days\": \"${solving_time_day}\",\n\t\t\t\t\"hours\": \"${solving_time_hours}\",\n\t\t\t\t\"minutes\": \"${solving_time_minutes}\",\n\t\t\t\t\"seconds\": \"${solving_time_sec}\"\n\t\t\t}\n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"2b52e5af-0aca-3fc9-9186-302c5045aedc","instanceIdentifier":"8381864e-9169-372a-2c15-56eac68c6a0b","name":"PublishKafka_2_6","comments":"","position":{"x":-544.0,"y":1960.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"192.168.1.182:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"incidents_active_notAssigned","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"34754252-f859-3710-9463-8698536de2dc","instanceIdentifier":"697dc73a-ee71-3958-a021-a5a881c85336","name":"nonos to D, H, M, S","comments":"","position":{"x":-1352.0,"y":1144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"solving_time_hours":"${solving_time:divide(1000000000):divide(60):divide(60):mod(24)}","Delete Attributes Expression":null,"solving_time_sec":"${solving_time:divide(1000000000):mod(60)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","solving_time_day":"${solving_time:divide(1000000000):divide(60):divide(60):divide(24)}","Stateful Variables Initial Value":null,"solving_time_minutes":"${solving_time:divide(1000000000):divide(60):mod(60)}"},"propertyDescriptors":{"solving_time_hours":{"name":"solving_time_hours","displayName":"solving_time_hours","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"solving_time_sec":{"name":"solving_time_sec","displayName":"solving_time_sec","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"solving_time_day":{"name":"solving_time_day","displayName":"solving_time_day","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"solving_time_minutes":{"name":"solving_time_minutes","displayName":"solving_time_minutes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"5eaca54f-2d21-33a8-b8a0-d0c308fab2b8","instanceIdentifier":"11d34a4a-feca-327b-f849-9bc4b8ef802a","name":"PutEmail","comments":"","position":{"x":-3584.0,"y":3232.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"Hi, \n\nyou have assigned incidents which is still is not resolved. \n\nDetails:\n  - caller email: ${caller_email},\n  - number: \"${number}\",\n  - short_description: \"${short_description}\",","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"#{email}","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"Reminder about assigned incident","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"#{email}","To":"#{email}","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"e2f13a40-8615-3377-8ff7-71f4e929f71c","instanceIdentifier":"89267746-ec48-3d18-ec7c-c5d0b1b86d75","name":"JoltTransformJSON","comments":"","position":{"x":-552.0,"y":1696.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"remove\",\n\t\"spec\": {\n\t\t\"*\": \"\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n      \t\"type\" : \"incidents_active_notAssigned\",\n\t\t\"main details\": {\n\t\t\t\"number\": \"${number}\",\n\t\t\t\"active\": \"${active}\",\n\t\t\t\"priority\": \"${priority}\",\n\t\t\t\"severity\": \"${severity}\",\n\t\t\t\"close_code\": \"${close_code}\"\n\t\t},\n\t\t\"identities\": {\n\t\t\t\"caller\": {\n\t\t\t\t\"name\": \"${caller_name}\",\n\t\t\t\t\"surname\": \"${caller_surname}\",\n\t\t\t\t\"email\": \"${caller_email}\",\n\t\t\t\t\"id\": \"${caller_id.value}\"\n\t\t\t},\n\t\t\t\"assignment_group\": {\n\t\t\t\t\"name\": \"${AG_name}\",\n\t\t\t\t\"email\": \"${AG_email}\",\n\t\t\t\t\"id\": \"${assignment_group.value}\"\n\t\t\t},\n\t\t\t\"assigned_to\": {\n\t\t\t\t\"name\": \"${assignee_name}\",\n\t\t\t\t\"surname\": \"${assignee_surname}\",\n\t\t\t\t\"email\": \"${assignee_email}\",\n\t\t\t\t\"id\": \"${assigned_to.value}\"\n\t\t\t}\n\t\t},\n\t\t\"details\": {\n\t\t\t\"short_description\": \"${short_description}\",\n\t\t\t\"description\": \"${description}\"\n\t\t},\n\t\t\"time details\": {\n\t\t\t\"opened_at\": \"${opened_at}\",\n\t\t\t\"resolved_at\": \"${resolved_at}\",\n\t\t\t\"closed_at\": \"${closed_at}\",\n\t\t\t\"solving_time\": {\n\t\t\t\t\"days\": \"${solving_time_day}\",\n\t\t\t\t\"hours\": \"${solving_time_hours}\",\n\t\t\t\t\"minutes\": \"${solving_time_minutes}\",\n\t\t\t\t\"seconds\": \"${solving_time_sec}\"\n\t\t\t}\n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"92eca4d8-bce2-384b-82dc-205eacb93735","instanceIdentifier":"21752dce-d70c-396e-bf06-08c3fa83f144","name":"PublishKafka_2_6","comments":"","position":{"x":-1600.0,"y":2512.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"192.168.1.182:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"incidents_active_asigned_AG","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"c4d0eb54-b112-315b-b6b0-ee7cd4a49e9f","instanceIdentifier":"6b461243-a3bf-3a75-bb51-0f6a49f9ca12","name":"EvaluateJsonPath","comments":"","position":{"x":-3048.0,"y":2512.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","assignee_surname":"$.result.last_name","assignee_email":"$.result.email","Return Type":"json","Null Value Representation":"empty string","assignee_name":"$.result.first_name","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"assignee_surname":{"name":"assignee_surname","displayName":"assignee_surname","identifiesControllerService":false,"sensitive":false},"assignee_email":{"name":"assignee_email","displayName":"assignee_email","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"assignee_name":{"name":"assignee_name","displayName":"assignee_name","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"d317a601-e404-36ff-b3bb-45f869b2a5cf","instanceIdentifier":"4dc1fa12-7b28-3f96-bedf-9d297afecf87","name":"InvokeHTTP","comments":"","position":{"x":-3048.0,"y":2184.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${assigned_to:jsonPath(\"$.link\")}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"admin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"958c0564-1183-32b7-b2a1-c7efdc9f7326","instanceIdentifier":"c79c55dd-255d-3b34-2eea-459d5fb13c78","name":"JoltTransformJSON","comments":"","position":{"x":-3048.0,"y":2824.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"remove\",\n\t\"spec\": {\n\t\t\"*\": \"\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n      \t\"type\" : \"incidents_active_assigned_person\",\n\t\t\"main details\": {\n\t\t\t\"number\": \"${number}\",\n\t\t\t\"active\": \"${active}\",\n\t\t\t\"priority\": \"${priority}\",\n\t\t\t\"severity\": \"${severity}\",\n\t\t\t\"close_code\": \"${close_code}\"\n\t\t},\n\t\t\"identities\": {\n\t\t\t\"caller\": {\n\t\t\t\t\"name\": \"${caller_name}\",\n\t\t\t\t\"surname\": \"${caller_surname}\",\n\t\t\t\t\"email\": \"${caller_email}\",\n\t\t\t\t\"id\": \"${caller_id.value}\"\n\t\t\t},\n\t\t\t\"assignment_group\": {\n\t\t\t\t\"name\": \"${AG_name}\",\n\t\t\t\t\"email\": \"${AG_email}\",\n\t\t\t\t\"id\": \"${assignment_group.value}\"\n\t\t\t},\n\t\t\t\"assigned_to\": {\n\t\t\t\t\"name\": \"${assignee_name}\",\n\t\t\t\t\"surname\": \"${assignee_surname}\",\n\t\t\t\t\"email\": \"${assignee_email}\",\n\t\t\t\t\"id\": \"${assigned_to.value}\"\n\t\t\t}\n\t\t},\n\t\t\"details\": {\n\t\t\t\"short_description\": \"${short_description}\",\n\t\t\t\"description\": \"${description}\"\n\t\t},\n\t\t\"time details\": {\n\t\t\t\"opened_at\": \"${opened_at}\",\n\t\t\t\"resolved_at\": \"${resolved_at}\",\n\t\t\t\"closed_at\": \"${closed_at}\",\n\t\t\t\"solving_time\": {\n\t\t\t\t\"days\": \"${solving_time_day}\",\n\t\t\t\t\"hours\": \"${solving_time_hours}\",\n\t\t\t\t\"minutes\": \"${solving_time_minutes}\",\n\t\t\t\t\"seconds\": \"${solving_time_sec}\"\n\t\t\t}\n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"fcc7890d-d885-32c7-a46c-efd03d27e671","instanceIdentifier":"08432ad8-3b3c-337f-4011-2efbaefd1e6e","name":"nonos to D, H, M, S","comments":"","position":{"x":408.0,"y":1168.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"solving_time_hours":"${solving_time:divide(1000000000):divide(60):divide(60):mod(24)}","Delete Attributes Expression":null,"solving_time_sec":"${solving_time:divide(1000000000):mod(60)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","solving_time_day":"${solving_time:divide(1000000000):divide(60):divide(60):divide(24)}","Stateful Variables Initial Value":null,"solving_time_minutes":"${solving_time:divide(1000000000):divide(60):mod(60)}"},"propertyDescriptors":{"solving_time_hours":{"name":"solving_time_hours","displayName":"solving_time_hours","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"solving_time_sec":{"name":"solving_time_sec","displayName":"solving_time_sec","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"solving_time_day":{"name":"solving_time_day","displayName":"solving_time_day","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"solving_time_minutes":{"name":"solving_time_minutes","displayName":"solving_time_minutes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"c5ef2bb1-c770-377d-823a-538d55650af5","instanceIdentifier":"d1d565a2-7256-3524-c8fd-01eedd7cefb8","name":"UpdateAttribute","comments":"","position":{"x":-1360.0,"y":864.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","solving_time":"${now():toNumber():multiply(1000000):minus(${opened_at:toInstant('yyyy-MM-dd HH:mm:ss', 'GMT'):toNanos()})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"solving_time":{"name":"solving_time","displayName":"solving_time","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"baca6210-830c-3f9a-b667-7bb0573f7d5a","instanceIdentifier":"f777ee66-7f69-328c-7955-1b4fb85e98af","name":"LogMessage","comments":"","position":{"x":-536.0,"y":2272.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":"Event successfully sent to Kafka: Active incident without user or assignment group.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"c602b600-dc05-36b9-9339-ed15bb98539b","instanceIdentifier":"004b1028-c910-3bfc-5592-c4379050a335","name":"JoltTransformJSON","comments":"","position":{"x":424.0,"y":1440.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[{\n\t\"operation\": \"remove\",\n\t\"spec\": {\n\t\t\"*\": \"\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n      \t\"type\" : \"incidents_notActive\",\n\t\t\"main details\": {\n\t\t\t\"number\": \"${number}\",\n\t\t\t\"active\": \"${active}\",\n\t\t\t\"priority\": \"${priority}\",\n\t\t\t\"severity\": \"${severity}\",\n\t\t\t\"close_code\": \"${close_code}\"\n\t\t},\n\t\t\"identities\": {\n\t\t\t\"caller\": {\n\t\t\t\t\"name\": \"${caller_name}\",\n\t\t\t\t\"surname\": \"${caller_surname}\",\n\t\t\t\t\"email\": \"${caller_email}\",\n\t\t\t\t\"id\": \"${caller_id.value}\"\n\t\t\t},\n\t\t\t\"assignment_group\": {\n\t\t\t\t\"name\": \"${AG_name}\",\n\t\t\t\t\"email\": \"${AG_email}\",\n\t\t\t\t\"id\": \"${assignment_group.value}\"\n\t\t\t},\n\t\t\t\"assigned_to\": {\n\t\t\t\t\"name\": \"${assignee_name}\",\n\t\t\t\t\"surname\": \"${assignee_surname}\",\n\t\t\t\t\"email\": \"${assignee_email}\",\n\t\t\t\t\"id\": \"${assigned_to.value}\"\n\t\t\t}\n\t\t},\n\t\t\"details\": {\n\t\t\t\"short_description\": \"${short_description}\",\n\t\t\t\"description\": \"${description}\"\n\t\t},\n\t\t\"time details\": {\n\t\t\t\"opened_at\": \"${opened_at}\",\n\t\t\t\"resolved_at\": \"${resolved_at}\",\n\t\t\t\"closed_at\": \"${closed_at}\",\n\t\t\t\"solving_time\": {\n\t\t\t\t\"days\": \"${solving_time_day}\",\n\t\t\t\t\"hours\": \"${solving_time_hours}\",\n\t\t\t\t\"minutes\": \"${solving_time_minutes}\",\n\t\t\t\t\"seconds\": \"${solving_time_sec}\"\n\t\t\t}\n\t\t}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"8f17e02d-3ed7-387b-9f22-9fb9ae04fed6","instanceIdentifier":"d308baf3-69ab-3e42-f79a-3ad9ce9e9b2a","name":"AG","comments":"","position":{"x":-1352.0,"y":1432.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Routing Strategy":"Route to Property name","AG_filled":"${assignment_group:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"AG_filled":{"name":"AG_filled","displayName":"AG_filled","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"ea38508b-459a-315b-a9fd-958278034e8f","instanceIdentifier":"66903def-cb7f-3026-dad1-990b15a8157d","name":"PublishKafka_2_6","comments":"","position":{"x":432.0,"y":1720.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"192.168.1.182:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"incidents_notActive","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"inputPorts":[{"identifier":"0e786d4b-e87b-3bd7-a9b3-28d9982a610f","instanceIdentifier":"058b5169-c54e-3929-22fd-a6ef5fd4a60b","name":"incidents_input","position":{"x":-528.0,"y":-616.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"outputPorts":[],"connections":[{"identifier":"678db324-9c9e-3449-a308-263cadb36f79","instanceIdentifier":"51ac5e09-f1b1-36a8-e826-99005ec1b19c","name":"","source":{"id":"817a3ecd-9b80-3198-87bf-52c8028a5eb9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"ACTIVE","comments":"","instanceIdentifier":"039e06c0-12ed-3b8e-9454-0cb4c281b112"},"destination":{"id":"c5ef2bb1-c770-377d-823a-538d55650af5","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"UpdateAttribute","comments":"","instanceIdentifier":"d1d565a2-7256-3524-c8fd-01eedd7cefb8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["active"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1184.0,"y":680.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"f131cd67-440b-35a0-bf22-49c7a6d48298","instanceIdentifier":"086c8913-fec0-3ff6-eae8-1b87f2752150","name":"","source":{"id":"34754252-f859-3710-9463-8698536de2dc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"nonos to D, H, M, S","comments":"","instanceIdentifier":"697dc73a-ee71-3958-a021-a5a881c85336"},"destination":{"id":"8f17e02d-3ed7-387b-9f22-9fb9ae04fed6","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"AG","comments":"","instanceIdentifier":"d308baf3-69ab-3e42-f79a-3ad9ce9e9b2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"aa8ccd4e-0a16-3307-b9e5-c2947cbd9a7e","instanceIdentifier":"19bea8d4-180d-33e6-ea19-a0d89b507928","name":"","source":{"id":"d317a601-e404-36ff-b3bb-45f869b2a5cf","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"InvokeHTTP","comments":"","instanceIdentifier":"4dc1fa12-7b28-3f96-bedf-9d297afecf87"},"destination":{"id":"1daf62f5-ff09-3693-ba85-669abaf7cfed","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"2ac5bad4-fad2-330d-0f98-23a476cdbafe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"2ef9cd88-3d64-38e3-8023-3786bb164e1b","instanceIdentifier":"5ef11a54-1ddd-3eab-624d-d5a9fea55a77","name":"","source":{"id":"8f17e02d-3ed7-387b-9f22-9fb9ae04fed6","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"AG","comments":"","instanceIdentifier":"d308baf3-69ab-3e42-f79a-3ad9ce9e9b2a"},"destination":{"id":"9dc141e0-a3bc-316d-a725-5a74eab52014","type":"INPUT_PORT","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"input","instanceIdentifier":"05a23604-c5e1-3ae4-7f1c-ba11b5570303"},"labelIndex":0,"zIndex":0,"selectedRelationships":["AG_filled"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2240.0,"y":1496.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"0760c05c-f562-3e96-8baa-3a042e8983f3","instanceIdentifier":"767e9942-918b-3eb2-c85f-6c79c0d2f9c5","name":"","source":{"id":"c4d0eb54-b112-315b-b6b0-ee7cd4a49e9f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6b461243-a3bf-3a75-bb51-0f6a49f9ca12"},"destination":{"id":"958c0564-1183-32b7-b2a1-c7efdc9f7326","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c79c55dd-255d-3b34-2eea-459d5fb13c78"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"1d8b1b32-4f61-35e3-9d13-c53f7c2291d8","instanceIdentifier":"cc70eea8-c57c-3dc7-10d3-a94939344788","name":"","source":{"id":"c5ef2bb1-c770-377d-823a-538d55650af5","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"UpdateAttribute","comments":"","instanceIdentifier":"d1d565a2-7256-3524-c8fd-01eedd7cefb8"},"destination":{"id":"34754252-f859-3710-9463-8698536de2dc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"nonos to D, H, M, S","comments":"","instanceIdentifier":"697dc73a-ee71-3958-a021-a5a881c85336"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"7ccdff38-326d-3a3d-af4c-047c1e856ffd","instanceIdentifier":"ec0a2808-a281-3cb6-4cc2-44ebeb72bc47","name":"","source":{"id":"754fd156-eb4f-3892-b61c-9ade857f76a2","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"bf5b6411-90e5-3309-d837-d7d698e95334"},"destination":{"id":"523888a3-38ba-3ee2-a257-f0aff222923f","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"be4a516c-e84b-3fb2-81be-5c26e9e1937d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"8e690e5d-d1f1-3409-9c8e-290dffe9dd74","instanceIdentifier":"6445b3fa-dcd6-31a1-fe07-f2775a7801ae","name":"","source":{"id":"754fd156-eb4f-3892-b61c-9ade857f76a2","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"bf5b6411-90e5-3309-d837-d7d698e95334"},"destination":{"id":"5b3987cb-b0e8-3d50-9d60-89aa03bdffaf","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"580c92a2-235d-3fbe-2408-b5061c45f853"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"3c85c22e-41eb-3c10-8375-bb233b4c0add","instanceIdentifier":"d64a61a5-88e4-350f-27f2-4fc3a3ba6696","name":"","source":{"id":"c602b600-dc05-36b9-9339-ed15bb98539b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"004b1028-c910-3bfc-5592-c4379050a335"},"destination":{"id":"ea38508b-459a-315b-a9fd-958278034e8f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"66903def-cb7f-3026-dad1-990b15a8157d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"f8eca628-2c51-3b2d-8847-92a6cb3f78bc","instanceIdentifier":"91a6d156-c91b-3fe6-f6cc-6a23e563eb93","name":"","source":{"id":"e2f13a40-8615-3377-8ff7-71f4e929f71c","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"89267746-ec48-3d18-ec7c-c5d0b1b86d75"},"destination":{"id":"2b52e5af-0aca-3fc9-9186-302c5045aedc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"8381864e-9169-372a-2c15-56eac68c6a0b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"0890abfe-d7c7-3ff7-b22c-8cbb7419231d","instanceIdentifier":"62f3e180-c11d-3d56-4fbf-0cc6e125af9a","name":"not active","source":{"id":"817a3ecd-9b80-3198-87bf-52c8028a5eb9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"ACTIVE","comments":"","instanceIdentifier":"039e06c0-12ed-3b8e-9454-0cb4c281b112"},"destination":{"id":"628bd0c2-b7a9-3a59-b625-5c4a54ef29cc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"UpdateAttribute","comments":"","instanceIdentifier":"2d5c6991-34d2-3aec-e518-55f1f3d5a2c8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":576.0,"y":680.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"cafb154f-6d4b-31db-b6ec-59af9baac5ec","instanceIdentifier":"6faf20fd-c49c-35cb-fbc2-5fe379214be1","name":"","source":{"id":"893f4aef-52be-3c80-83a2-20e4f783217f","type":"OUTPUT_PORT","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"output","instanceIdentifier":"e725eb42-623e-3cf9-6f1b-888f1ec61a07"},"destination":{"id":"817a3ecd-9b80-3198-87bf-52c8028a5eb9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"ACTIVE","comments":"","instanceIdentifier":"039e06c0-12ed-3b8e-9454-0cb4c281b112"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"703cf2c2-e3fa-382a-83e0-aced04edfc4e","instanceIdentifier":"e23f6d38-54ae-30bf-e71b-76a1d46e8abf","name":"","source":{"id":"d317a601-e404-36ff-b3bb-45f869b2a5cf","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"InvokeHTTP","comments":"","instanceIdentifier":"4dc1fa12-7b28-3f96-bedf-9d297afecf87"},"destination":{"id":"c4d0eb54-b112-315b-b6b0-ee7cd4a49e9f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6b461243-a3bf-3a75-bb51-0f6a49f9ca12"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"36457a4c-22db-39a2-91b9-d393181c814b","instanceIdentifier":"33c896b6-c870-3267-9a54-ae2a1147aa14","name":"","source":{"id":"92eca4d8-bce2-384b-82dc-205eacb93735","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"21752dce-d70c-396e-bf06-08c3fa83f144"},"destination":{"id":"994fb5ae-e100-3b6a-8c12-5abac990e4f1","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"0f8add51-9991-304c-baab-ef09fe7c54e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"8bf505c9-c1f9-3287-8457-74ad602ce327","instanceIdentifier":"44ecb259-8bb4-3a8b-3d61-c29eda393eb0","name":"","source":{"id":"c602b600-dc05-36b9-9339-ed15bb98539b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"004b1028-c910-3bfc-5592-c4379050a335"},"destination":{"id":"888dc6fa-eb17-3524-850a-48c219d5fabd","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"62485ad4-12b1-31a1-c163-f921c2258518"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"a4261de9-5204-35f8-9729-252b7664f303","instanceIdentifier":"bb05f5d5-6018-3c77-8c5c-466f80ab44a4","name":"","source":{"id":"8f17e02d-3ed7-387b-9f22-9fb9ae04fed6","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"AG","comments":"","instanceIdentifier":"d308baf3-69ab-3e42-f79a-3ad9ce9e9b2a"},"destination":{"id":"e2f13a40-8615-3377-8ff7-71f4e929f71c","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"89267746-ec48-3d18-ec7c-c5d0b1b86d75"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-384.0,"y":1496.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"48755b10-bae1-38c2-8a06-b551a2b4fbba","instanceIdentifier":"e3fbfe6e-d586-35c0-36c0-2caf1991c273","name":"","source":{"id":"ea38508b-459a-315b-a9fd-958278034e8f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"66903def-cb7f-3026-dad1-990b15a8157d"},"destination":{"id":"b94b6f42-dc76-383e-bd94-57ac6716743a","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"37c3476e-5176-34c6-8a9a-e4bfd6cb2b2d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"06da91a4-5414-3b4f-bdf3-69ff8f8861a1","instanceIdentifier":"9ebff4c6-1ccb-3d12-35b0-32c18b872ffe","name":"","source":{"id":"958c0564-1183-32b7-b2a1-c7efdc9f7326","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c79c55dd-255d-3b34-2eea-459d5fb13c78"},"destination":{"id":"b1ce0257-db5f-3062-bd64-1a28c1e14020","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"94d58865-fe2f-3388-d1f8-3df155e2b4aa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"23cea8e1-66d9-3bb8-89ec-a947fd854733","instanceIdentifier":"f301f430-83cd-31ca-cbfc-a05c2ec08f7e","name":"","source":{"id":"801b6793-fe2c-32df-a60f-dad9a401d653","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"04ce1dcd-7192-3a78-2464-ed3e24eb3897"},"destination":{"id":"92eca4d8-bce2-384b-82dc-205eacb93735","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"21752dce-d70c-396e-bf06-08c3fa83f144"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"3c115603-65f6-3be2-82bc-2eb2c8a19d8a","instanceIdentifier":"57de86d7-6b8c-3915-941b-0141dcf36b64","name":"","source":{"id":"958c0564-1183-32b7-b2a1-c7efdc9f7326","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c79c55dd-255d-3b34-2eea-459d5fb13c78"},"destination":{"id":"754fd156-eb4f-3892-b61c-9ade857f76a2","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"bf5b6411-90e5-3309-d837-d7d698e95334"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2400.0,"y":3080.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"34a0acd4-f485-340c-97b6-08900bcb9004","instanceIdentifier":"b895f1f8-98a5-31eb-4440-8becabd38ee3","name":"","source":{"id":"ea38508b-459a-315b-a9fd-958278034e8f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"66903def-cb7f-3026-dad1-990b15a8157d"},"destination":{"id":"20b32218-8768-3d19-a15a-3665180a4714","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"ddc08e19-9461-3cf3-a1cf-c648283b3fd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"57a1c691-8b07-39bb-b3c4-6066186626e7","instanceIdentifier":"6326778a-090f-337f-b0a9-8a4f39623d4e","name":"","source":{"id":"fcc7890d-d885-32c7-a46c-efd03d27e671","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"nonos to D, H, M, S","comments":"","instanceIdentifier":"08432ad8-3b3c-337f-4011-2efbaefd1e6e"},"destination":{"id":"c602b600-dc05-36b9-9339-ed15bb98539b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"004b1028-c910-3bfc-5592-c4379050a335"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"07b5124c-9ab2-37ee-8cd7-7772c7bc4662","instanceIdentifier":"f25c1feb-fb39-3573-5634-714fb04f5c86","name":"","source":{"id":"c4d0eb54-b112-315b-b6b0-ee7cd4a49e9f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6b461243-a3bf-3a75-bb51-0f6a49f9ca12"},"destination":{"id":"601f0e4e-b97c-3a63-8c91-8af3de6dfe11","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"f4849348-3464-38d8-30ad-10b2554c18e1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"19559221-d00f-3e9f-ab66-505a3625aee4","instanceIdentifier":"f09dcce1-07a3-3a9d-19e8-56bf88602dfd","name":"","source":{"id":"2b52e5af-0aca-3fc9-9186-302c5045aedc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"8381864e-9169-372a-2c15-56eac68c6a0b"},"destination":{"id":"2166ef5a-1b39-3db7-8171-6d88e0c0884c","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"06bc6656-57b8-3654-38ed-5df48b806580"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"bf567dd5-f1a3-381b-85d4-739b92c88650","instanceIdentifier":"a29d0374-692b-368d-495c-98fd548956d6","name":"empty","source":{"id":"9ce549cf-e093-3ccd-aa89-6ced5ebed017","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"USER","comments":"","instanceIdentifier":"1e94a6ea-2016-3527-2c1c-b8446c576ea0"},"destination":{"id":"801b6793-fe2c-32df-a60f-dad9a401d653","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"04ce1dcd-7192-3a78-2464-ed3e24eb3897"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1432.0,"y":2056.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"2e42a501-f6b9-3963-b69b-959537f8e044","instanceIdentifier":"37127079-f461-346c-8e8a-b61119e9422f","name":"","source":{"id":"9ce549cf-e093-3ccd-aa89-6ced5ebed017","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"USER","comments":"","instanceIdentifier":"1e94a6ea-2016-3527-2c1c-b8446c576ea0"},"destination":{"id":"d317a601-e404-36ff-b3bb-45f869b2a5cf","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"InvokeHTTP","comments":"","instanceIdentifier":"4dc1fa12-7b28-3f96-bedf-9d297afecf87"},"labelIndex":0,"zIndex":0,"selectedRelationships":["assign"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2864.0,"y":2056.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"d5faf4b2-8929-369f-b811-41ac2a5fd6c8","instanceIdentifier":"5fe2d977-1685-373d-8fe2-9d3a7491dae7","name":"","source":{"id":"e2f13a40-8615-3377-8ff7-71f4e929f71c","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"89267746-ec48-3d18-ec7c-c5d0b1b86d75"},"destination":{"id":"d2201fba-fb90-3d4d-9f6e-24259403a2ac","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"716bbd9e-63e3-3e5e-1ddc-9841050e2717"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"0497cdb7-fb60-3847-8ba7-96a28b075023","instanceIdentifier":"d76f677c-aecd-31c2-e25e-df359a050bab","name":"","source":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7f8efff8-2df0-34b9-2aad-d7d2faa9ae74"},"destination":{"id":"3135841c-36c5-3e88-b8c7-f247e099b3f6","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"3a0a1c5b-0bdc-3fd9-fd29-65f748eb2b12"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-752.0,"y":-72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"1395063c-7d22-3515-853d-ae6170b8d412","instanceIdentifier":"94ece0de-ba38-3de3-6009-c58d5f1aa879","name":"","source":{"id":"5eaca54f-2d21-33a8-b8a0-d0c308fab2b8","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PutEmail","comments":"","instanceIdentifier":"11d34a4a-feca-327b-f849-9bc4b8ef802a"},"destination":{"id":"523888a3-38ba-3ee2-a257-f0aff222923f","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"be4a516c-e84b-3fb2-81be-5c26e9e1937d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"669d67aa-ee91-3c48-8ef3-55d69d384903","instanceIdentifier":"91349e72-bfb9-3977-4809-ebe1b3399664","name":"","source":{"id":"5eaca54f-2d21-33a8-b8a0-d0c308fab2b8","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PutEmail","comments":"","instanceIdentifier":"11d34a4a-feca-327b-f849-9bc4b8ef802a"},"destination":{"id":"9d52af0e-ba4c-3029-b3ad-e0f3fd174c4d","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"123a4e9c-811b-398c-502b-814bad296e79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"27b6da69-3440-3f3f-8fed-4a3eac73f87a","instanceIdentifier":"76e3d102-d0c7-3d67-c85c-235669eb8e63","name":"","source":{"id":"2b52e5af-0aca-3fc9-9186-302c5045aedc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"8381864e-9169-372a-2c15-56eac68c6a0b"},"destination":{"id":"baca6210-830c-3f9a-b667-7bb0573f7d5a","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"f777ee66-7f69-328c-7955-1b4fb85e98af"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"a55fd1b4-f633-3b73-8500-175e99569cfd","instanceIdentifier":"e6885cfd-6ead-31bb-570f-7ea63561aa4f","name":"","source":{"id":"628bd0c2-b7a9-3a59-b625-5c4a54ef29cc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"UpdateAttribute","comments":"","instanceIdentifier":"2d5c6991-34d2-3aec-e518-55f1f3d5a2c8"},"destination":{"id":"fcc7890d-d885-32c7-a46c-efd03d27e671","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"nonos to D, H, M, S","comments":"","instanceIdentifier":"08432ad8-3b3c-337f-4011-2efbaefd1e6e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"7d4a5a5c-8bef-3f47-b2f1-6a9fc013cb0c","instanceIdentifier":"c163b893-4f0a-3c93-1eb1-c369f16c865a","name":"","source":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"SplitJson","comments":"","instanceIdentifier":"3b86b2af-6eff-38f9-c753-13451b19f459"},"destination":{"id":"edee9498-4c7d-3a99-8514-4839c138a9ad","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"8d8b2e47-eda6-316a-2282-a994a53d3e1a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"600 sec","prioritizers":[],"bends":[{"x":-752.0,"y":-344.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"68ad8338-3693-375d-8126-aebd85d00f4f","instanceIdentifier":"d3636a36-73a6-3095-4532-e25276055cc6","name":"","source":{"id":"958c0564-1183-32b7-b2a1-c7efdc9f7326","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c79c55dd-255d-3b34-2eea-459d5fb13c78"},"destination":{"id":"5eaca54f-2d21-33a8-b8a0-d0c308fab2b8","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PutEmail","comments":"","instanceIdentifier":"11d34a4a-feca-327b-f849-9bc4b8ef802a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-3408.0,"y":3088.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"38005e8f-c4fd-3718-8768-60a9dcc67d2c","instanceIdentifier":"6ffaaae4-5138-3fb3-e152-9f08304fca10","name":"","source":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7f8efff8-2df0-34b9-2aad-d7d2faa9ae74"},"destination":{"id":"f1d2f72b-195a-3026-829a-f62e8fe6e6e9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"escape_description","comments":"","instanceIdentifier":"4e4e2d0e-6bab-32a5-7180-6f002be21fb7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"9cbae12c-7432-3468-9602-a2f96f5cf339","instanceIdentifier":"1131c87a-275a-32fa-97d1-ad190dc02520","name":"","source":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"SplitJson","comments":"","instanceIdentifier":"3b86b2af-6eff-38f9-c753-13451b19f459"},"destination":{"id":"edee9498-4c7d-3a99-8514-4839c138a9ad","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"8d8b2e47-eda6-316a-2282-a994a53d3e1a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-744.0,"y":-416.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"4a169720-36d4-37f0-ba07-ee42103a83e8","instanceIdentifier":"b39a9c52-0df9-3710-6068-e21f4a83cfd0","name":"","source":{"id":"da102604-a532-316b-bea2-5d18c1a60e96","type":"OUTPUT_PORT","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"output","instanceIdentifier":"8b9d0666-c168-3655-e98e-bf4cc9a4bbe1"},"destination":{"id":"9ce549cf-e093-3ccd-aa89-6ced5ebed017","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"USER","comments":"","instanceIdentifier":"1e94a6ea-2016-3527-2c1c-b8446c576ea0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"936a4ac9-35f5-3165-b213-790ca1275c65","instanceIdentifier":"dc751cb3-354d-3552-f729-c35177895e7d","name":"","source":{"id":"801b6793-fe2c-32df-a60f-dad9a401d653","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"04ce1dcd-7192-3a78-2464-ed3e24eb3897"},"destination":{"id":"e730994c-80a7-3063-9786-6ec966c6fb71","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"d6dc24da-7a35-3e98-e333-469e5dc77893"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"bd15cf85-9876-3208-b22b-8076b9259cb0","instanceIdentifier":"d0a2845f-4578-3302-82da-725dc31b4a4b","name":"","source":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7f8efff8-2df0-34b9-2aad-d7d2faa9ae74"},"destination":{"id":"3135841c-36c5-3e88-b8c7-f247e099b3f6","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"3a0a1c5b-0bdc-3fd9-fd29-65f748eb2b12"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-752.0,"y":-144.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"9f37289c-ab9a-3d4f-aec0-546a21bd4907","instanceIdentifier":"4d4b5816-8bb3-3f02-d215-413fe0e0fec3","name":"","source":{"id":"92eca4d8-bce2-384b-82dc-205eacb93735","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"21752dce-d70c-396e-bf06-08c3fa83f144"},"destination":{"id":"92c13575-290f-3f45-be4e-45b034ced51c","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"1a6e9c59-2ff4-3d26-da06-a00e3ae475ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"df0769c8-d6c0-36e5-b91e-0f8b6e22062b","instanceIdentifier":"4fbf1bcf-94c5-3e80-1cc4-01e51dba8d0a","name":"","source":{"id":"0e786d4b-e87b-3bd7-a9b3-28d9982a610f","type":"INPUT_PORT","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"incidents_input","instanceIdentifier":"058b5169-c54e-3929-22fd-a6ef5fd4a60b"},"destination":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"SplitJson","comments":"","instanceIdentifier":"3b86b2af-6eff-38f9-c753-13451b19f459"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"33c3d16f-170f-39d7-9b23-c391a91c8b77","instanceIdentifier":"c70dc837-f8fe-31b4-375e-0086752ee50e","name":"","source":{"id":"f1d2f72b-195a-3026-829a-f62e8fe6e6e9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"escape_description","comments":"","instanceIdentifier":"4e4e2d0e-6bab-32a5-7180-6f002be21fb7"},"destination":{"id":"abc3de90-8a2d-3db7-a2c1-9863ca6cd890","type":"INPUT_PORT","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"input","instanceIdentifier":"a58cdb3e-3a00-38d0-24ae-1557abc68672"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"d88fcc8c-83eb-3204-86a6-f4f83aad3af4","instanceIdentifier":"6695fdf3-e13f-38e8-e3cd-f2ad935d3cfb","name":"","source":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"SplitJson","comments":"","instanceIdentifier":"3b86b2af-6eff-38f9-c753-13451b19f459"},"destination":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7f8efff8-2df0-34b9-2aad-d7d2faa9ae74"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"labels":[{"identifier":"c1ca262a-f648-3bca-9dba-351da1b29bdb","instanceIdentifier":"8f8c3631-f8cd-3e61-0473-8e462fc604d1","position":{"x":320.0,"y":600.0},"label":"NOT ACTIVE","zIndex":0,"width":496.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"32bebb70-5b68-38c8-a67b-2c8a4df5370e","instanceIdentifier":"3105cf68-16ad-3e5a-6798-c4e7b9a5a7f6","position":{"x":-760.0,"y":-688.0},"label":"INC List","zIndex":0,"width":568.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"fdbc1f3a-c9ab-3b48-92f8-eb7d1d054e76","instanceIdentifier":"cc864349-256a-3035-aba8-a454d4eb8737","position":{"x":-1704.0,"y":1968.0},"label":"USER EMPTY","zIndex":0,"width":496.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"eb7c6430-38e3-33b2-85ff-8f9fb3764c65","instanceIdentifier":"aaca3f4f-b90f-37a1-6447-bd5fae93dbb2","position":{"x":-2496.0,"y":1384.0},"label":"AG ASSIGNED","zIndex":0,"width":496.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"a5d2843b-44ba-303f-91d8-08aea2a45b8a","instanceIdentifier":"74e1ed69-8c06-3dfc-2a69-ba3ea593d2c3","position":{"x":-1424.0,"y":600.0},"label":"ACTIVE","zIndex":0,"width":496.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"92de8cb5-1718-3a95-a2d6-1bfce6d03710","instanceIdentifier":"85ee146d-c842-3050-903c-21795c28d98d","position":{"x":-3152.0,"y":1976.0},"label":"USER ASSIGNED","zIndex":0,"width":496.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"71c59ea4-3fbc-31b0-b790-2c870a7b4ee5","instanceIdentifier":"9db9af98-a569-3709-a7d4-12da579ed573","position":{"x":-648.0,"y":1408.0},"label":"AG EMPTY","zIndex":0,"width":496.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"funnels":[{"identifier":"1daf62f5-ff09-3693-ba85-669abaf7cfed","instanceIdentifier":"2ac5bad4-fad2-330d-0f98-23a476cdbafe","position":{"x":-3368.0,"y":2208.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"3135841c-36c5-3e88-b8c7-f247e099b3f6","instanceIdentifier":"3a0a1c5b-0bdc-3fd9-fd29-65f748eb2b12","position":{"x":-992.0,"y":-136.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"994fb5ae-e100-3b6a-8c12-5abac990e4f1","instanceIdentifier":"0f8add51-9991-304c-baab-ef09fe7c54e4","position":{"x":-1968.0,"y":2552.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"888dc6fa-eb17-3524-850a-48c219d5fabd","instanceIdentifier":"62485ad4-12b1-31a1-c163-f921c2258518","position":{"x":96.0,"y":1480.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"2166ef5a-1b39-3db7-8171-6d88e0c0884c","instanceIdentifier":"06bc6656-57b8-3654-38ed-5df48b806580","position":{"x":-984.0,"y":2000.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"e730994c-80a7-3063-9786-6ec966c6fb71","instanceIdentifier":"d6dc24da-7a35-3e98-e333-469e5dc77893","position":{"x":-1984.0,"y":2256.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"523888a3-38ba-3ee2-a257-f0aff222923f","instanceIdentifier":"be4a516c-e84b-3fb2-81be-5c26e9e1937d","position":{"x":-2912.0,"y":3272.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"edee9498-4c7d-3a99-8514-4839c138a9ad","instanceIdentifier":"8d8b2e47-eda6-316a-2282-a994a53d3e1a","position":{"x":-976.0,"y":-408.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"601f0e4e-b97c-3a63-8c91-8af3de6dfe11","instanceIdentifier":"f4849348-3464-38d8-30ad-10b2554c18e1","position":{"x":-3376.0,"y":2552.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"b94b6f42-dc76-383e-bd94-57ac6716743a","instanceIdentifier":"37c3476e-5176-34c6-8a9a-e4bfd6cb2b2d","position":{"x":104.0,"y":1760.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"b1ce0257-db5f-3062-bd64-1a28c1e14020","instanceIdentifier":"94d58865-fe2f-3388-d1f8-3df155e2b4aa","position":{"x":-3344.0,"y":2856.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"d2201fba-fb90-3d4d-9f6e-24259403a2ac","instanceIdentifier":"716bbd9e-63e3-3e5e-1ddc-9841050e2717","position":{"x":-992.0,"y":1728.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"controllerServices":[],"variables":{},"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"f2df3e95-4946-35bc-af31-9ba008a9c797"}],"remoteProcessGroups":[],"processors":[{"identifier":"4753bdeb-99da-3618-9be8-a11936c6580d","instanceIdentifier":"23106a1e-1743-3fb0-39d8-58c22dce10fc","name":"InvokeHTTP","comments":"","position":{"x":544.0,"y":608.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{SNOW_URL}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"admin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f2df3e95-4946-35bc-af31-9ba008a9c797"},{"identifier":"144f6b04-0ebe-3892-9507-cc9d17535a55","instanceIdentifier":"5c45eaee-f397-3ef1-511d-eac65c70c121","name":"LogMessage","comments":"","position":{"x":920.0,"y":1344.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"log-message":"Failed to retrieve incidents from ServiceNow. Please check the connection and try again.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f2df3e95-4946-35bc-af31-9ba008a9c797"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1b5fa9e2-744a-3dd0-895a-fb891d02caaa","instanceIdentifier":"5c8a92ed-83f4-3570-9798-ec9aed41ac4d","name":"","source":{"id":"144f6b04-0ebe-3892-9507-cc9d17535a55","type":"PROCESSOR","groupId":"f2df3e95-4946-35bc-af31-9ba008a9c797","name":"LogMessage","comments":"","instanceIdentifier":"5c45eaee-f397-3ef1-511d-eac65c70c121"},"destination":{"id":"4e7bafcf-137c-36d6-8c38-b34e938ea71d","type":"FUNNEL","groupId":"f2df3e95-4946-35bc-af31-9ba008a9c797","name":"Funnel","comments":"","instanceIdentifier":"b945862f-5674-3523-79b6-a0ffe1d0e86f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2df3e95-4946-35bc-af31-9ba008a9c797"},{"identifier":"68a046ec-7f29-3b46-8aa1-e5b2742aef5d","instanceIdentifier":"89bd07ab-c984-305f-9516-1e67b10552c8","name":"","source":{"id":"4753bdeb-99da-3618-9be8-a11936c6580d","type":"PROCESSOR","groupId":"f2df3e95-4946-35bc-af31-9ba008a9c797","name":"InvokeHTTP","comments":"","instanceIdentifier":"23106a1e-1743-3fb0-39d8-58c22dce10fc"},"destination":{"id":"4e7bafcf-137c-36d6-8c38-b34e938ea71d","type":"FUNNEL","groupId":"f2df3e95-4946-35bc-af31-9ba008a9c797","name":"Funnel","comments":"","instanceIdentifier":"b945862f-5674-3523-79b6-a0ffe1d0e86f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":336.0,"y":672.0},{"x":336.0,"y":1128.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2df3e95-4946-35bc-af31-9ba008a9c797"},{"identifier":"311afba2-80ce-3621-a0b7-a79cfdc4838b","instanceIdentifier":"d52cab3c-3533-3f46-cd8b-5b3ee203e9c3","name":"","source":{"id":"4753bdeb-99da-3618-9be8-a11936c6580d","type":"PROCESSOR","groupId":"f2df3e95-4946-35bc-af31-9ba008a9c797","name":"InvokeHTTP","comments":"","instanceIdentifier":"23106a1e-1743-3fb0-39d8-58c22dce10fc"},"destination":{"id":"144f6b04-0ebe-3892-9507-cc9d17535a55","type":"PROCESSOR","groupId":"f2df3e95-4946-35bc-af31-9ba008a9c797","name":"LogMessage","comments":"","instanceIdentifier":"5c45eaee-f397-3ef1-511d-eac65c70c121"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1096.0,"y":672.0},{"x":1096.0,"y":1128.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2df3e95-4946-35bc-af31-9ba008a9c797"},{"identifier":"9f20cf5a-9991-3e08-855d-13f0a2826779","instanceIdentifier":"5e0d1ceb-0baa-3a0e-5ae4-b74739e3c0b4","name":"","source":{"id":"4753bdeb-99da-3618-9be8-a11936c6580d","type":"PROCESSOR","groupId":"f2df3e95-4946-35bc-af31-9ba008a9c797","name":"InvokeHTTP","comments":"","instanceIdentifier":"23106a1e-1743-3fb0-39d8-58c22dce10fc"},"destination":{"id":"0e786d4b-e87b-3bd7-a9b3-28d9982a610f","type":"INPUT_PORT","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"incidents_input","instanceIdentifier":"058b5169-c54e-3929-22fd-a6ef5fd4a60b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f2df3e95-4946-35bc-af31-9ba008a9c797"}],"labels":[{"identifier":"4cd7a36a-109f-30c2-a8e9-356a5511be76","instanceIdentifier":"5d59c58a-c955-3887-0b0f-5600b62729e9","position":{"x":336.0,"y":528.0},"label":"GET incidents from Service-Now","zIndex":0,"width":776.0,"height":64.0,"style":{"background-color":"#92459c","font-size":"22px"},"componentType":"LABEL","groupIdentifier":"f2df3e95-4946-35bc-af31-9ba008a9c797"}],"funnels":[{"identifier":"4e7bafcf-137c-36d6-8c38-b34e938ea71d","instanceIdentifier":"b945862f-5674-3523-79b6-a0ffe1d0e86f","position":{"x":312.0,"y":1368.0},"componentType":"FUNNEL","groupIdentifier":"f2df3e95-4946-35bc-af31-9ba008a9c797"}],"controllerServices":[],"variables":{},"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"MiKo_config":{"name":"MiKo_config","parameters":[{"name":"Access Key ID","description":"","sensitive":true,"provided":false},{"name":"IP","description":"","sensitive":false,"provided":false},{"name":"email","description":"","sensitive":false,"provided":false},{"name":"Secret Access Key","description":"","sensitive":true,"provided":false},{"name":"SNOW_URL","description":"","sensitive":false,"provided":false,"value":"https://[SNOW-Instance].service-now.com/api/now/table/incident"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}