Solutions/task2-WorkingTimeCountingSystem.json
{"flowContents":{"identifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736","instanceIdentifier":"9df8cc8e-018c-1000-f126-77b3a7e526da","name":"SystemLiczeniaCzasuPracy","comments":"","position":{"x":-1000.0,"y":-24.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"357b079c-323d-30e6-a7c7-4b1cf3e460c7","instanceIdentifier":"9e5c0b1d-018c-1000-a00a-22247d32cf72","name":"PublishKafka_2_6","comments":"","position":{"x":928.0,"y":3008.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{IP}:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"nifi","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"bb0749d6-a4f2-3c9b-9795-1568fa95804a","instanceIdentifier":"9e004219-018c-1000-7104-8887fd46357a","name":"Enrichment","comments":"","position":{"x":1752.0,"y":136.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[{\n  \"imie\" : \"Michal\",\n  \"nazwisko\" : \"Kowalski\",\n  \"stanowisko\" : \"engineer\",\n  \"stawkaH\" : \"20\",\n  \"CK\" : \"AA11BB\"\n},\n{\n  \"imie\" : \"Kamil\",\n  \"nazwisko\" : \"Nowak\",\n  \"stanowisko\" : \"trainee\",\n  \"stawkaH\" : \"10\",\n  \"CK\" : \"AA22BB\"\n},\n{\n  \"imie\" : \"Monika\",\n  \"nazwisko\" : \"Hamik\",\n  \"stanowisko\" : \"expert\",\n  \"stawkaH\" : \"50\",\n  \"CK\" : \"AA33BB\"\n},\n{\n  \"imie\" : \"Kasia\",\n  \"nazwisko\" : \"Nowacka\",\n  \"stanowisko\" : \"expert\",\n  \"stawkaH\" : \"50\",\n  \"CK\" : \"AA44BB\"\n}]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"51003cdc-7ce9-3ded-89bf-4cea80e435dd","instanceIdentifier":"9e5b7282-018c-1000-cc97-5018a60fd9ff","name":"UpdateAttribute","comments":"","position":{"x":928.0,"y":2544.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"wynagrodzenie":"${WorkingTime:multiply(${stawkaH})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"wynagrodzenie":{"name":"wynagrodzenie","displayName":"wynagrodzenie","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"d9fe6602-db8b-3da2-b443-eaffd1269c27","instanceIdentifier":"9e063a4f-018c-1000-39e6-55ce3f13d303","name":"EvaluateJsonPath","comments":"","position":{"x":488.0,"y":648.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","CK":"$.CK","Null Value Representation":"empty string","time":"$.time","operation":"$.operation","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"CK":{"name":"CK","displayName":"CK","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"time":{"name":"time","displayName":"time","identifiesControllerService":false,"sensitive":false},"operation":{"name":"operation","displayName":"operation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"4088b47e-f300-3ab0-9412-6561c1bd5b93","instanceIdentifier":"9e0a9272-018c-1000-3eae-10117e36c272","name":"SplitJson","comments":"","position":{"x":1752.0,"y":360.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"570affa3-552d-3361-842d-8c927589fe62","instanceIdentifier":"9e359e52-018c-1000-55d2-bbc7d6691374","name":"UpdateAttribute","comments":"","position":{"x":920.0,"y":1800.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"start_time":"${Redis_START:jsonPath(\"$.time\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"start_time":{"name":"start_time","displayName":"start_time","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"b58a1c51-7e38-39d8-a7cf-b44510e95831","instanceIdentifier":"9e23a285-018c-1000-1f8d-cdde9d2c3526","name":"RouteOnAttribute","comments":"","position":{"x":496.0,"y":968.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Routing Strategy":"Route to Property name","STOP":"${operation:equals(\"STOP\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"STOP":{"name":"STOP","displayName":"STOP","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","instanceIdentifier":"9e302600-018c-1000-bd8f-3259d34a7757","name":"FetchDistributedMapCache","comments":"","position":{"x":920.0,"y":1184.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Cache Entry Identifier":"${CK}","Put Cache Value In Attribute":"Redis_START","Distributed Cache Service":"cd018da0-2d5f-34b0-8bd7-cd1aeba8c8c7","Max Length To Put In Attribute":"512","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"b8a78a86-cfee-357b-834a-c95662876974","instanceIdentifier":"9e02ead1-018c-1000-3010-5f6cc570a7af","name":"SplitJson","comments":"","position":{"x":480.0,"y":376.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"e12bdf7e-0034-354b-b8af-090e4727f7b3","instanceIdentifier":"9e32b3b1-018c-1000-3aad-53d1b211a82a","name":"ControlRate","comments":"","position":{"x":1560.0,"y":1184.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Maximum FlowFile Rate":null,"Time Duration":"1 min","Grouping Attribute":null,"Maximum Rate":"10","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"b9d1b856-ef60-3716-ac5e-3ede5993c33c","instanceIdentifier":"9e48c7e1-018c-1000-79ba-26b2e870e665","name":"UpdateAttribute","comments":"","position":{"x":920.0,"y":2064.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"WorkingTime":"${time:minus(${start_time})}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"WorkingTime":{"name":"WorkingTime","displayName":"WorkingTime","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"bb2fb5e5-992f-3f55-a4f6-bb0ec0705847","instanceIdentifier":"9df91be6-018c-1000-0aea-18ff260254f3","name":"MainEvent","comments":"","position":{"x":472.0,"y":144.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[{\n \"operation\" : \"START\",\n \"time\" : \"1676201442000\",\n \"CK\" : \"AA11BB\"\n},\n{\n \"operation\" : \"START\",\n \"time\" : \"1676197842000\",\n \"CK\" : \"AA22BB\"\n},\n{\n \"operation\" : \"START\",\n \"time\" : \"1676212242000\",\n \"CK\" : \"AA33BB\"\n},\n{\n \"operation\" : \"START\",\n \"time\" : \"1676195742000\",\n \"CK\" : \"AA44BB\"\n},\n{\n \"operation\" : \"STOP\",\n \"time\" : \"1676201442000\",\n \"CK\" : \"AA11BB\"\n},\n{\n \"operation\" : \"STOP\",\n \"time\" : \"1676197842000\",\n \"CK\" : \"AA22BB\"\n},\n{\n \"operation\" : \"STOP\",\n \"time\" : \"1676212242000\",\n \"CK\" : \"AA33BB\"\n},\n{\n \"operation\" : \"STOP\",\n \"time\" : \"1676195742000\",\n \"CK\" : \"AA44BB\"\n}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"647f1e04-df11-3e0a-a7c8-d17345be1580","instanceIdentifier":"9e5be8ab-018c-1000-665b-b15c70b9f6b1","name":"JoltTransformJSON","comments":"","position":{"x":920.0,"y":2776.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"*\": \"\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n\t\t\"Imie\" : \"${imie}\",\n      \t\"Nazwisko\" : \"${nazwisko}\",\n      \t\"Stanowisko\" : \"${stanowisko}\",\n      \t\"StawkaH\" : \"${stawkaH}\",\n      \t\"CK\" : \"${CK}\",\n      \t\"Wynagrodzenie\" : \"${wynagrodzenie}\",\n      \t\"CzasPracy\" : \"${WorkingTime}\"\n      \n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"83b664d4-fc19-32c4-925d-e9141615d7d8","instanceIdentifier":"9e58911b-018c-1000-6643-3823c4870ace","name":"EvaluateJsonPath","comments":"","position":{"x":928.0,"y":2312.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","imie":"$.imie","stanowisko":"$.stanowisko","nazwisko":"$.nazwisko","stawkaH":"$.stawkaH","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"imie":{"name":"imie","displayName":"imie","identifiesControllerService":false,"sensitive":false},"stanowisko":{"name":"stanowisko","displayName":"stanowisko","identifiesControllerService":false,"sensitive":false},"nazwisko":{"name":"nazwisko","displayName":"nazwisko","identifiesControllerService":false,"sensitive":false},"stawkaH":{"name":"stawkaH","displayName":"stawkaH","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"52090837-7b0d-3213-8022-dcc198e96f7e","instanceIdentifier":"9e18d065-018c-1000-99a9-05d6ad50fa20","name":"EvaluateJsonPath","comments":"","position":{"x":1744.0,"y":584.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","CK":"$.CK","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"CK":{"name":"CK","displayName":"CK","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"428e8db1-a283-3b61-b0f8-28e69b0df76a","instanceIdentifier":"9e254aa4-018c-1000-5e5d-82bd872fab14","name":"PutDistributedMapCache","comments":"","position":{"x":80.0,"y":1176.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Cache Entry Identifier":"${CK}","Cache update strategy":"replace","Distributed Cache Service":"cd018da0-2d5f-34b0-8bd7-cd1aeba8c8c7","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"d6d9d91d-1f13-3191-8211-f2eff67984ca","instanceIdentifier":"9e13ec89-018c-1000-6fa9-67f9413647da","name":"PutS3Object","comments":"","position":{"x":1752.0,"y":816.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{Access Key ID}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"http://#{IP}:9000","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Secret Key":"#{Secret Access Key}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${CK}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"produkcja","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"b840270e-548f-3189-86c7-40b2a3222bd3","instanceIdentifier":"9e136007-018c-1000-fb7c-2d0a88764372","name":"FetchS3Object","comments":"","position":{"x":920.0,"y":1528.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{Access Key ID}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":"http://#{IP}:9000","custom-signer-class-name":null,"requester-pays":"false","Object Key":"${CK}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"produkcja","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","Secret Key":"#{Secret Access Key}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4fc95d66-798b-333c-9b0a-8fecba2fd97d","instanceIdentifier":"9e6a1a98-018c-1000-0711-43eb8ca0b33e","name":"","source":{"id":"357b079c-323d-30e6-a7c7-4b1cf3e460c7","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"9e5c0b1d-018c-1000-a00a-22247d32cf72"},"destination":{"id":"f0d4ee86-57fa-3795-bc6f-88c46cc59f8d","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e69ff71-018c-1000-fe96-9244a0611e22"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"09efad48-b2b0-396c-806c-4fd73076c298","instanceIdentifier":"9e598015-018c-1000-8b4d-5104b564cdb6","name":"","source":{"id":"83b664d4-fc19-32c4-925d-e9141615d7d8","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e58911b-018c-1000-6643-3823c4870ace"},"destination":{"id":"59d25ad3-d439-382a-bba2-3310590e5bcc","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e591b2d-018c-1000-b3f2-c03242f20ec8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1456.0,"y":2408.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"d139a40c-fd99-3f36-8575-b8c850a18ca2","instanceIdentifier":"9e5ca1a8-018c-1000-6c7f-e067bca4bf16","name":"","source":{"id":"51003cdc-7ce9-3ded-89bf-4cea80e435dd","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e5b7282-018c-1000-cc97-5018a60fd9ff"},"destination":{"id":"647f1e04-df11-3e0a-a7c8-d17345be1580","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"JoltTransformJSON","comments":"","instanceIdentifier":"9e5be8ab-018c-1000-665b-b15c70b9f6b1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"cd667acf-f962-37e7-bbc9-9385f45ce03c","instanceIdentifier":"9e3304bb-018c-1000-6c3d-6731c536ecd1","name":"","source":{"id":"e12bdf7e-0034-354b-b8af-090e4727f7b3","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"ControlRate","comments":"","instanceIdentifier":"9e32b3b1-018c-1000-3aad-53d1b211a82a"},"destination":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"9e302600-018c-1000-bd8f-3259d34a7757"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1416.0,"y":1280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"cc0bf539-90dc-3c40-ac98-a376e6f3f4ff","instanceIdentifier":"9e0aac20-018c-1000-73cc-3462c5ac5c69","name":"","source":{"id":"bb0749d6-a4f2-3c9b-9795-1568fa95804a","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Enrichment","comments":"","instanceIdentifier":"9e004219-018c-1000-7104-8887fd46357a"},"destination":{"id":"4088b47e-f300-3ab0-9412-6561c1bd5b93","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"SplitJson","comments":"","instanceIdentifier":"9e0a9272-018c-1000-3eae-10117e36c272"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"1cd7665f-b7fe-3889-93fb-ce5c7affe801","instanceIdentifier":"9e02fd1d-018c-1000-83c4-8385c89df3dd","name":"","source":{"id":"bb2fb5e5-992f-3f55-a4f6-bb0ec0705847","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"MainEvent","comments":"","instanceIdentifier":"9df91be6-018c-1000-0aea-18ff260254f3"},"destination":{"id":"b8a78a86-cfee-357b-834a-c95662876974","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"SplitJson","comments":"","instanceIdentifier":"9e02ead1-018c-1000-3010-5f6cc570a7af"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"7d57ad45-c8f3-39e5-ba9e-3b7fcb7433de","instanceIdentifier":"9e269050-018c-1000-267e-4dd27c272935","name":"","source":{"id":"428e8db1-a283-3b61-b0f8-28e69b0df76a","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"9e254aa4-018c-1000-5e5d-82bd872fab14"},"destination":{"id":"7b0af649-0157-327b-9823-d9884eafe479","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e267e13-018c-1000-404f-5950aded188f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"017a3f66-432e-3107-bbcd-b4a089537a14","instanceIdentifier":"9e190e4a-018c-1000-5f9b-6cf005103557","name":"","source":{"id":"52090837-7b0d-3213-8022-dcc198e96f7e","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e18d065-018c-1000-99a9-05d6ad50fa20"},"destination":{"id":"d6d9d91d-1f13-3191-8211-f2eff67984ca","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"PutS3Object","comments":"","instanceIdentifier":"9e13ec89-018c-1000-6fa9-67f9413647da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"14efdd2f-add1-3c57-95bd-6636fece43cb","instanceIdentifier":"9e068d44-018c-1000-fa2f-6ac3d411db2b","name":"","source":{"id":"d9fe6602-db8b-3da2-b443-eaffd1269c27","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e063a4f-018c-1000-39e6-55ce3f13d303"},"destination":{"id":"ee39a045-a2c5-3b27-a881-c62c697d3840","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e067b09-018c-1000-3674-a5324278b9fc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1016.0,"y":784.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"ae7d8b7a-fa16-3986-84c8-d0de801984b7","instanceIdentifier":"9e52ae1e-018c-1000-d9a0-1d4c5d374897","name":"","source":{"id":"d9fe6602-db8b-3da2-b443-eaffd1269c27","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e063a4f-018c-1000-39e6-55ce3f13d303"},"destination":{"id":"b58a1c51-7e38-39d8-a7cf-b44510e95831","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9e23a285-018c-1000-1f8d-cdde9d2c3526"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"6afb04ef-1424-3e85-bd06-ca3c56f3f06e","instanceIdentifier":"9e03ab7f-018c-1000-111d-9ad5c747c3bf","name":"","source":{"id":"b8a78a86-cfee-357b-834a-c95662876974","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"SplitJson","comments":"","instanceIdentifier":"9e02ead1-018c-1000-3010-5f6cc570a7af"},"destination":{"id":"0ace1c98-b3cb-38ee-ad96-30cf47fc90c8","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e036621-018c-1000-b817-91ff8dec793c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":976.0,"y":488.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"bd99ac04-0a42-38f0-a309-d964b6cf7269","instanceIdentifier":"9e195923-018c-1000-986f-d7f8dde058b4","name":"","source":{"id":"52090837-7b0d-3213-8022-dcc198e96f7e","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e18d065-018c-1000-99a9-05d6ad50fa20"},"destination":{"id":"baad47fd-e0b2-31f4-95e4-dfe138a4f835","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e1927ce-018c-1000-49da-b5dd0214ca14"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2296.0,"y":688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"a7d39cff-ef7a-3a8b-9e2d-e4694124278a","instanceIdentifier":"9e10797b-018c-1000-134f-a9cec3b348b4","name":"","source":{"id":"4088b47e-f300-3ab0-9412-6561c1bd5b93","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"SplitJson","comments":"","instanceIdentifier":"9e0a9272-018c-1000-3eae-10117e36c272"},"destination":{"id":"52090837-7b0d-3213-8022-dcc198e96f7e","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e18d065-018c-1000-99a9-05d6ad50fa20"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"96ba609a-702f-3b8c-977a-d00d30bffdb6","instanceIdentifier":"9e1a87a1-018c-1000-d385-1b5bdcdf15b3","name":"","source":{"id":"b840270e-548f-3189-86c7-40b2a3222bd3","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"FetchS3Object","comments":"","instanceIdentifier":"9e136007-018c-1000-fb7c-2d0a88764372"},"destination":{"id":"925b2fd2-5a2c-33f6-bb61-1547d2ee7684","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e1a79d1-018c-1000-f2f4-722e3602178d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"bb8ad8ed-5cd6-36b8-a745-3deae1e1f0b7","instanceIdentifier":"9e329397-018c-1000-b352-07f1d00685e1","name":"","source":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"9e302600-018c-1000-bd8f-3259d34a7757"},"destination":{"id":"a7a9991d-6c95-3e34-939b-3fb7ac256e07","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e3280ac-018c-1000-1c19-2684b8b355b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"acb890e6-b491-3b64-808c-055cb1563fab","instanceIdentifier":"9e1428b1-018c-1000-8323-371f3c1c78fd","name":"","source":{"id":"d6d9d91d-1f13-3191-8211-f2eff67984ca","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"PutS3Object","comments":"","instanceIdentifier":"9e13ec89-018c-1000-6fa9-67f9413647da"},"destination":{"id":"a41e26a5-d387-3a4a-8187-13e7df13532c","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e106629-018c-1000-7be8-ddc2a61a46ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"b3cf9149-c433-3ba5-a32c-91177f5b38b0","instanceIdentifier":"9e24f573-018c-1000-cbe2-f0e758527d1c","name":"","source":{"id":"b58a1c51-7e38-39d8-a7cf-b44510e95831","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9e23a285-018c-1000-1f8d-cdde9d2c3526"},"destination":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"9e302600-018c-1000-bd8f-3259d34a7757"},"labelIndex":0,"zIndex":0,"selectedRelationships":["STOP"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1096.0,"y":1032.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"769457c3-2abe-3782-898e-66835690847a","instanceIdentifier":"9e327292-018c-1000-fa9f-3c91180884df","name":"","source":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"9e302600-018c-1000-bd8f-3259d34a7757"},"destination":{"id":"b840270e-548f-3189-86c7-40b2a3222bd3","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"FetchS3Object","comments":"","instanceIdentifier":"9e136007-018c-1000-fb7c-2d0a88764372"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"354088ab-b27d-3854-84e1-5751a0c56117","instanceIdentifier":"9e5c938a-018c-1000-0329-2e19620c4de8","name":"","source":{"id":"647f1e04-df11-3e0a-a7c8-d17345be1580","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"JoltTransformJSON","comments":"","instanceIdentifier":"9e5be8ab-018c-1000-665b-b15c70b9f6b1"},"destination":{"id":"357b079c-323d-30e6-a7c7-4b1cf3e460c7","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"9e5c0b1d-018c-1000-a00a-22247d32cf72"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"96d2d0a8-baf5-33d8-9f54-b82314214e70","instanceIdentifier":"9e1a6f53-018c-1000-7ee9-fa403576ad68","name":"","source":{"id":"b840270e-548f-3189-86c7-40b2a3222bd3","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"FetchS3Object","comments":"","instanceIdentifier":"9e136007-018c-1000-fb7c-2d0a88764372"},"destination":{"id":"570affa3-552d-3361-842d-8c927589fe62","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e359e52-018c-1000-55d2-bbc7d6691374"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"01f8b1ea-0eea-3f20-b383-dfd034b27daf","instanceIdentifier":"9e35cf69-018c-1000-90e2-c5a6a5204080","name":"","source":{"id":"570affa3-552d-3361-842d-8c927589fe62","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e359e52-018c-1000-55d2-bbc7d6691374"},"destination":{"id":"b9d1b856-ef60-3716-ac5e-3ede5993c33c","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e48c7e1-018c-1000-79ba-26b2e870e665"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"3edcc54a-f6ef-3215-ae49-60b50b63b9c0","instanceIdentifier":"9e26710b-018c-1000-bae3-7a2baca3f560","name":"","source":{"id":"428e8db1-a283-3b61-b0f8-28e69b0df76a","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"9e254aa4-018c-1000-5e5d-82bd872fab14"},"destination":{"id":"f9f95922-801f-3121-836f-63cd6f37632b","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e265d3e-018c-1000-1917-1c2d4a87a7cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"3621589c-a90b-397e-b1b7-93d792d514b7","instanceIdentifier":"9e06a259-018c-1000-364e-eed594e166f7","name":"","source":{"id":"d9fe6602-db8b-3da2-b443-eaffd1269c27","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e063a4f-018c-1000-39e6-55ce3f13d303"},"destination":{"id":"ee39a045-a2c5-3b27-a881-c62c697d3840","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e067b09-018c-1000-3674-a5324278b9fc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1008.0,"y":672.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"3e22c6fc-f7f7-392d-bd9e-72e86ab31838","instanceIdentifier":"9e1458b2-018c-1000-a3c8-96de042a7c21","name":"","source":{"id":"d6d9d91d-1f13-3191-8211-f2eff67984ca","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"PutS3Object","comments":"","instanceIdentifier":"9e13ec89-018c-1000-6fa9-67f9413647da"},"destination":{"id":"248416c2-d42a-3d03-adf9-37fbfe1b87b4","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e14485e-018c-1000-108e-85f709f558a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"843aafde-a946-3505-8001-1ead618ee8ae","instanceIdentifier":"9e34c553-018c-1000-69e1-62825d2ff54b","name":"","source":{"id":"e12bdf7e-0034-354b-b8af-090e4727f7b3","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"ControlRate","comments":"","instanceIdentifier":"9e32b3b1-018c-1000-3aad-53d1b211a82a"},"destination":{"id":"925b2fd2-5a2c-33f6-bb61-1547d2ee7684","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e1a79d1-018c-1000-f2f4-722e3602178d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"f8359d8e-e440-3afc-b455-ae0993e83990","instanceIdentifier":"9e5c5c40-018c-1000-e726-f06941243db4","name":"","source":{"id":"357b079c-323d-30e6-a7c7-4b1cf3e460c7","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"9e5c0b1d-018c-1000-a00a-22247d32cf72"},"destination":{"id":"d0b95a8a-11aa-36ef-a81f-5fa014d02478","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e1a5518-018c-1000-735c-938fc805e4f9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"b2c784b4-185a-3c7e-bd7a-26bc77c0928f","instanceIdentifier":"9e25619b-018c-1000-c57f-62c9c0a43f52","name":"","source":{"id":"b58a1c51-7e38-39d8-a7cf-b44510e95831","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9e23a285-018c-1000-1f8d-cdde9d2c3526"},"destination":{"id":"428e8db1-a283-3b61-b0f8-28e69b0df76a","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"9e254aa4-018c-1000-5e5d-82bd872fab14"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":256.0,"y":1032.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"803740a8-3a34-3bf0-9519-b89262549bd0","instanceIdentifier":"9e0afa49-018c-1000-994e-4305c4590607","name":"","source":{"id":"4088b47e-f300-3ab0-9412-6561c1bd5b93","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"SplitJson","comments":"","instanceIdentifier":"9e0a9272-018c-1000-3eae-10117e36c272"},"destination":{"id":"88f3b444-f8e0-3750-b993-e9c58722c5ef","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e0abc5c-018c-1000-2ae2-cfec21d97091"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2280.0,"y":464.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"9c316285-124f-304f-8941-aedd8f383e37","instanceIdentifier":"9e0378bc-018c-1000-3619-bdae7c36aaff","name":"","source":{"id":"b8a78a86-cfee-357b-834a-c95662876974","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"SplitJson","comments":"","instanceIdentifier":"9e02ead1-018c-1000-3010-5f6cc570a7af"},"destination":{"id":"0ace1c98-b3cb-38ee-ad96-30cf47fc90c8","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e036621-018c-1000-b817-91ff8dec793c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1000.0,"y":400.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"bfbd962e-61a9-3d7c-bd58-cf532e007c37","instanceIdentifier":"9e593817-018c-1000-8cba-a29919016c1e","name":"","source":{"id":"83b664d4-fc19-32c4-925d-e9141615d7d8","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e58911b-018c-1000-6643-3823c4870ace"},"destination":{"id":"59d25ad3-d439-382a-bba2-3310590e5bcc","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e591b2d-018c-1000-b3f2-c03242f20ec8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1456.0,"y":2344.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"026bb911-aca2-32fb-96c2-2d9820aea739","instanceIdentifier":"9e32cf1a-018c-1000-1c85-87ee00b5f728","name":"","source":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"9e302600-018c-1000-bd8f-3259d34a7757"},"destination":{"id":"e12bdf7e-0034-354b-b8af-090e4727f7b3","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"ControlRate","comments":"","instanceIdentifier":"9e32b3b1-018c-1000-3aad-53d1b211a82a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["not-found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1408.0,"y":1208.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"e88e1ca9-6a28-347f-9be7-9307fcba6b79","instanceIdentifier":"9e5c811b-018c-1000-6001-a01feab06a96","name":"","source":{"id":"647f1e04-df11-3e0a-a7c8-d17345be1580","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"JoltTransformJSON","comments":"","instanceIdentifier":"9e5be8ab-018c-1000-665b-b15c70b9f6b1"},"destination":{"id":"517efd32-5705-3017-85aa-78c5eb34f926","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e5c2022-018c-1000-31da-ce58361ee37f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"124b729c-20c1-30f9-941a-e9bc7091efb2","instanceIdentifier":"9e590e1b-018c-1000-4967-a314dde945ab","name":"","source":{"id":"83b664d4-fc19-32c4-925d-e9141615d7d8","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e58911b-018c-1000-6643-3823c4870ace"},"destination":{"id":"51003cdc-7ce9-3ded-89bf-4cea80e435dd","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e5b7282-018c-1000-cc97-5018a60fd9ff"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"020af574-8757-3f3d-8f4f-b820f16d0eca","instanceIdentifier":"9e19372f-018c-1000-a523-1895935d8eff","name":"","source":{"id":"52090837-7b0d-3213-8022-dcc198e96f7e","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e18d065-018c-1000-99a9-05d6ad50fa20"},"destination":{"id":"baad47fd-e0b2-31f4-95e4-dfe138a4f835","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e1927ce-018c-1000-49da-b5dd0214ca14"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2304.0,"y":616.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"2688bbff-a6c7-3cee-b925-36da8efb9422","instanceIdentifier":"9e5798c1-018c-1000-cfac-74d9cee0f474","name":"","source":{"id":"b9d1b856-ef60-3716-ac5e-3ede5993c33c","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"UpdateAttribute","comments":"","instanceIdentifier":"9e48c7e1-018c-1000-79ba-26b2e870e665"},"destination":{"id":"83b664d4-fc19-32c4-925d-e9141615d7d8","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e58911b-018c-1000-6643-3823c4870ace"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"f6e5b517-7c08-3cbd-bbe1-31ee97ddba88","instanceIdentifier":"9e035ef3-018c-1000-c05c-4e35add4f7ae","name":"","source":{"id":"b8a78a86-cfee-357b-834a-c95662876974","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"SplitJson","comments":"","instanceIdentifier":"9e02ead1-018c-1000-3010-5f6cc570a7af"},"destination":{"id":"d9fe6602-db8b-3da2-b443-eaffd1269c27","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9e063a4f-018c-1000-39e6-55ce3f13d303"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"f089ef60-7a6c-3892-a11f-45859a768893","instanceIdentifier":"9e0ad105-018c-1000-eb31-bb5c0a53c646","name":"","source":{"id":"4088b47e-f300-3ab0-9412-6561c1bd5b93","type":"PROCESSOR","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"SplitJson","comments":"","instanceIdentifier":"9e0a9272-018c-1000-3eae-10117e36c272"},"destination":{"id":"88f3b444-f8e0-3750-b993-e9c58722c5ef","type":"FUNNEL","groupId":"fc3f6f8e-520a-33e9-b055-9d41ab892736","name":"Funnel","comments":"","instanceIdentifier":"9e0abc5c-018c-1000-2ae2-cfec21d97091"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2280.0,"y":392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"}],"labels":[{"identifier":"fbce1485-9c76-335a-926d-8850563ea2bc","instanceIdentifier":"9e02032c-018c-1000-d117-903d19c03563","position":{"x":1536.0,"y":64.0},"label":"Enrichment  -> S3","zIndex":0,"width":568.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"f0836d46-5272-3b1e-8294-a9e754cd8cd9","instanceIdentifier":"9e1743cc-018c-1000-b086-df72a7a3ac15","position":{"x":-584.0,"y":88.0},"label":"Parameters \"MiKo_config\":\nConfig:\n      IP: 192.168.1.182\nS3:\n      Access Key ID : P3KSl2r2LLCNTbW53A2B\n      Secret Access Key:  aBaRU1d9voMbPZ25jd3eMdpOddkdRkuebpdfK6vk\n\nServices:\nRedis: Redis_DB0: SystemLiczeniaCzasuPracy\n","zIndex":0,"width":640.0,"height":264.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"6ac077b1-99c0-3feb-a43c-44a3318f9446","instanceIdentifier":"9e016133-018c-1000-0917-46e386f2ae76","position":{"x":256.0,"y":72.0},"label":"Time events: START / STOP","zIndex":0,"width":568.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"}],"funnels":[{"identifier":"59d25ad3-d439-382a-bba2-3310590e5bcc","instanceIdentifier":"9e591b2d-018c-1000-b3f2-c03242f20ec8","position":{"x":1596.8795189598695,"y":2373.93119936383},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"a7a9991d-6c95-3e34-939b-3fb7ac256e07","instanceIdentifier":"9e3280ac-018c-1000-1c19-2684b8b355b6","position":{"x":640.0,"y":1208.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"f0d4ee86-57fa-3795-bc6f-88c46cc59f8d","instanceIdentifier":"9e69ff71-018c-1000-fe96-9244a0611e22","position":{"x":1520.0,"y":3040.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"517efd32-5705-3017-85aa-78c5eb34f926","instanceIdentifier":"9e5c2022-018c-1000-31da-ce58361ee37f","position":{"x":1512.0,"y":2800.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"baad47fd-e0b2-31f4-95e4-dfe138a4f835","instanceIdentifier":"9e1927ce-018c-1000-49da-b5dd0214ca14","position":{"x":2492.0719563234534,"y":649.6819136767158},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"88f3b444-f8e0-3750-b993-e9c58722c5ef","instanceIdentifier":"9e0abc5c-018c-1000-2ae2-cfec21d97091","position":{"x":2464.0,"y":408.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"ee39a045-a2c5-3b27-a881-c62c697d3840","instanceIdentifier":"9e067b09-018c-1000-3674-a5324278b9fc","position":{"x":1160.0,"y":696.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"925b2fd2-5a2c-33f6-bb61-1547d2ee7684","instanceIdentifier":"9e1a79d1-018c-1000-f2f4-722e3602178d","position":{"x":1704.0,"y":1568.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"7b0af649-0157-327b-9823-d9884eafe479","instanceIdentifier":"9e267e13-018c-1000-404f-5950aded188f","position":{"x":-248.0,"y":1208.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"0ace1c98-b3cb-38ee-ad96-30cf47fc90c8","instanceIdentifier":"9e036621-018c-1000-b817-91ff8dec793c","position":{"x":1144.0,"y":416.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"f9f95922-801f-3121-836f-63cd6f37632b","instanceIdentifier":"9e265d3e-018c-1000-1917-1c2d4a87a7cc","position":{"x":224.0,"y":1424.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"a41e26a5-d387-3a4a-8187-13e7df13532c","instanceIdentifier":"9e106629-018c-1000-7be8-ddc2a61a46ae","position":{"x":1912.0,"y":1072.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"d0b95a8a-11aa-36ef-a81f-5fa014d02478","instanceIdentifier":"9e1a5518-018c-1000-735c-938fc805e4f9","position":{"x":1096.0,"y":3256.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"248416c2-d42a-3d03-adf9-37fbfe1b87b4","instanceIdentifier":"9e14485e-018c-1000-108e-85f709f558a9","position":{"x":2448.0,"y":848.0},"componentType":"FUNNEL","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"}],"controllerServices":[{"identifier":"cd018da0-2d5f-34b0-8bd7-cd1aeba8c8c7","instanceIdentifier":"9e29b905-018c-1000-5a6b-6e5dcf90106c","name":"Redis_DB0: SystemLiczeniaCzasuPracy","comments":"","type":"org.apache.nifi.redis.service.RedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"1.20.0"},"properties":{"redis-connection-pool":"9975d40a-d6d0-3626-b860-cad31d4acd90","redis-cache-ttl":"5 min"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"},{"identifier":"9975d40a-d6d0-3626-b860-cad31d4acd90","instanceIdentifier":"9e28dbaf-018c-1000-24b9-2bcd3f5c441b","name":"Redis_DB0: SystemLiczeniaCzasuPracy","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"1.20.0"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"#{IP}:6379","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Pool - Min Idle":"0","Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"0","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fc3f6f8e-520a-33e9-b055-9d41ab892736"}],"variables":{},"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"MiKo_config":{"name":"MiKo_config","parameters":[{"name":"IP","description":"","sensitive":false,"provided":false,"value":"192.168.1.182"},{"name":"Access Key ID","description":"","sensitive":true,"provided":false},{"name":"Secret Access Key","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}