Solutions/NiFi V1/NiFiExpLan.json
{"flowContents":{"identifier":"dcc98248-3f25-3312-b984-64dedbc9bf81","instanceIdentifier":"181b9db3-018e-1000-413f-fc09c02761f8","name":"NiFiExpressionLanguage","comments":"","position":{"x":436.0,"y":301.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e40dc4b4-1d47-3ad8-90f0-6d9b59ddfc1d","instanceIdentifier":"181bb956-018e-1000-ddd4-99463560cd30","name":"GenerateFlowFile","comments":"","position":{"x":486.0,"y":168.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","number":"5","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n\t\"test\" : \"true\",\n\t\"test2\" : \"true\"\n}","Batch Size":"1","Unique FlowFiles":"false","JSON":"{\n\t\"test\" : \"true\",\n\t\"test2\" : \"true\"\n}","var2":"false","var1":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"number":{"name":"number","displayName":"number","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"JSON":{"name":"JSON","displayName":"JSON","identifiesControllerService":false,"sensitive":false},"var2":{"name":"var2","displayName":"var2","identifiesControllerService":false,"sensitive":false},"var1":{"name":"var1","displayName":"var1","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dcc98248-3f25-3312-b984-64dedbc9bf81"},{"identifier":"bc7bc978-0545-30af-953e-cfcc693cb988","instanceIdentifier":"181bc960-018e-1000-fc5c-90b4346b7c28","name":"UpdateAttribute","comments":"","position":{"x":504.0,"y":416.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","wynik6":"${var1:toUpper()}","wynik3":"${JSON:jsonPath(\"$.test\")}","wynik2":"${var1:equals(\"true\"):ifElse(\"sukces\", \"failed\")}","wynik5":"${number:gt(10)}","wynik4":"${anyAttribute(\"var1\", \"var2\"):contains(\"true\")}","Stateful Variables Initial Value":null,"wynik1":"${var1:equals(${var2})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"wynik6":{"name":"wynik6","displayName":"wynik6","identifiesControllerService":false,"sensitive":false},"wynik3":{"name":"wynik3","displayName":"wynik3","identifiesControllerService":false,"sensitive":false},"wynik2":{"name":"wynik2","displayName":"wynik2","identifiesControllerService":false,"sensitive":false},"wynik5":{"name":"wynik5","displayName":"wynik5","identifiesControllerService":false,"sensitive":false},"wynik4":{"name":"wynik4","displayName":"wynik4","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"wynik1":{"name":"wynik1","displayName":"wynik1","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dcc98248-3f25-3312-b984-64dedbc9bf81"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d40d2aa9-53bc-3f25-ac19-889dfd8cf443","instanceIdentifier":"181c79e6-018e-1000-f1b8-9825b26327ad","name":"","source":{"id":"bc7bc978-0545-30af-953e-cfcc693cb988","type":"PROCESSOR","groupId":"dcc98248-3f25-3312-b984-64dedbc9bf81","name":"UpdateAttribute","comments":"","instanceIdentifier":"181bc960-018e-1000-fc5c-90b4346b7c28"},"destination":{"id":"0ec9abfe-a5eb-3212-ac43-c9bfbf9e8239","type":"FUNNEL","groupId":"dcc98248-3f25-3312-b984-64dedbc9bf81","name":"Funnel","comments":"","instanceIdentifier":"181c6fc5-018e-1000-11e6-c43a368096b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dcc98248-3f25-3312-b984-64dedbc9bf81"},{"identifier":"ebbe0ff8-99da-3aef-81ac-f2872c3664ec","instanceIdentifier":"181bd4e2-018e-1000-7342-2be39eef797e","name":"","source":{"id":"e40dc4b4-1d47-3ad8-90f0-6d9b59ddfc1d","type":"PROCESSOR","groupId":"dcc98248-3f25-3312-b984-64dedbc9bf81","name":"GenerateFlowFile","comments":"","instanceIdentifier":"181bb956-018e-1000-ddd4-99463560cd30"},"destination":{"id":"bc7bc978-0545-30af-953e-cfcc693cb988","type":"PROCESSOR","groupId":"dcc98248-3f25-3312-b984-64dedbc9bf81","name":"UpdateAttribute","comments":"","instanceIdentifier":"181bc960-018e-1000-fc5c-90b4346b7c28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dcc98248-3f25-3312-b984-64dedbc9bf81"}],"labels":[{"identifier":"53aefde9-2cd9-32f2-bc2f-c39b304a06d9","instanceIdentifier":"18207c94-018e-1000-e9a5-f7aac7a2c9e7","position":{"x":-104.0,"y":168.0},"label":"Wynik1 -> var1 ?=var2\nWynik2 -> var1=true -> sukces\nWynik3 -> extract test from JSON\nWynik4 -> any of var1, var2 contains true\nWynik5 -> number > 10\nWynik6 -> var1 to upper","zIndex":0,"width":496.0,"height":384.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"dcc98248-3f25-3312-b984-64dedbc9bf81"}],"funnels":[{"identifier":"0ec9abfe-a5eb-3212-ac43-c9bfbf9e8239","instanceIdentifier":"181c6fc5-018e-1000-11e6-c43a368096b4","position":{"x":676.0,"y":691.0},"componentType":"FUNNEL","groupIdentifier":"dcc98248-3f25-3312-b984-64dedbc9bf81"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}