Flows/INC_handling.json
{"flowContents":{"identifier":"f5260773-332e-3b1a-bc0b-c4a592c93322","instanceIdentifier":"e58e2bc1-018c-1000-aa5d-9a7f0d76a68c","name":"INC_handling","comments":"","position":{"x":960.0,"y":136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6a480e7f-b202-397f-ab4f-a436c13aa922","instanceIdentifier":"8c743f1f-1d79-1028-2e2c-ba42bbab36c5","name":"assignment","comments":"","position":{"x":-1272.0,"y":1032.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Routing Strategy":"Route to Property name","breached":"${Breached:equals(\"YES\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"breached":{"name":"breached","displayName":"breached","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"ee622ef0-cd33-3030-b059-477a71e0ea53","instanceIdentifier":"8c743f3b-1d79-1028-54d2-1a7bdb11eb58","name":"incReportingNonBreachedAssigned","comments":"","position":{"x":-360.0,"y":2128.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{IP}:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"incReportingNonBreachedAssigned","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"6ffbd280-cba6-3d25-99a9-ea78b27eea1d","instanceIdentifier":"d0573ad8-a035-15cb-e02d-6699fa6f0298","name":"EvaluateJsonPath","comments":"","position":{"x":418.45008567586467,"y":264.99544685237106},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","CK":"$.EmployeeIdNumber","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"CK":{"name":"CK","displayName":"CK","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"932a3874-737d-3faf-b469-3661b8aaed82","instanceIdentifier":"8c743f0a-1d79-1028-6bc5-3e3cc4c4acb9","name":"FetchS3Object","comments":"","position":{"x":-72.0,"y":1096.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{Access Key ID}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":"http://#{IP}:9000","custom-signer-class-name":null,"requester-pays":"false","Object Key":"${Assignee}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"increporting","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","Secret Key":"#{Secret Access Key}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"5556db45-849a-3513-911d-f2aaa48590b8","instanceIdentifier":"8c743ee9-1d79-1028-afed-f299a2d6d843","name":"MainEvent","comments":"","position":{"x":-560.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[{\n    \"Status\" : \"New\",\n    \"Severity\" : \"High\",\n    \"Assignee\" : \"\",\n    \"Team\" : \"ITSecurity\",\n    \"IncydentTitle\" : \"EICAR virus filetest found\",\n    \"IncidentMessage\" : \"EICAR virus filetest found\",\n    \"IncidentNumber\" : \"000001\",\n    \"Cloud\" : \"Azure\",\n    \"Timestamp\" : \"1704610017341\"\n},\n{\n    \"Status\" : \"Active\",\n    \"Severity\" : \"Medium\",\n    \"Assignee\" : \"AA22BB\",\n    \"Team\" : \"ITSecurity\",\n    \"IncydentTitle\" : \"File without the ownet found\",\n    \"IncidentMessage\" : \"File without the ownet found. Please remove or chage the owner\",\n    \"IncidentNumber\" : \"000002\",\n    \"Cloud\" : \"AWS\",\n    \"Timestamp\" : \"1704358800000\"\n},\n{\n    \"Status\" : \"Active\",\n    \"Severity\" : \"Low\",\n    \"Assignee\" : \"AA33BB\",\n    \"Team\" : \"ITSecurity\",\n    \"IncydentTitle\" : \"Old java package found\",\n    \"IncidentMessage\" : \"Old java package found - please upgrade\",\n    \"IncidentNumber\" : \"000003\",\n    \"Cloud\" : \"GCP\",\n    \"Timestamp\" : \"1700610017341\"\n},\n{\n    \"Status\" : \"Closed\",\n    \"Severity\" : \"High\",\n    \"Assignee\" : \"AA11BB\",\n    \"Team\" : \"ITSecurity\",\n    \"IncydentTitle\" : \"EICAR virus filetest found\",\n    \"IncidentMessage\" : \"EICAR virus filetest found\",\n    \"IncidentNumber\" : \"000004\",\n    \"Cloud\" : \"GCP\",\n    \"Timestamp\" : \"1704659730274\"\n},\n{\n    \"Status\" : \"New\",\n    \"Severity\" : \"High\",\n    \"Assignee\" : \"\",\n    \"Team\" : \"ITSecurity\",\n    \"IncydentTitle\" : \"Many log in attempts found\",\n    \"IncidentMessage\" : \"Many log in attempts found for user AA66BB\",\n    \"IncidentNumber\" : \"000005\",\n    \"Cloud\" : \"GCP\",\n    \"Timestamp\" : \"1704659730274\"\n}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"ec33eee8-78f5-3c9d-80eb-81c6967adb66","instanceIdentifier":"8c743f31-1d79-1028-3fc1-b53d915dfa80","name":"JoltTransformJSON","comments":"","position":{"x":-80.0,"y":1640.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"*\": \"\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n\t\t\"Status\" : \"${Status}\",\n      \t\"Severity\" : \"${Severity}\",\n      \t\"Team\" : \"${Team}\",\n      \t\"IncydentTitle\" : \"${IncydentTitle}\",\n      \t\"IncidentMessage\" : \"${IncidentMessage}\",\n      \t\"IncidentNumber\" : \"${IncidentNumber}\",\n      \t\"Cloud\" : \"${Cloud}\",\n      \t\"Timestamp\" : \"${Timestamp}\",\n      \t\"AssigneeName\" : \"${Name}\",\n      \t\"AssigneeSurname\" : \"${Surname}\",\n      \t\"AssigneeEmail\" : \"${Email}\",\n      \t\"AssigneeEmployeeIdNumber\" : \"${EmployeeIdNumber}\",\n      \t\"AssigneeDepartment\" : \"${Department}\",\n      \t\"AssigneePosition\" : \"${Position}\",      \n      \t\"Breached\" : \"${Breached}\"\n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","instanceIdentifier":"8c743eeb-1d79-1028-e456-fca248b6ca01","name":"EvaluateJsonPath","comments":"","position":{"x":-544.0,"y":328.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Status":"$.Status","Destination":"flowfile-attribute","Assignee":"$.Assignee","Return Type":"auto-detect","Null Value Representation":"empty string","Severity":"$.Severity","IncydentTitle":"$.IncydentTitle","Timestamp":"$.Timestamp","Path Not Found Behavior":"ignore","IncidentNumber":"$.IncidentNumber","Cloud":"$.Cloud","Team":"$.Team","IncidentMessage":"$.IncidentMessage"},"propertyDescriptors":{"Status":{"name":"Status","displayName":"Status","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Assignee":{"name":"Assignee","displayName":"Assignee","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Severity":{"name":"Severity","displayName":"Severity","identifiesControllerService":false,"sensitive":false},"IncydentTitle":{"name":"IncydentTitle","displayName":"IncydentTitle","identifiesControllerService":false,"sensitive":false},"Timestamp":{"name":"Timestamp","displayName":"Timestamp","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"IncidentNumber":{"name":"IncidentNumber","displayName":"IncidentNumber","identifiesControllerService":false,"sensitive":false},"Cloud":{"name":"Cloud","displayName":"Cloud","identifiesControllerService":false,"sensitive":false},"Team":{"name":"Team","displayName":"Team","identifiesControllerService":false,"sensitive":false},"IncidentMessage":{"name":"IncidentMessage","displayName":"IncidentMessage","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"01a432ba-9e0d-3ff7-a35f-22f6b4f7002e","instanceIdentifier":"8c743ef2-1d79-1028-d5f2-013f1a052344","name":"assignment","comments":"","position":{"x":-544.0,"y":816.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Routing Strategy":"Route to Property name","INC_assigned":"${Assignee:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"INC_assigned":{"name":"INC_assigned","displayName":"INC_assigned","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"2f546ca7-0996-37fc-83b7-43d98e8fa91c","instanceIdentifier":"8c743f23-1d79-1028-4533-f5d52f87c627","name":"incReportingNonBreachedNonAssigned","comments":"","position":{"x":-1520.0,"y":1344.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{IP}:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"incReportingNonBreachedNonAssigned","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"db3082a1-e9f5-3d90-97cd-661b20e30498","instanceIdentifier":"d0573ad9-a035-15cb-9537-d6bd958e8941","name":"Enrichment","comments":"","position":{"x":426.45008567586467,"y":-183.00455314762894},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[\n{\n    \"Name\" : \"Kamil\",\n    \"Surname\" : \"Kowalski\",\n    \"Email\" : \"Kamil.Kowalski@example.com\",\n    \"EmployeeIdNumber\" : \"AA11BB\",\n    \"Department\" : \"ITSecurity\",\n    \"Position\" : \"Engineer\"\n},\n{\n    \"Name\" : \"Marta\",\n    \"Surname\" : \"Nowak\",\n    \"Email\" : \"Marta.Nowak@example.com\",\n    \"EmployeeIdNumber\" : \"AA22BB\",\n    \"Department\" : \"ITSecurity\",\n    \"Position\" : \"Expert\"\n},\n{\n    \"Name\" : \"Marcin\",\n    \"Surname\" : \"Osoba\",\n    \"Email\" : \"Marcin.Osoba@example.com\",\n    \"EmployeeIdNumber\" : \"AA33BB\",\n    \"Department\" : \"ITSecurity\",\n    \"Position\" : \"Trainee\"\n},\n{\n    \"Name\" : \"Kamila\",\n    \"Surname\" : \"Nowacka\",\n    \"Email\" : \"Kamila.Nowacka@example.com\",\n    \"EmployeeIdNumber\" : \"AA44BB\",\n    \"Department\" : \"ITSecurity\",\n    \"Position\" : \"Engineer\"\n}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"bdc4427c-27fe-3166-a9e3-240f49b285a9","instanceIdentifier":"8c743f3a-1d79-1028-ceb6-85ad25c9683d","name":"incReportingBreachedAssigned","comments":"","position":{"x":192.0,"y":2128.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{IP}:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"incReportingBreachedAssigned","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"e0837116-834a-30b1-9273-b464afefc44b","instanceIdentifier":"8c743eea-1d79-1028-c70e-a7b1c58a0f1a","name":"SplitJson","comments":"","position":{"x":-552.0,"y":56.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"f446b9e0-d480-39de-b693-3623bfe4208d","instanceIdentifier":"8c743f46-1d79-1028-e4be-b4f805646d59","name":"JoltTransformJSON","comments":"","position":{"x":-1264.0,"y":808.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"*\": \"\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n\t\t\"Status\" : \"${Status}\",\n      \t\"Severity\" : \"${Severity}\",\n      \t\"Team\" : \"${Team}\",\n      \t\"IncydentTitle\" : \"${IncydentTitle}\",\n      \t\"IncidentMessage\" : \"${IncidentMessage}\",\n      \t\"IncidentNumber\" : \"${IncidentNumber}\",\n      \t\"Cloud\" : \"${Cloud}\",\n      \t\"Timestamp\" : \"${Timestamp}\",\n      \t\"AssigneeName\" : \"${Name}\",\n      \t\"AssigneeSurname\" : \"${Surname}\",\n      \t\"AssigneeEmail\" : \"${Email}\",\n      \t\"AssigneeEmployeeIdNumber\" : \"${EmployeeIdNumber}\",\n      \t\"AssigneeDepartment\" : \"${Department}\",\n      \t\"AssigneePosition\" : \"${Position}\",      \n      \t\"Breached\" : \"${Breached}\"\n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"ed08d6cc-9dd6-3019-afd9-bd0bec2867a7","instanceIdentifier":"8c743f30-1d79-1028-2054-1ad87a2834c0","name":"EvaluateJsonPath","comments":"","position":{"x":-72.0,"y":1392.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","Department":"$.Department","Email":"$.Email","Position":"$.Position","EmployeeIdNumber":"$.EmployeeIdNumber","Return Type":"auto-detect","Null Value Representation":"empty string","Surname":"$.Surname","Path Not Found Behavior":"ignore","Name":"$.Name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Department":{"name":"Department","displayName":"Department","identifiesControllerService":false,"sensitive":false},"Email":{"name":"Email","displayName":"Email","identifiesControllerService":false,"sensitive":false},"Position":{"name":"Position","displayName":"Position","identifiesControllerService":false,"sensitive":false},"EmployeeIdNumber":{"name":"EmployeeIdNumber","displayName":"EmployeeIdNumber","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Surname":{"name":"Surname","displayName":"Surname","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"Name":{"name":"Name","displayName":"Name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"4f63abca-2481-34d8-92d9-20b0006f8bed","instanceIdentifier":"8c743f17-1d79-1028-d879-b31aac519ee0","name":"PutS3Object","comments":"","position":{"x":424.0,"y":496.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{Access Key ID}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"http://#{IP}:9000","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Secret Key":"#{Secret Access Key}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${CK}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"increporting","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"0ae1e053-515a-3cb3-9aad-d1e9107f02d6","instanceIdentifier":"8c743f20-1d79-1028-240c-1c90937c51a8","name":"incReportingBreachedNonAssigned","comments":"","position":{"x":-968.0,"y":1344.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"#{IP}:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"incReportingBreachedNonAssigned","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"bf17d556-6a34-3578-84eb-d34ddd1f35d6","instanceIdentifier":"0ff73e58-c38a-1838-7e9b-47e5b03ba881","name":"SplitJson","comments":"","position":{"x":426.45008567586467,"y":40.99544685237106},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"3b0c9f8b-05a5-3cf5-8f15-c37a6405c8f4","instanceIdentifier":"8c743ef4-1d79-1028-b3be-a86e4a80b0b5","name":"UpdateAttribute","comments":"","position":{"x":-544.0,"y":576.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Breached":"${Severity:equals(\"High\"):ifElse(${now():toNumber():minus(${Timestamp}):gt(7200000):ifElse(\"YES\", \"NO\")}, ${Severity:equals(\"Medium\"):ifElse(${now():toNumber():minus(${Timestamp}):gt(259200000):ifElse(\"YES\", \"NO\")}, ${Severity:equals(\"Low\"):ifElse(${now():toNumber():minus(${Timestamp}):gt(432000000):ifElse(\"YES\", \"NO\")}, \"OutOfScope\")})})}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Breached":{"name":"Breached","displayName":"Breached","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"f5e5ffcc-1fc7-3a1b-b1e3-22040ac1f007","instanceIdentifier":"8c743f41-1d79-1028-bfc7-3b367caf3d6d","name":"assignment","comments":"","position":{"x":-80.0,"y":1904.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Routing Strategy":"Route to Property name","breached":"${Breached:equals(\"YES\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"breached":{"name":"breached","displayName":"breached","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"db7ebbc4-036e-3553-89d1-c8ba19a8a2fe","instanceIdentifier":"8c743f07-1d79-1028-e524-350de3591ba7","name":"","source":{"id":"01a432ba-9e0d-3ff7-a35f-22f6b4f7002e","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"assignment","comments":"","instanceIdentifier":"8c743ef2-1d79-1028-d5f2-013f1a052344"},"destination":{"id":"932a3874-737d-3faf-b469-3661b8aaed82","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"FetchS3Object","comments":"","instanceIdentifier":"8c743f0a-1d79-1028-6bc5-3e3cc4c4acb9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["INC_assigned"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":104.0,"y":880.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"9fd80919-e759-39d4-b14c-867960cfa88d","instanceIdentifier":"8c743f18-1d79-1028-0d55-9ae3725c468d","name":"","source":{"id":"4f63abca-2481-34d8-92d9-20b0006f8bed","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"PutS3Object","comments":"","instanceIdentifier":"8c743f17-1d79-1028-d879-b31aac519ee0"},"destination":{"id":"080fdf0d-9154-30b6-804e-6f58cc19ebca","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"0ff73e56-c38a-1838-fbe6-42e83416fe3c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"d74997c5-3f3c-31ed-8c5e-129fd8d3385e","instanceIdentifier":"8c743ee3-1d79-1028-ddcb-52d7089cbcb4","name":"","source":{"id":"6ffbd280-cba6-3d25-99a9-ea78b27eea1d","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d0573ad8-a035-15cb-e02d-6699fa6f0298"},"destination":{"id":"4f63abca-2481-34d8-92d9-20b0006f8bed","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"PutS3Object","comments":"","instanceIdentifier":"8c743f17-1d79-1028-d879-b31aac519ee0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"f81d4bd9-fc1d-3979-9d3b-33c219fb578f","instanceIdentifier":"8c743ef0-1d79-1028-f985-53a82dac3dfd","name":"","source":{"id":"5556db45-849a-3513-911d-f2aaa48590b8","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"MainEvent","comments":"","instanceIdentifier":"8c743ee9-1d79-1028-afed-f299a2d6d843"},"destination":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"SplitJson","comments":"","instanceIdentifier":"8c743eea-1d79-1028-c70e-a7b1c58a0f1a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"c8d5ca4b-fe3d-3cae-b7cd-6d0f2e47d5ee","instanceIdentifier":"8c743ee0-1d79-1028-2372-d9c5f344e249","name":"","source":{"id":"bf17d556-6a34-3578-84eb-d34ddd1f35d6","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"SplitJson","comments":"","instanceIdentifier":"0ff73e58-c38a-1838-7e9b-47e5b03ba881"},"destination":{"id":"4e8caf88-e1bf-3d03-b067-d5d6ee8e3759","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"0ff73e54-c38a-1838-4a2b-13ac575a3581"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":954.4500856758647,"y":72.99544685237106}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"c609000a-3564-39ee-a587-0dfb2c2e7e7c","instanceIdentifier":"8c743f47-1d79-1028-8b4f-4702ecc7d35b","name":"","source":{"id":"f446b9e0-d480-39de-b693-3623bfe4208d","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c743f46-1d79-1028-e4be-b4f805646d59"},"destination":{"id":"6a480e7f-b202-397f-ab4f-a436c13aa922","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"assignment","comments":"","instanceIdentifier":"8c743f1f-1d79-1028-2e2c-ba42bbab36c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"e1a5f16c-67c1-3e68-9b41-3f9144c58778","instanceIdentifier":"8c743f36-1d79-1028-e601-7cd49c900380","name":"","source":{"id":"ec33eee8-78f5-3c9d-80eb-81c6967adb66","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c743f31-1d79-1028-3fc1-b53d915dfa80"},"destination":{"id":"9f0ae777-61db-3768-83a8-09166e663019","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f35-1d79-1028-5dad-ec57a9f017f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"84944f04-9149-3730-9520-b122e620a1d6","instanceIdentifier":"8c743f28-1d79-1028-f5d1-b76f1d733a8b","name":"","source":{"id":"2f546ca7-0996-37fc-83b7-43d98e8fa91c","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingNonBreachedNonAssigned","comments":"","instanceIdentifier":"8c743f23-1d79-1028-4533-f5d52f87c627"},"destination":{"id":"ccb97958-59cf-376c-8e14-ad1991a32a3f","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f25-1d79-1028-1b44-cf143459fe9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1350.7891235351562,"y":1657.97314453125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"2ebcff32-a765-3974-9786-47e0d3a432c5","instanceIdentifier":"8c743f19-1d79-1028-ef04-31da05c138cf","name":"","source":{"id":"4f63abca-2481-34d8-92d9-20b0006f8bed","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"PutS3Object","comments":"","instanceIdentifier":"8c743f17-1d79-1028-d879-b31aac519ee0"},"destination":{"id":"ca84ef36-9844-3740-b582-457b79ef06e2","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"0ff73e57-c38a-1838-5efd-0fa1df56058b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"9a4f7fc2-bc77-3136-ad50-dd1bb56ed78c","instanceIdentifier":"8c743f24-1d79-1028-0883-020a94c61dbf","name":"","source":{"id":"6a480e7f-b202-397f-ab4f-a436c13aa922","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"assignment","comments":"","instanceIdentifier":"8c743f1f-1d79-1028-2e2c-ba42bbab36c5"},"destination":{"id":"2f546ca7-0996-37fc-83b7-43d98e8fa91c","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingNonBreachedNonAssigned","comments":"","instanceIdentifier":"8c743f23-1d79-1028-4533-f5d52f87c627"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"c61e488c-071f-3c82-b3cd-9b0bb5e81bb3","instanceIdentifier":"8c743f3e-1d79-1028-7573-315af55e7a04","name":"","source":{"id":"ee622ef0-cd33-3030-b059-477a71e0ea53","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingNonBreachedAssigned","comments":"","instanceIdentifier":"8c743f3b-1d79-1028-54d2-1a7bdb11eb58"},"destination":{"id":"de65b173-ffed-3784-b44b-4844c0bced4a","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f38-1d79-1028-1304-b24db74cc135"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-184.0,"y":2440.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"cbb7ad20-f37e-3af2-809b-c37d754a8625","instanceIdentifier":"8c743f27-1d79-1028-ebe6-0775f8ea9270","name":"","source":{"id":"0ae1e053-515a-3cb3-9aad-d1e9107f02d6","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingBreachedNonAssigned","comments":"","instanceIdentifier":"8c743f20-1d79-1028-240c-1c90937c51a8"},"destination":{"id":"ccb97958-59cf-376c-8e14-ad1991a32a3f","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f25-1d79-1028-1b44-cf143459fe9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"025283b9-dbac-31f6-926c-7f5bfbcd8c69","instanceIdentifier":"8c743ef3-1d79-1028-2c24-c6ac7cc06b01","name":"","source":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8c743eeb-1d79-1028-e456-fca248b6ca01"},"destination":{"id":"3b0c9f8b-05a5-3cf5-8f15-c37a6405c8f4","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"UpdateAttribute","comments":"","instanceIdentifier":"8c743ef4-1d79-1028-b3be-a86e4a80b0b5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"596471d7-59da-3a06-a520-06106aa0b910","instanceIdentifier":"8c743f3f-1d79-1028-261e-f759b624f0f0","name":"","source":{"id":"bdc4427c-27fe-3166-a9e3-240f49b285a9","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingBreachedAssigned","comments":"","instanceIdentifier":"8c743f3a-1d79-1028-ceb6-85ad25c9683d"},"destination":{"id":"de65b173-ffed-3784-b44b-4844c0bced4a","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f38-1d79-1028-1304-b24db74cc135"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":360.0,"y":2448.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"24430ed4-25b0-3016-9990-c46d07f6fbc8","instanceIdentifier":"8c743f42-1d79-1028-2ba0-9cc4de40dde2","name":"","source":{"id":"ec33eee8-78f5-3c9d-80eb-81c6967adb66","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c743f31-1d79-1028-3fc1-b53d915dfa80"},"destination":{"id":"f5e5ffcc-1fc7-3a1b-b1e3-22040ac1f007","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"assignment","comments":"","instanceIdentifier":"8c743f41-1d79-1028-bfc7-3b367caf3d6d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"8ce60f4e-f98a-3f5f-8507-5a00cb164edc","instanceIdentifier":"8c743f0d-1d79-1028-7b45-828e280dcc78","name":"","source":{"id":"932a3874-737d-3faf-b469-3661b8aaed82","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"FetchS3Object","comments":"","instanceIdentifier":"8c743f0a-1d79-1028-6bc5-3e3cc4c4acb9"},"destination":{"id":"ed08d6cc-9dd6-3019-afd9-bd0bec2867a7","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8c743f30-1d79-1028-2054-1ad87a2834c0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"0cff3cdd-c197-3b97-b985-1eb0727077d9","instanceIdentifier":"8c743f32-1d79-1028-ce2d-10336f0e0b8f","name":"","source":{"id":"ed08d6cc-9dd6-3019-afd9-bd0bec2867a7","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8c743f30-1d79-1028-2054-1ad87a2834c0"},"destination":{"id":"ec33eee8-78f5-3c9d-80eb-81c6967adb66","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c743f31-1d79-1028-3fc1-b53d915dfa80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"48d88eae-0024-309f-82d4-8b501415eb54","instanceIdentifier":"8c743f44-1d79-1028-f8a7-57fc40ae296d","name":"","source":{"id":"f5e5ffcc-1fc7-3a1b-b1e3-22040ac1f007","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"assignment","comments":"","instanceIdentifier":"8c743f41-1d79-1028-bfc7-3b367caf3d6d"},"destination":{"id":"bdc4427c-27fe-3166-a9e3-240f49b285a9","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingBreachedAssigned","comments":"","instanceIdentifier":"8c743f3a-1d79-1028-ceb6-85ad25c9683d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["breached"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"542a0026-8c8e-367f-b6cd-5c1ac74a26a4","instanceIdentifier":"8c743f34-1d79-1028-702f-20c2de2afc75","name":"","source":{"id":"ed08d6cc-9dd6-3019-afd9-bd0bec2867a7","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8c743f30-1d79-1028-2054-1ad87a2834c0"},"destination":{"id":"d5b088e5-0a6e-3c5e-b5be-5d34bc94988a","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f0c-1d79-1028-d0d0-d5fa80135a53"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-208.0,"y":1480.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"a7d1501b-0e6b-37ba-86d0-a0705fa119fa","instanceIdentifier":"8c743f21-1d79-1028-9ab9-09157f3848ba","name":"","source":{"id":"6a480e7f-b202-397f-ab4f-a436c13aa922","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"assignment","comments":"","instanceIdentifier":"8c743f1f-1d79-1028-2e2c-ba42bbab36c5"},"destination":{"id":"0ae1e053-515a-3cb3-9aad-d1e9107f02d6","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingBreachedNonAssigned","comments":"","instanceIdentifier":"8c743f20-1d79-1028-240c-1c90937c51a8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["breached"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"2f876533-6e2b-358d-baf8-2970c5848e98","instanceIdentifier":"8c743ee2-1d79-1028-c9c5-c45ac92c9df7","name":"","source":{"id":"bf17d556-6a34-3578-84eb-d34ddd1f35d6","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"SplitJson","comments":"","instanceIdentifier":"0ff73e58-c38a-1838-7e9b-47e5b03ba881"},"destination":{"id":"4e8caf88-e1bf-3d03-b067-d5d6ee8e3759","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"0ff73e54-c38a-1838-4a2b-13ac575a3581"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":954.4500856758647,"y":144.99544685237106}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"504329e5-f159-3d33-b785-ff314f88f4dd","instanceIdentifier":"8c743ef6-1d79-1028-5586-da26b62cd311","name":"","source":{"id":"3b0c9f8b-05a5-3cf5-8f15-c37a6405c8f4","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"UpdateAttribute","comments":"","instanceIdentifier":"8c743ef4-1d79-1028-b3be-a86e4a80b0b5"},"destination":{"id":"01a432ba-9e0d-3ff7-a35f-22f6b4f7002e","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"assignment","comments":"","instanceIdentifier":"8c743ef2-1d79-1028-d5f2-013f1a052344"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"637d40cb-332a-3cf6-9a00-22548cd303a1","instanceIdentifier":"8c743f49-1d79-1028-9d59-9a764af4b0be","name":"","source":{"id":"f446b9e0-d480-39de-b693-3623bfe4208d","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c743f46-1d79-1028-e4be-b4f805646d59"},"destination":{"id":"f8a187d9-a6ea-3706-a27f-6e0ff38fd536","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f48-1d79-1028-64ee-1b770d7adf2d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"50960339-3773-36df-8141-7bea8d933808","instanceIdentifier":"8c743f0f-1d79-1028-09f3-399134fb5369","name":"","source":{"id":"932a3874-737d-3faf-b469-3661b8aaed82","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"FetchS3Object","comments":"","instanceIdentifier":"8c743f0a-1d79-1028-6bc5-3e3cc4c4acb9"},"destination":{"id":"9654ba03-d030-3a9e-a98e-066ce97138c2","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f0e-1d79-1028-0809-48bfef802471"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"3e2b5667-17e1-381c-8868-4ae4ac2aa9fc","instanceIdentifier":"d0573adc-a035-15cb-a30b-5e1684156368","name":"","source":{"id":"bf17d556-6a34-3578-84eb-d34ddd1f35d6","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"SplitJson","comments":"","instanceIdentifier":"0ff73e58-c38a-1838-7e9b-47e5b03ba881"},"destination":{"id":"6ffbd280-cba6-3d25-99a9-ea78b27eea1d","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d0573ad8-a035-15cb-e02d-6699fa6f0298"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"377f9bda-f0b8-3a61-b07f-75ef01c65bc3","instanceIdentifier":"d0573ade-a035-15cb-635f-1daef9a3997b","name":"","source":{"id":"6ffbd280-cba6-3d25-99a9-ea78b27eea1d","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d0573ad8-a035-15cb-e02d-6699fa6f0298"},"destination":{"id":"e04981fd-49d7-311c-9da2-a6cf85d39982","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"0ff73e55-c38a-1838-4af5-2d1af44e21df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":978.4500856758647,"y":296.99544685237106}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"0497cdb7-fb60-3847-8ba7-96a28b075023","instanceIdentifier":"8c743eec-1d79-1028-e970-51cdfd6b0bad","name":"","source":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8c743eeb-1d79-1028-e456-fca248b6ca01"},"destination":{"id":"3135841c-36c5-3e88-b8c7-f247e099b3f6","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743ee7-1d79-1028-fe4e-73b5e34fe7eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-33.525455047089736,"y":458.73644464396955}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"3e590656-b667-32da-b207-135d7a0bc1f9","instanceIdentifier":"8c743ee1-1d79-1028-90a3-599a7bc0949c","name":"","source":{"id":"db3082a1-e9f5-3d90-97cd-661b20e30498","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Enrichment","comments":"","instanceIdentifier":"d0573ad9-a035-15cb-9537-d6bd958e8941"},"destination":{"id":"bf17d556-6a34-3578-84eb-d34ddd1f35d6","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"SplitJson","comments":"","instanceIdentifier":"0ff73e58-c38a-1838-7e9b-47e5b03ba881"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"11965e5d-345c-373b-b187-378a9fe37457","instanceIdentifier":"8c743f3c-1d79-1028-9d4f-48cf14530a57","name":"","source":{"id":"ee622ef0-cd33-3030-b059-477a71e0ea53","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingNonBreachedAssigned","comments":"","instanceIdentifier":"8c743f3b-1d79-1028-54d2-1a7bdb11eb58"},"destination":{"id":"de65b173-ffed-3784-b44b-4844c0bced4a","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f38-1d79-1028-1304-b24db74cc135"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"d4304498-93f4-36c9-899d-12a09e91a838","instanceIdentifier":"8c743f33-1d79-1028-7411-d0bc58be3445","name":"","source":{"id":"ed08d6cc-9dd6-3019-afd9-bd0bec2867a7","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8c743f30-1d79-1028-2054-1ad87a2834c0"},"destination":{"id":"d5b088e5-0a6e-3c5e-b5be-5d34bc94988a","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f0c-1d79-1028-d0d0-d5fa80135a53"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-216.0,"y":1392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"c5782512-874d-32dd-b001-3168827f9d43","instanceIdentifier":"8c743f3d-1d79-1028-dadc-c1761f3bc71e","name":"","source":{"id":"bdc4427c-27fe-3166-a9e3-240f49b285a9","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingBreachedAssigned","comments":"","instanceIdentifier":"8c743f3a-1d79-1028-ceb6-85ad25c9683d"},"destination":{"id":"de65b173-ffed-3784-b44b-4844c0bced4a","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f38-1d79-1028-1304-b24db74cc135"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"58261298-04a9-3838-b65e-0eb3b4420688","instanceIdentifier":"8c743edf-1d79-1028-5751-4592283e3537","name":"","source":{"id":"6ffbd280-cba6-3d25-99a9-ea78b27eea1d","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d0573ad8-a035-15cb-e02d-6699fa6f0298"},"destination":{"id":"e04981fd-49d7-311c-9da2-a6cf85d39982","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"0ff73e55-c38a-1838-4af5-2d1af44e21df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":970.4500856758647,"y":368.99544685237106}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"7d4a5a5c-8bef-3f47-b2f1-6a9fc013cb0c","instanceIdentifier":"8c743eee-1d79-1028-3d29-7986530cc601","name":"","source":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"SplitJson","comments":"","instanceIdentifier":"8c743eea-1d79-1028-c70e-a7b1c58a0f1a"},"destination":{"id":"edee9498-4c7d-3a99-8514-4839c138a9ad","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743ee8-1d79-1028-3c0a-ec75aa8678ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"600 sec","prioritizers":[],"bends":[{"x":-73.52545504708974,"y":162.73644464396955}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"49595068-2c79-31a8-a9c0-ab6da3ba3c07","instanceIdentifier":"8c743f26-1d79-1028-803f-a3af6dd8fa03","name":"","source":{"id":"2f546ca7-0996-37fc-83b7-43d98e8fa91c","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingNonBreachedNonAssigned","comments":"","instanceIdentifier":"8c743f23-1d79-1028-4533-f5d52f87c627"},"destination":{"id":"ccb97958-59cf-376c-8e14-ad1991a32a3f","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f25-1d79-1028-1b44-cf143459fe9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"82527bba-6222-34b0-ab22-d5532030367f","instanceIdentifier":"8c743f05-1d79-1028-4467-564468d80c2f","name":"","source":{"id":"01a432ba-9e0d-3ff7-a35f-22f6b4f7002e","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"assignment","comments":"","instanceIdentifier":"8c743ef2-1d79-1028-d5f2-013f1a052344"},"destination":{"id":"f446b9e0-d480-39de-b693-3623bfe4208d","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8c743f46-1d79-1028-e4be-b4f805646d59"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"9cbae12c-7432-3468-9602-a2f96f5cf339","instanceIdentifier":"8c743ef1-1d79-1028-01a0-594217e3fa35","name":"","source":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"SplitJson","comments":"","instanceIdentifier":"8c743eea-1d79-1028-c70e-a7b1c58a0f1a"},"destination":{"id":"edee9498-4c7d-3a99-8514-4839c138a9ad","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743ee8-1d79-1028-3c0a-ec75aa8678ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-49.525455047089736,"y":74.73644464396955}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"29a423b4-c7c9-3dab-8341-78c260f79cb2","instanceIdentifier":"8c743f29-1d79-1028-7594-e14c5a79c69b","name":"","source":{"id":"0ae1e053-515a-3cb3-9aad-d1e9107f02d6","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingBreachedNonAssigned","comments":"","instanceIdentifier":"8c743f20-1d79-1028-240c-1c90937c51a8"},"destination":{"id":"ccb97958-59cf-376c-8e14-ad1991a32a3f","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743f25-1d79-1028-1b44-cf143459fe9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-790.7891235351562,"y":1657.97314453125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"bd15cf85-9876-3208-b22b-8076b9259cb0","instanceIdentifier":"8c743eed-1d79-1028-3ffc-17b714110beb","name":"","source":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8c743eeb-1d79-1028-e456-fca248b6ca01"},"destination":{"id":"3135841c-36c5-3e88-b8c7-f247e099b3f6","type":"FUNNEL","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"Funnel","comments":"","instanceIdentifier":"8c743ee7-1d79-1028-fe4e-73b5e34fe7eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-41.525455047089736,"y":346.73644464396955}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"0444308c-a932-315a-bdd5-ae7abafaa295","instanceIdentifier":"8c743f43-1d79-1028-e036-fb2323b37e6c","name":"","source":{"id":"f5e5ffcc-1fc7-3a1b-b1e3-22040ac1f007","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"assignment","comments":"","instanceIdentifier":"8c743f41-1d79-1028-bfc7-3b367caf3d6d"},"destination":{"id":"ee622ef0-cd33-3030-b059-477a71e0ea53","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"incReportingNonBreachedAssigned","comments":"","instanceIdentifier":"8c743f3b-1d79-1028-54d2-1a7bdb11eb58"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"d88fcc8c-83eb-3204-86a6-f4f83aad3af4","instanceIdentifier":"8c743eef-1d79-1028-c228-f7afe22c09a5","name":"","source":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"SplitJson","comments":"","instanceIdentifier":"8c743eea-1d79-1028-c70e-a7b1c58a0f1a"},"destination":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"f5260773-332e-3b1a-bc0b-c4a592c93322","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8c743eeb-1d79-1028-e456-fca248b6ca01"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"}],"labels":[{"identifier":"c87f7ff3-e362-3ef8-9803-56eda281cc78","instanceIdentifier":"0ff73e53-c38a-1838-4014-a367ef269b20","position":{"x":210.45008567586467,"y":-255.00455314762894},"label":"Enrichment  -> S3","zIndex":0,"width":568.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"32bebb70-5b68-38c8-a67b-2c8a4df5370e","instanceIdentifier":"8c743ee5-1d79-1028-cb28-f725de6a15be","position":{"x":-744.0,"y":-248.0},"label":"INC List","zIndex":0,"width":568.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"bdb8fccb-7002-3572-885d-68c6309004a9","instanceIdentifier":"8c743ee6-1d79-1028-5259-636778e680bb","position":{"x":-1616.0,"y":-232.0},"label":"Parameters \"MiKo_config\":\nConfig:\n      IP: 192.168.1.183\nS3:\n      Access Key ID : P3KSl2r2LLCNTbW53A2B\n      Secret Access Key:  aBaRU1d9voMbPZ25jd3eMdpOddkdRkuebpdfK6vk\n\nServices:\n","zIndex":0,"width":640.0,"height":264.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"}],"funnels":[{"identifier":"ca84ef36-9844-3740-b582-457b79ef06e2","instanceIdentifier":"0ff73e57-c38a-1838-5efd-0fa1df56058b","position":{"x":586.4500856758647,"y":752.9954468523711},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"3135841c-36c5-3e88-b8c7-f247e099b3f6","instanceIdentifier":"8c743ee7-1d79-1028-fe4e-73b5e34fe7eb","position":{"x":128.0,"y":376.0},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"d5b088e5-0a6e-3c5e-b5be-5d34bc94988a","instanceIdentifier":"8c743f0c-1d79-1028-d0d0-d5fa80135a53","position":{"x":-376.0,"y":1416.0},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"9f0ae777-61db-3768-83a8-09166e663019","instanceIdentifier":"8c743f35-1d79-1028-5dad-ec57a9f017f8","position":{"x":-384.0,"y":1656.0},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"080fdf0d-9154-30b6-804e-6f58cc19ebca","instanceIdentifier":"0ff73e56-c38a-1838-fbe6-42e83416fe3c","position":{"x":1122.4500856758646,"y":528.9954468523711},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"f8a187d9-a6ea-3706-a27f-6e0ff38fd536","instanceIdentifier":"8c743f48-1d79-1028-64ee-1b770d7adf2d","position":{"x":-1608.0,"y":840.0},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"9654ba03-d030-3a9e-a98e-066ce97138c2","instanceIdentifier":"8c743f0e-1d79-1028-0809-48bfef802471","position":{"x":-376.0,"y":1136.0},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"de65b173-ffed-3784-b44b-4844c0bced4a","instanceIdentifier":"8c743f38-1d79-1028-1304-b24db74cc135","position":{"x":32.0,"y":2416.0},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"ccb97958-59cf-376c-8e14-ad1991a32a3f","instanceIdentifier":"8c743f25-1d79-1028-1b44-cf143459fe9c","position":{"x":-1128.0,"y":1632.0},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"edee9498-4c7d-3a99-8514-4839c138a9ad","instanceIdentifier":"8c743ee8-1d79-1028-3c0a-ec75aa8678ee","position":{"x":112.0,"y":96.0},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"4e8caf88-e1bf-3d03-b067-d5d6ee8e3759","instanceIdentifier":"0ff73e54-c38a-1838-4a2b-13ac575a3581","position":{"x":1138.4500856758646,"y":88.99544685237106},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"},{"identifier":"e04981fd-49d7-311c-9da2-a6cf85d39982","instanceIdentifier":"0ff73e55-c38a-1838-4af5-2d1af44e21df","position":{"x":1166.522041999318,"y":330.67736052908685},"componentType":"FUNNEL","groupIdentifier":"f5260773-332e-3b1a-bc0b-c4a592c93322"}],"controllerServices":[],"variables":{},"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"MiKo_config":{"name":"MiKo_config","parameters":[{"name":"IP","description":"","sensitive":false,"provided":false,"value":"192.168.1.183"},{"name":"Access Key ID","description":"","sensitive":true,"provided":false},{"name":"Secret Access Key","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}