Solutions/NiFi V2/NiFiExpLan_v2.json
{"flowContents":{"identifier":"874dad6a-6ea4-32be-967c-0d49763990b9","instanceIdentifier":"fdfaccbe-0195-1000-c557-4c0830fce768","name":"NiFiExpLan_v2","comments":"","position":{"x":-2504.0,"y":592.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e40dc4b4-1d47-3ad8-90f0-6d9b59ddfc1d","instanceIdentifier":"48efe2d7-8aaa-3ee4-47a0-347b7df8bd0a","name":"GenerateFlowFile","comments":"","position":{"x":496.0,"y":168.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","number":"5","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n\t\"test\" : \"true\",\n\t\"test2\" : \"true\"\n}","Batch Size":"1","Unique FlowFiles":"false","JSON":"{\n\t\"test\" : \"true\",\n\t\"test2\" : \"true\"\n}","var2":"false","var1":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"number":{"name":"number","displayName":"number","identifiesControllerService":false,"sensitive":false,"dynamic":true},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON":{"name":"JSON","displayName":"JSON","identifiesControllerService":false,"sensitive":false,"dynamic":true},"var2":{"name":"var2","displayName":"var2","identifiesControllerService":false,"sensitive":false,"dynamic":true},"var1":{"name":"var1","displayName":"var1","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"874dad6a-6ea4-32be-967c-0d49763990b9"},{"identifier":"bc7bc978-0545-30af-953e-cfcc693cb988","instanceIdentifier":"79cbb024-b64d-3e87-7413-aa10a8e0e730","name":"UpdateAttribute","comments":"","position":{"x":504.0,"y":416.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","wynik6":"${var1:toUpper()}","wynik3":"${JSON:jsonPath(\"$.test\")}","wynik2":"${var1:equals(\"true\"):ifElse(\"sukces\", \"failed\")}","wynik5":"${number:gt(10)}","wynik4":"${anyAttribute(\"var1\", \"var2\"):contains(\"true\")}","Stateful Variables Initial Value":null,"wynik1":"${var1:equals(${var2})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wynik6":{"name":"wynik6","displayName":"wynik6","identifiesControllerService":false,"sensitive":false,"dynamic":true},"wynik3":{"name":"wynik3","displayName":"wynik3","identifiesControllerService":false,"sensitive":false,"dynamic":true},"wynik2":{"name":"wynik2","displayName":"wynik2","identifiesControllerService":false,"sensitive":false,"dynamic":true},"wynik5":{"name":"wynik5","displayName":"wynik5","identifiesControllerService":false,"sensitive":false,"dynamic":true},"wynik4":{"name":"wynik4","displayName":"wynik4","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wynik1":{"name":"wynik1","displayName":"wynik1","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"874dad6a-6ea4-32be-967c-0d49763990b9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d40d2aa9-53bc-3f25-ac19-889dfd8cf443","instanceIdentifier":"45600cb7-00bd-312a-6b61-1680952b9fd2","name":"","source":{"id":"bc7bc978-0545-30af-953e-cfcc693cb988","type":"PROCESSOR","groupId":"874dad6a-6ea4-32be-967c-0d49763990b9","name":"UpdateAttribute","comments":"","instanceIdentifier":"79cbb024-b64d-3e87-7413-aa10a8e0e730"},"destination":{"id":"0ec9abfe-a5eb-3212-ac43-c9bfbf9e8239","type":"FUNNEL","groupId":"874dad6a-6ea4-32be-967c-0d49763990b9","name":"Funnel","comments":"","instanceIdentifier":"123a0493-188a-3668-27c3-b558c98284d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"874dad6a-6ea4-32be-967c-0d49763990b9"},{"identifier":"ebbe0ff8-99da-3aef-81ac-f2872c3664ec","instanceIdentifier":"ecd45d7d-48a7-3808-f431-bdcc4ac4dba0","name":"","source":{"id":"e40dc4b4-1d47-3ad8-90f0-6d9b59ddfc1d","type":"PROCESSOR","groupId":"874dad6a-6ea4-32be-967c-0d49763990b9","name":"GenerateFlowFile","comments":"","instanceIdentifier":"48efe2d7-8aaa-3ee4-47a0-347b7df8bd0a"},"destination":{"id":"bc7bc978-0545-30af-953e-cfcc693cb988","type":"PROCESSOR","groupId":"874dad6a-6ea4-32be-967c-0d49763990b9","name":"UpdateAttribute","comments":"","instanceIdentifier":"79cbb024-b64d-3e87-7413-aa10a8e0e730"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"874dad6a-6ea4-32be-967c-0d49763990b9"}],"labels":[{"identifier":"53aefde9-2cd9-32f2-bc2f-c39b304a06d9","instanceIdentifier":"7cda2ef2-0913-3053-fc11-04c2651e0b72","position":{"x":-104.0,"y":168.0},"label":"Wynik1 -> var1 ?=var2\nWynik2 -> var1=true -> sukces\nWynik3 -> extract test from JSON\nWynik4 -> any of var1, var2 contains true\nWynik5 -> number > 10\nWynik6 -> var1 to upper","zIndex":0,"width":496.0,"height":384.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"874dad6a-6ea4-32be-967c-0d49763990b9"}],"funnels":[{"identifier":"0ec9abfe-a5eb-3212-ac43-c9bfbf9e8239","instanceIdentifier":"123a0493-188a-3668-27c3-b558c98284d9","position":{"x":664.0,"y":688.0},"componentType":"FUNNEL","groupIdentifier":"874dad6a-6ea4-32be-967c-0d49763990b9"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}