Solutions/NiFi V2/task5-Twitter_API_v2.json
{"flowContents":{"identifier":"8484a652-f62b-31bc-b5a4-62128ab0902d","instanceIdentifier":"fdf9db1e-0195-1000-2ca0-c15e81610dd8","name":"task5-Twitter_API_v2","comments":"","position":{"x":-2072.0,"y":1008.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"86c454f0-b1ac-3628-a5c3-d5030e90920d","instanceIdentifier":"d84e762b-3e16-3fbd-2cdc-1ffe6035f3cb","name":"UpdateAttribute","comments":"","position":{"x":272.0,"y":1216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"subjectivity":"${output:jsonPath(\"$[1]\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"polarity":"${output:jsonPath(\"$[0]\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"subjectivity":{"name":"subjectivity","displayName":"subjectivity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"polarity":{"name":"polarity","displayName":"polarity","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"c3ffa12f-ef5b-3bd8-a765-9e1650f22bdd","instanceIdentifier":"36f75cc8-4484-3a92-81a1-c4fb37b3e5fa","name":"GenerateFlowFile","comments":"","position":{"x":264.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","search_string":"election","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"search_string":{"name":"search_string","displayName":"search_string","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"7bf10874-06d4-352f-94fc-20b48b0b4a32","instanceIdentifier":"e010ef0b-855b-3766-2349-d1a7d5a2c157","name":"ExecuteStreamCommand","comments":"","position":{"x":272.0,"y":936.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":null,"Command Path":"python3","Output Destination Attribute":"output","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/script.py; \"${text}\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"211bb918-f411-3b08-b62d-b59f55c87cf9","instanceIdentifier":"5624df3c-d639-3f7b-6470-d3213240b435","name":"InvokeHTTP","comments":"","position":{"x":272.0,"y":128.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer #{twitter_token}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.twitter.com/2/tweets/search/recent?query=${search_string}&max_results=10","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"05685d84-a4b0-3c77-a0fb-cdda3baa79bf","instanceIdentifier":"50e6143a-70dc-3d82-56ba-8d4a20bc95a0","name":"PublishKafka","comments":"- configure connection service","position":{"x":272.0,"y":1736.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.3.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"twitter_sentiment","Kafka Key":null,"partition":null,"Kafka Connection Service":"8bc66d78-f27f-3f98-944e-11eef790b4bf","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"33855ca1-93e7-3307-bd8f-3f87a9fe97ad","instanceIdentifier":"86a7d0ac-0a28-3632-a7cf-5c434e3f046d","name":"SplitJson","comments":"","position":{"x":272.0,"y":392.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.data.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"3c7ae771-e39b-3c73-8f8b-521380c6b396","instanceIdentifier":"c55b39ee-34a2-31dd-65b5-276b80a2b761","name":"AttributesToJSON","comments":"","position":{"x":272.0,"y":1464.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"polarity, subjectivity, text, id","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"631f833f-0aff-3d26-bc0f-1648dcb90516","instanceIdentifier":"450ebf06-f83c-3817-7580-c414a37e78ea","name":"EvaluateJsonPath","comments":"","position":{"x":272.0,"y":664.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","text":"$.text","id":"$.id","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"text":{"name":"text","displayName":"text","identifiesControllerService":false,"sensitive":false,"dynamic":true},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5fde46aa-4b9b-3f10-b786-adae7b755f76","instanceIdentifier":"5886b2bf-adbd-3061-9822-60cb34c55788","name":"","source":{"id":"33855ca1-93e7-3307-bd8f-3f87a9fe97ad","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"SplitJson","comments":"","instanceIdentifier":"86a7d0ac-0a28-3632-a7cf-5c434e3f046d"},"destination":{"id":"35f439b6-11ed-3d8f-aa46-9f702c95a070","type":"FUNNEL","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"Funnel","comments":"","instanceIdentifier":"af9e23da-6da8-346b-6e30-3f72e39c8262"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"62b01376-ed1a-3c61-b63f-21cd01917945","instanceIdentifier":"8785b71e-9351-3b11-7755-54217332fca8","name":"","source":{"id":"7bf10874-06d4-352f-94fc-20b48b0b4a32","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"e010ef0b-855b-3766-2349-d1a7d5a2c157"},"destination":{"id":"86c454f0-b1ac-3628-a5c3-d5030e90920d","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"UpdateAttribute","comments":"","instanceIdentifier":"d84e762b-3e16-3fbd-2cdc-1ffe6035f3cb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"99164146-b27d-3209-bd1f-90c9e346b915","instanceIdentifier":"ae3f41e0-f209-3671-7576-cb7c901064dc","name":"","source":{"id":"631f833f-0aff-3d26-bc0f-1648dcb90516","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"450ebf06-f83c-3817-7580-c414a37e78ea"},"destination":{"id":"7bf10874-06d4-352f-94fc-20b48b0b4a32","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"e010ef0b-855b-3766-2349-d1a7d5a2c157"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"930db786-892b-3a9d-97a2-18eb12f9e465","instanceIdentifier":"5a42f4c2-fc89-3cac-3193-520c9c90e827","name":"","source":{"id":"05685d84-a4b0-3c77-a0fb-cdda3baa79bf","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"50e6143a-70dc-3d82-56ba-8d4a20bc95a0"},"destination":{"id":"312c3fae-c177-3e50-94aa-73a100038269","type":"FUNNEL","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"Funnel","comments":"","instanceIdentifier":"acadd1d1-dd2e-38de-ee2d-ac2eaef4ab20"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"573465ee-04ff-38d8-bd01-f01e15edc317","instanceIdentifier":"2e991aa1-5286-30a4-4f22-0ab150fe073c","name":"","source":{"id":"86c454f0-b1ac-3628-a5c3-d5030e90920d","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"UpdateAttribute","comments":"","instanceIdentifier":"d84e762b-3e16-3fbd-2cdc-1ffe6035f3cb"},"destination":{"id":"3c7ae771-e39b-3c73-8f8b-521380c6b396","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"AttributesToJSON","comments":"","instanceIdentifier":"c55b39ee-34a2-31dd-65b5-276b80a2b761"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"7fa3c67a-31c0-3f70-b05b-65015beab91e","instanceIdentifier":"70b36011-1b62-3848-a105-c85abc809431","name":"","source":{"id":"211bb918-f411-3b08-b62d-b59f55c87cf9","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"InvokeHTTP","comments":"","instanceIdentifier":"5624df3c-d639-3f7b-6470-d3213240b435"},"destination":{"id":"31214895-0298-38b4-b21e-66b75cd7aa9f","type":"FUNNEL","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"Funnel","comments":"","instanceIdentifier":"2d6d3702-8548-39ee-51ba-eb43ad04f1c2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":112.0,"y":224.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"e2f2ef0a-16e3-3688-a0dd-bb4065723593","instanceIdentifier":"954b5772-7d6d-3006-153e-577944f7c96e","name":"","source":{"id":"211bb918-f411-3b08-b62d-b59f55c87cf9","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"InvokeHTTP","comments":"","instanceIdentifier":"5624df3c-d639-3f7b-6470-d3213240b435"},"destination":{"id":"31214895-0298-38b4-b21e-66b75cd7aa9f","type":"FUNNEL","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"Funnel","comments":"","instanceIdentifier":"2d6d3702-8548-39ee-51ba-eb43ad04f1c2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":112.0,"y":120.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"5c4cb413-042b-3e0d-a9a0-bfd2eae42448","instanceIdentifier":"1b205b65-e83e-3f76-f223-e186ca867adb","name":"","source":{"id":"3c7ae771-e39b-3c73-8f8b-521380c6b396","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"AttributesToJSON","comments":"","instanceIdentifier":"c55b39ee-34a2-31dd-65b5-276b80a2b761"},"destination":{"id":"07c53b9c-e2e0-3312-baee-de3c22ce18ba","type":"FUNNEL","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"Funnel","comments":"","instanceIdentifier":"9a5b557e-f609-3ad1-4e02-e905e4296fc9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"fcbb6075-b4ea-361e-955c-02caa1eeebe6","instanceIdentifier":"e8fa2a41-bcd8-380d-dd12-f81b9d170d7b","name":"","source":{"id":"211bb918-f411-3b08-b62d-b59f55c87cf9","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"InvokeHTTP","comments":"","instanceIdentifier":"5624df3c-d639-3f7b-6470-d3213240b435"},"destination":{"id":"33855ca1-93e7-3307-bd8f-3f87a9fe97ad","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"SplitJson","comments":"","instanceIdentifier":"86a7d0ac-0a28-3632-a7cf-5c434e3f046d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"a8213b04-e667-3993-88e0-a6a03cb5a30d","instanceIdentifier":"db12de0b-be50-3752-f6a7-e9c4ad7127cf","name":"","source":{"id":"33855ca1-93e7-3307-bd8f-3f87a9fe97ad","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"SplitJson","comments":"","instanceIdentifier":"86a7d0ac-0a28-3632-a7cf-5c434e3f046d"},"destination":{"id":"631f833f-0aff-3d26-bc0f-1648dcb90516","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"450ebf06-f83c-3817-7580-c414a37e78ea"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"f014425a-0933-3225-bf7c-e5c24f4a3fe8","instanceIdentifier":"2466ed26-503e-368b-2484-be7e1e67d531","name":"","source":{"id":"631f833f-0aff-3d26-bc0f-1648dcb90516","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"450ebf06-f83c-3817-7580-c414a37e78ea"},"destination":{"id":"de77ebe0-e340-3c4b-935c-6c3e192b1267","type":"FUNNEL","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"Funnel","comments":"","instanceIdentifier":"1a4a19f3-0f54-31e7-6a3d-1cfe37eced3e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"783a6f67-4a8c-3442-85f2-122d7a4d3d27","instanceIdentifier":"4d935858-fa13-3f28-987b-d95be41df24d","name":"","source":{"id":"05685d84-a4b0-3c77-a0fb-cdda3baa79bf","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"50e6143a-70dc-3d82-56ba-8d4a20bc95a0"},"destination":{"id":"52659f0c-b899-3cdf-8664-71f3550c0490","type":"FUNNEL","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"Funnel","comments":"","instanceIdentifier":"469d5e56-4e8f-322d-d547-d816e71f7caf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"4d08e155-2e9d-3523-994b-4aedca2bdc44","instanceIdentifier":"791d6f30-4733-37fd-102b-9f51d62b2b2f","name":"","source":{"id":"c3ffa12f-ef5b-3bd8-a765-9e1650f22bdd","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"GenerateFlowFile","comments":"","instanceIdentifier":"36f75cc8-4484-3a92-81a1-c4fb37b3e5fa"},"destination":{"id":"211bb918-f411-3b08-b62d-b59f55c87cf9","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"InvokeHTTP","comments":"","instanceIdentifier":"5624df3c-d639-3f7b-6470-d3213240b435"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"9fde0e38-23dd-31fc-b23a-c2ef9060028f","instanceIdentifier":"c12dc855-b549-37c9-0a21-e74e9989d611","name":"","source":{"id":"3c7ae771-e39b-3c73-8f8b-521380c6b396","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"AttributesToJSON","comments":"","instanceIdentifier":"c55b39ee-34a2-31dd-65b5-276b80a2b761"},"destination":{"id":"05685d84-a4b0-3c77-a0fb-cdda3baa79bf","type":"PROCESSOR","groupId":"8484a652-f62b-31bc-b5a4-62128ab0902d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"50e6143a-70dc-3d82-56ba-8d4a20bc95a0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"}],"labels":[{"identifier":"e5a5182c-2dbe-3828-a484-f5d934d27352","instanceIdentifier":"4f9348ee-0112-34e0-0cfe-6023eee95466","position":{"x":-104.0,"y":-200.0},"label":"Twitter / X posts sentiment analyzer","zIndex":0,"width":720.0,"height":56.0,"style":{"background-color":"#26a269","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"}],"funnels":[{"identifier":"07c53b9c-e2e0-3312-baee-de3c22ce18ba","instanceIdentifier":"9a5b557e-f609-3ad1-4e02-e905e4296fc9","position":{"x":-56.0,"y":1504.0},"componentType":"FUNNEL","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"31214895-0298-38b4-b21e-66b75cd7aa9f","instanceIdentifier":"2d6d3702-8548-39ee-51ba-eb43ad04f1c2","position":{"x":-96.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"52659f0c-b899-3cdf-8664-71f3550c0490","instanceIdentifier":"469d5e56-4e8f-322d-d547-d816e71f7caf","position":{"x":-56.0,"y":1784.0},"componentType":"FUNNEL","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"35f439b6-11ed-3d8f-aa46-9f702c95a070","instanceIdentifier":"af9e23da-6da8-346b-6e30-3f72e39c8262","position":{"x":-88.0,"y":424.0},"componentType":"FUNNEL","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"de77ebe0-e340-3c4b-935c-6c3e192b1267","instanceIdentifier":"1a4a19f3-0f54-31e7-6a3d-1cfe37eced3e","position":{"x":-80.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"},{"identifier":"312c3fae-c177-3e50-94aa-73a100038269","instanceIdentifier":"acadd1d1-dd2e-38de-ee2d-ac2eaef4ab20","position":{"x":424.0,"y":1992.0},"componentType":"FUNNEL","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"}],"controllerServices":[{"identifier":"8bc66d78-f27f-3f98-944e-11eef790b4bf","instanceIdentifier":"07d11741-0196-1000-f727-da4d72707535","name":"Kafka - X","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.3.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"#{IP}:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8484a652-f62b-31bc-b5a4-62128ab0902d"}],"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"MiKo_config":{"name":"MiKo_config","parameters":[{"name":"Redis_pass","description":"","sensitive":true,"provided":false},{"name":"twitter_token","description":"","sensitive":false,"provided":false},{"name":"IP","description":"","sensitive":false,"provided":false},{"name":"Access Key ID","description":"","sensitive":true,"provided":false},{"name":"snow-pass","description":"","sensitive":true,"provided":false},{"name":"email","description":"","sensitive":false,"provided":false},{"name":"email pass","description":"","sensitive":true,"provided":false},{"name":"Secret Access Key","description":"","sensitive":true,"provided":false},{"name":"SNOW_URL","description":"","sensitive":false,"provided":false,"value":"https://[SNOW-ID].service-now.com/api/now/table/incident"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}