Solutions/NiFi V2/task1-Calculator_v2.json
{"flowContents":{"identifier":"f181965c-c5ec-3750-a285-a6a1633101ac","instanceIdentifier":"fdf5ef27-0195-1000-8cb3-6f91812d52b7","name":"task1-Calculator_v2","comments":"","position":{"x":-2080.0,"y":592.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5f018a04-9c64-3ec2-b57d-dab2bd935593","instanceIdentifier":"ccc597ea-142c-3175-dc4c-08606bf0a7cb","name":"PublishKafka","comments":"- configure connection service","position":{"x":272.0,"y":1096.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.3.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"nifi","Kafka Key":null,"partition":null,"Kafka Connection Service":"db6127df-37fd-3b7f-b2dc-b12146326186","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"b44cfe13-6c9e-3400-95e6-a01b4610502a","instanceIdentifier":"4334ae81-7cef-32f3-3bdd-718ac8cd0100","name":"PutDistributedMapCache","comments":"","position":{"x":1040.0,"y":1096.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Cache Entry Identifier":"Calculator_${A}_${B}","Cache update strategy":"replace","Distributed Cache Service":"6c4a3954-ae03-3fae-810d-3b93b13738fb","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"389c71dc-86f0-364e-9072-bc4601cf6817","instanceIdentifier":"e7b2164e-ac81-3687-e00b-c219cb03d6d6","name":"JoltTransformJSON","comments":"","position":{"x":640.0,"y":824.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"*\": \"\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n\t\t\"A\" : \"${A}\",\n      \t\"B\" : \"${B}\",\n      \t\"SUMA\" : \"${SUMA}\",\n      \t\"ILOCZYN\" : \"${ILOCZYN}\"\n      \n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"306eb04f-6e60-3148-876b-fb5bd16a4b86","instanceIdentifier":"3da5ee16-3310-3a4c-7e1d-5256d32069d4","name":"GenerateFlowFile","comments":"","position":{"x":624.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[\n{\n\"A\" : \"10\",\n\"B\" : \"20\"\n},\n{\n\"A\" : \"15\",\n\"B\" : \"15\"\n},\n{\n\"A\" : \"5\",\n\"B\" : \"10\"\n},\n{\n\"A\" : \"8\",\n\"B\" : \"15\"\n},\n{\n\"A\" : \"25\",\n\"B\" : \"25\"\n}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"3302675e-6a65-393d-ba8d-02f1c4b91f3e","instanceIdentifier":"97c3b8e3-9611-3a67-43eb-2cbf449ed92a","name":"UpdateAttribute","comments":"","position":{"x":640.0,"y":552.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"SUMA":"${A:plus(${B})}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ILOCZYN":"${A:multiply(${B})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"SUMA":{"name":"SUMA","displayName":"SUMA","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ILOCZYN":{"name":"ILOCZYN","displayName":"ILOCZYN","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"57100088-b46f-3f4c-b084-54da7665a3e4","instanceIdentifier":"54828bbc-ed32-3b88-4d75-08b6cbf3f77b","name":"SplitJson","comments":"","position":{"x":632.0,"y":88.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","instanceIdentifier":"6977376e-034a-35ba-7f2c-61ddf0bb5a4d","name":"EvaluateJsonPath","comments":"","position":{"x":640.0,"y":312.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","A":"$.A","B":"$.B","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"A":{"name":"A","displayName":"A","identifiesControllerService":false,"sensitive":false,"dynamic":true},"B":{"name":"B","displayName":"B","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"21e51b54-e960-3592-855e-4ec92e3d4176","instanceIdentifier":"4f42b483-a107-379d-d1cf-99631a128124","name":"","source":{"id":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6977376e-034a-35ba-7f2c-61ddf0bb5a4d"},"destination":{"id":"0f39c7f6-0cdd-3b1a-a4eb-f917de85c082","type":"FUNNEL","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"Funnel","comments":"","instanceIdentifier":"74b6baba-0ca9-354b-3110-4bb65e8d74e3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1208.0,"y":328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"2f703264-490d-37d0-912f-f56a1c4a2b78","instanceIdentifier":"fc3bf668-a11d-3188-139c-f3a0f0af4b6d","name":"","source":{"id":"57100088-b46f-3f4c-b084-54da7665a3e4","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"SplitJson","comments":"","instanceIdentifier":"54828bbc-ed32-3b88-4d75-08b6cbf3f77b"},"destination":{"id":"f7d0ccc7-a8d4-340f-8e8c-d2e42c3d5346","type":"FUNNEL","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"Funnel","comments":"","instanceIdentifier":"34a62d8e-b2bd-35a1-f220-8ba8e6734af4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1160.0,"y":112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"e655a3c0-ad7b-35e5-9fa2-f87b638f56e4","instanceIdentifier":"3cafb59f-233e-3cd5-ce36-adc436265e10","name":"","source":{"id":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6977376e-034a-35ba-7f2c-61ddf0bb5a4d"},"destination":{"id":"0f39c7f6-0cdd-3b1a-a4eb-f917de85c082","type":"FUNNEL","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"Funnel","comments":"","instanceIdentifier":"74b6baba-0ca9-354b-3110-4bb65e8d74e3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1208.0,"y":400.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"28b3d4e6-a883-39b1-9b04-db7da1a0bd82","instanceIdentifier":"2c9cf65b-a9a8-3c24-7e64-53a738beb633","name":"","source":{"id":"b44cfe13-6c9e-3400-95e6-a01b4610502a","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"4334ae81-7cef-32f3-3bdd-718ac8cd0100"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"Funnel","comments":"","instanceIdentifier":"534dd4db-aa3c-3c20-ab7c-c34ea472fd5e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1216.0,"y":1336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"c16a594a-cb24-3e3e-8c31-dac72a2c4183","instanceIdentifier":"62252132-c641-31b0-1aeb-9a8badb796a2","name":"","source":{"id":"389c71dc-86f0-364e-9072-bc4601cf6817","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e7b2164e-ac81-3687-e00b-c219cb03d6d6"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"Funnel","comments":"","instanceIdentifier":"534dd4db-aa3c-3c20-ab7c-c34ea472fd5e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"2922dbd7-ea83-34c7-9461-f019beccc624","instanceIdentifier":"087decac-8db5-32ec-25b9-4724de032834","name":"","source":{"id":"57100088-b46f-3f4c-b084-54da7665a3e4","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"SplitJson","comments":"","instanceIdentifier":"54828bbc-ed32-3b88-4d75-08b6cbf3f77b"},"destination":{"id":"f7d0ccc7-a8d4-340f-8e8c-d2e42c3d5346","type":"FUNNEL","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"Funnel","comments":"","instanceIdentifier":"34a62d8e-b2bd-35a1-f220-8ba8e6734af4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1160.0,"y":176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"3cc86ac1-a20d-3e50-8e8b-136bb4571e7a","instanceIdentifier":"f0651ef4-1f5a-3c49-3e27-abb5822a4a12","name":"","source":{"id":"389c71dc-86f0-364e-9072-bc4601cf6817","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e7b2164e-ac81-3687-e00b-c219cb03d6d6"},"destination":{"id":"5f018a04-9c64-3ec2-b57d-dab2bd935593","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"ccc597ea-142c-3175-dc4c-08606bf0a7cb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":448.0,"y":888.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"053a26a2-c9fa-3e15-8495-4d2571b5ac4a","instanceIdentifier":"58580664-3a21-3d78-38a3-f4cc061dc599","name":"","source":{"id":"389c71dc-86f0-364e-9072-bc4601cf6817","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e7b2164e-ac81-3687-e00b-c219cb03d6d6"},"destination":{"id":"b44cfe13-6c9e-3400-95e6-a01b4610502a","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"4334ae81-7cef-32f3-3bdd-718ac8cd0100"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1216.0,"y":888.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"2859c8f0-c860-3cfc-87c7-182695f0166e","instanceIdentifier":"99ac84f1-6eab-3048-9766-7b044b6a3bda","name":"","source":{"id":"5f018a04-9c64-3ec2-b57d-dab2bd935593","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"ccc597ea-142c-3175-dc4c-08606bf0a7cb"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"Funnel","comments":"","instanceIdentifier":"534dd4db-aa3c-3c20-ab7c-c34ea472fd5e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":448.0,"y":1336.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"cde969b9-6ed7-347b-9052-3b17413b150f","instanceIdentifier":"3793e400-72df-3612-d922-469d9398e40f","name":"","source":{"id":"5f018a04-9c64-3ec2-b57d-dab2bd935593","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"ccc597ea-142c-3175-dc4c-08606bf0a7cb"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"Funnel","comments":"","instanceIdentifier":"534dd4db-aa3c-3c20-ab7c-c34ea472fd5e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"87bf022b-f173-3944-80c9-8767fc479a17","instanceIdentifier":"86e681b9-2110-3a67-6c4e-8acd683f4eb2","name":"","source":{"id":"b44cfe13-6c9e-3400-95e6-a01b4610502a","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"4334ae81-7cef-32f3-3bdd-718ac8cd0100"},"destination":{"id":"feca5662-4812-3909-bdc2-9007dd2d7514","type":"FUNNEL","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"Funnel","comments":"","instanceIdentifier":"534dd4db-aa3c-3c20-ab7c-c34ea472fd5e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"988ea050-7080-3218-b3e7-42b083a74030","instanceIdentifier":"f6c94cae-5423-37b8-26a7-5b5d6af85e60","name":"","source":{"id":"306eb04f-6e60-3148-876b-fb5bd16a4b86","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"GenerateFlowFile","comments":"","instanceIdentifier":"3da5ee16-3310-3a4c-7e1d-5256d32069d4"},"destination":{"id":"57100088-b46f-3f4c-b084-54da7665a3e4","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"SplitJson","comments":"","instanceIdentifier":"54828bbc-ed32-3b88-4d75-08b6cbf3f77b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"0a488602-81ef-36b8-a6d8-078f0417f6f3","instanceIdentifier":"a20d6f04-0223-312d-edae-dcd7fff16ad4","name":"","source":{"id":"3302675e-6a65-393d-ba8d-02f1c4b91f3e","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"UpdateAttribute","comments":"","instanceIdentifier":"97c3b8e3-9611-3a67-43eb-2cbf449ed92a"},"destination":{"id":"389c71dc-86f0-364e-9072-bc4601cf6817","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e7b2164e-ac81-3687-e00b-c219cb03d6d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"6259fb92-f79b-3759-a249-7bc41a53ad92","instanceIdentifier":"5b494ba1-5ab4-356e-64b7-1cb1f211311f","name":"","source":{"id":"57100088-b46f-3f4c-b084-54da7665a3e4","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"SplitJson","comments":"","instanceIdentifier":"54828bbc-ed32-3b88-4d75-08b6cbf3f77b"},"destination":{"id":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6977376e-034a-35ba-7f2c-61ddf0bb5a4d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"afc9bd8f-ea82-3617-b754-311d6555e026","instanceIdentifier":"198d97df-549d-3d9c-c99c-957a781d1dde","name":"","source":{"id":"921ab704-ebdd-3cb3-b96c-e79e3bb5c3f4","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6977376e-034a-35ba-7f2c-61ddf0bb5a4d"},"destination":{"id":"3302675e-6a65-393d-ba8d-02f1c4b91f3e","type":"PROCESSOR","groupId":"f181965c-c5ec-3750-a285-a6a1633101ac","name":"UpdateAttribute","comments":"","instanceIdentifier":"97c3b8e3-9611-3a67-43eb-2cbf449ed92a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"}],"labels":[],"funnels":[{"identifier":"0f39c7f6-0cdd-3b1a-a4eb-f917de85c082","instanceIdentifier":"74b6baba-0ca9-354b-3110-4bb65e8d74e3","position":{"x":1368.0,"y":360.0},"componentType":"FUNNEL","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"f7d0ccc7-a8d4-340f-8e8c-d2e42c3d5346","instanceIdentifier":"34a62d8e-b2bd-35a1-f220-8ba8e6734af4","position":{"x":1312.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"feca5662-4812-3909-bdc2-9007dd2d7514","instanceIdentifier":"534dd4db-aa3c-3c20-ab7c-c34ea472fd5e","position":{"x":792.0,"y":1312.0},"componentType":"FUNNEL","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"}],"controllerServices":[{"identifier":"6c4a3954-ae03-3fae-810d-3b93b13738fb","instanceIdentifier":"da570c6c-17bc-34b4-d332-f504d86fca79","name":"Redis_DB1: Calculator","comments":"","type":"org.apache.nifi.redis.service.RedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.3.0"},"properties":{"redis-connection-pool":"9d5f2ee8-64cc-3b0b-90c1-781b9b4e8aa9","redis-cache-ttl":"600 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"db6127df-37fd-3b7f-b2dc-b12146326186","instanceIdentifier":"ffc4cbb3-0195-1000-9119-632337296305","name":"Kafka-Calculator","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.3.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"192.168.1.182:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"},{"identifier":"9d5f2ee8-64cc-3b0b-90c1-781b9b4e8aa9","instanceIdentifier":"7006bf92-63f5-3919-0133-2b50e81fe48b","name":"Redis_DB1: Calculator","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.3.0"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"#{IP}:6379","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Sentinel Username":null,"Pool - Min Idle":"0","Username":null,"Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"1","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Sentinel Username":{"name":"Sentinel Username","displayName":"Sentinel Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Password":{"name":"Sentinel Password","displayName":"Sentinel Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f181965c-c5ec-3750-a285-a6a1633101ac"}],"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"MiKo_config":{"name":"MiKo_config","parameters":[{"name":"Redis_pass","description":"","sensitive":true,"provided":false},{"name":"twitter_token","description":"","sensitive":false,"provided":false},{"name":"IP","description":"","sensitive":false,"provided":false},{"name":"Access Key ID","description":"","sensitive":true,"provided":false},{"name":"snow-pass","description":"","sensitive":true,"provided":false},{"name":"email","description":"","sensitive":false,"provided":false},{"name":"email pass","description":"","sensitive":true,"provided":false},{"name":"Secret Access Key","description":"","sensitive":true,"provided":false},{"name":"SNOW_URL","description":"","sensitive":false,"provided":false,"value":"https://[SNOW-ID].service-now.com/api/now/table/incident"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}