Solutions/NiFi V2/task4-ServiceNow_inc_v2.json
{"flowContents":{"identifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9","instanceIdentifier":"fe0e9b7d-0195-1000-c732-21ab52251253","name":"task4-ServiceNow_inc_v2","comments":"","position":{"x":-2496.0,"y":1008.0},"processGroups":[{"identifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d","instanceIdentifier":"94549369-7abd-3a27-90db-e5aadaffdd81","name":"INC_from_snow","comments":"","position":{"x":528.0,"y":928.0},"processGroups":[{"identifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9","instanceIdentifier":"a8074baa-8e63-3c02-7109-178968acf6e6","name":"get_info_about_caller","comments":"","position":{"x":-576.0,"y":328.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0eb3bfb7-67bf-31b1-afee-ee6223d36529","instanceIdentifier":"3736ad64-75f8-3119-fcf5-890868956e86","name":"InvokeHTTP","comments":"","position":{"x":632.0,"y":2360.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Request Password":"#{snow-pass}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"${caller_id.link}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":"admin","Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"be9c3117-0e16-38fc-b50f-00119e103bc4","instanceIdentifier":"71c3468a-457f-34f0-8d7d-f9a6041cda59","name":"EvaluateJsonPath","comments":"","position":{"x":640.0,"y":2656.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"caller_surname":"$.result.last_name","Destination":"flowfile-attribute","caller_name":"$.result.first_name","Max String Length":"20 MB","Return Type":"json","caller_email":"$.result.email","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"caller_surname":{"name":"caller_surname","displayName":"caller_surname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"caller_name":{"name":"caller_name","displayName":"caller_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"caller_email":{"name":"caller_email","displayName":"caller_email","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"inputPorts":[{"identifier":"abc3de90-8a2d-3db7-a2c1-9863ca6cd890","instanceIdentifier":"bdacd425-fb2f-3a33-d90c-f50807b5a7aa","name":"input","position":{"x":688.0,"y":2184.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"outputPorts":[{"identifier":"893f4aef-52be-3c80-83a2-20e4f783217f","instanceIdentifier":"0dadefbd-b5f0-36fa-f05b-7543a79ab8d0","name":"output","position":{"x":696.0,"y":2912.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"connections":[{"identifier":"2bd204d8-e81f-37a3-9b51-c16d1beac81f","instanceIdentifier":"7f90f174-fa35-3375-0107-fa8be577294d","name":"","source":{"id":"be9c3117-0e16-38fc-b50f-00119e103bc4","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"71c3468a-457f-34f0-8d7d-f9a6041cda59"},"destination":{"id":"893f4aef-52be-3c80-83a2-20e4f783217f","type":"OUTPUT_PORT","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"output","instanceIdentifier":"0dadefbd-b5f0-36fa-f05b-7543a79ab8d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"b9bf2c0d-3e61-3e62-94a3-189906183c10","instanceIdentifier":"e00583c6-16f2-3e87-5f54-16d7ed1b63c1","name":"","source":{"id":"be9c3117-0e16-38fc-b50f-00119e103bc4","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"71c3468a-457f-34f0-8d7d-f9a6041cda59"},"destination":{"id":"3e0706fa-a669-3a3c-ae57-3e483de318e7","type":"FUNNEL","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"Funnel","comments":"","instanceIdentifier":"ce8d0cb1-853c-3e76-ce2c-8ad391cf5138"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"c8cd669f-080a-3643-823b-b87e12bfe433","instanceIdentifier":"9300cb71-b8f6-3bbb-f019-e50ddaba2eaf","name":"","source":{"id":"abc3de90-8a2d-3db7-a2c1-9863ca6cd890","type":"INPUT_PORT","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"input","instanceIdentifier":"bdacd425-fb2f-3a33-d90c-f50807b5a7aa"},"destination":{"id":"0eb3bfb7-67bf-31b1-afee-ee6223d36529","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"InvokeHTTP","comments":"","instanceIdentifier":"3736ad64-75f8-3119-fcf5-890868956e86"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"fd6006bb-e661-3c37-a7be-e09eb47d9cb3","instanceIdentifier":"f65c475f-8266-3f16-f55f-784bda2c7417","name":"","source":{"id":"0eb3bfb7-67bf-31b1-afee-ee6223d36529","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"InvokeHTTP","comments":"","instanceIdentifier":"3736ad64-75f8-3119-fcf5-890868956e86"},"destination":{"id":"0dc71ebb-3e2d-3d0a-9339-08b409bd213a","type":"FUNNEL","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"Funnel","comments":"","instanceIdentifier":"cffaf8be-f447-3ce2-bacd-83995af2eac7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"bc2f1375-4de9-34d8-844e-c084e4d1c4a3","instanceIdentifier":"2f1d815b-40f4-33b2-010b-81c1dc4eec7d","name":"","source":{"id":"0eb3bfb7-67bf-31b1-afee-ee6223d36529","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"InvokeHTTP","comments":"","instanceIdentifier":"3736ad64-75f8-3119-fcf5-890868956e86"},"destination":{"id":"be9c3117-0e16-38fc-b50f-00119e103bc4","type":"PROCESSOR","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"71c3468a-457f-34f0-8d7d-f9a6041cda59"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"labels":[],"funnels":[{"identifier":"0dc71ebb-3e2d-3d0a-9339-08b409bd213a","instanceIdentifier":"cffaf8be-f447-3ce2-bacd-83995af2eac7","position":{"x":280.0,"y":2384.0},"componentType":"FUNNEL","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"},{"identifier":"3e0706fa-a669-3a3c-ae57-3e483de318e7","instanceIdentifier":"ce8d0cb1-853c-3e76-ce2c-8ad391cf5138","position":{"x":280.0,"y":2680.0},"componentType":"FUNNEL","groupIdentifier":"affd3877-07c3-3cc3-aa59-1f1529e662a9"}],"controllerServices":[],"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073","instanceIdentifier":"cedaeb93-c602-344a-e727-207c7035c6df","name":"AG_details","comments":"","position":{"x":-2432.0,"y":1648.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a7261849-23f7-3487-aa76-b9b3aee82cf1","instanceIdentifier":"5f2b4278-6b6a-3a9f-27c6-60034a61fe0a","name":"EvaluateJsonPath","comments":"","position":{"x":-1024.0,"y":2136.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","AG_email":"$.result.email","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","AG_name":"$.result.name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AG_email":{"name":"AG_email","displayName":"AG_email","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AG_name":{"name":"AG_name","displayName":"AG_name","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"caec82f9-a09d-38ea-b2fd-c0d47f36dcd4","instanceIdentifier":"435509a3-a23d-37d4-57b5-4eb9d970deac","name":"InvokeHTTP","comments":"","position":{"x":-1023.0,"y":1865.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Request Password":"#{snow-pass}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"${assignment_group:jsonPath(\"$.link\")}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":"admin","Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"inputPorts":[{"identifier":"9dc141e0-a3bc-316d-a725-5a74eab52014","instanceIdentifier":"4c6bf928-7f8a-33b1-c333-ec7d81c6454a","name":"input","position":{"x":-968.0,"y":1688.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"outputPorts":[{"identifier":"da102604-a532-316b-bea2-5d18c1a60e96","instanceIdentifier":"dc08624f-6727-3421-f519-8f68bceddd71","name":"output","position":{"x":-960.0,"y":2392.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"connections":[{"identifier":"cd2f3136-6258-3fea-b2fa-7b38da7dafcc","instanceIdentifier":"8e4308be-3f2d-31b6-4678-e24aeabb4359","name":"","source":{"id":"caec82f9-a09d-38ea-b2fd-c0d47f36dcd4","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"InvokeHTTP","comments":"","instanceIdentifier":"435509a3-a23d-37d4-57b5-4eb9d970deac"},"destination":{"id":"3f9db4bf-e7c5-3526-a59f-8b605fde3f51","type":"FUNNEL","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"Funnel","comments":"","instanceIdentifier":"98d5bf6d-a98a-3a21-97f3-bff9f1a552e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"2ed532ef-ce23-30f0-8b7f-6ecdf1b4b82d","instanceIdentifier":"7953d013-92b6-3752-f048-38041d29b5ab","name":"","source":{"id":"caec82f9-a09d-38ea-b2fd-c0d47f36dcd4","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"InvokeHTTP","comments":"","instanceIdentifier":"435509a3-a23d-37d4-57b5-4eb9d970deac"},"destination":{"id":"a7261849-23f7-3487-aa76-b9b3aee82cf1","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5f2b4278-6b6a-3a9f-27c6-60034a61fe0a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"306377f8-2b4d-3701-9b07-410ca98a3b93","instanceIdentifier":"20684e1e-28dc-3418-96fe-1af56284c1c8","name":"","source":{"id":"9dc141e0-a3bc-316d-a725-5a74eab52014","type":"INPUT_PORT","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"input","instanceIdentifier":"4c6bf928-7f8a-33b1-c333-ec7d81c6454a"},"destination":{"id":"caec82f9-a09d-38ea-b2fd-c0d47f36dcd4","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"InvokeHTTP","comments":"","instanceIdentifier":"435509a3-a23d-37d4-57b5-4eb9d970deac"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"6b3c82c5-2b80-3fef-89cb-6f043ec3871d","instanceIdentifier":"d95c88d8-bcdd-3cc1-5449-ff0feb8fc508","name":"","source":{"id":"a7261849-23f7-3487-aa76-b9b3aee82cf1","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5f2b4278-6b6a-3a9f-27c6-60034a61fe0a"},"destination":{"id":"da102604-a532-316b-bea2-5d18c1a60e96","type":"OUTPUT_PORT","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"output","instanceIdentifier":"dc08624f-6727-3421-f519-8f68bceddd71"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"ddf34118-ec84-37a7-bb80-144c9185ffb0","instanceIdentifier":"37ff6200-89cc-35e5-beff-2a1fcffeba72","name":"","source":{"id":"a7261849-23f7-3487-aa76-b9b3aee82cf1","type":"PROCESSOR","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5f2b4278-6b6a-3a9f-27c6-60034a61fe0a"},"destination":{"id":"11775627-9281-3852-9701-c9d46815899f","type":"FUNNEL","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"Funnel","comments":"","instanceIdentifier":"7567e4fe-9402-3ec4-a496-944ad9795caf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"labels":[],"funnels":[{"identifier":"11775627-9281-3852-9701-c9d46815899f","instanceIdentifier":"7567e4fe-9402-3ec4-a496-944ad9795caf","position":{"x":-1383.0,"y":2153.0},"componentType":"FUNNEL","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"},{"identifier":"3f9db4bf-e7c5-3526-a59f-8b605fde3f51","instanceIdentifier":"98d5bf6d-a98a-3a21-97f3-bff9f1a552e2","position":{"x":-1383.0,"y":1897.0},"componentType":"FUNNEL","groupIdentifier":"6f7553dd-a3ad-380c-9f07-4dae23f44073"}],"controllerServices":[],"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"remoteProcessGroups":[],"processors":[{"identifier":"f1d2f72b-195a-3026-829a-f62e8fe6e6e9","instanceIdentifier":"c6bb967a-c4a2-3dd9-64fc-30ce72b26c94","name":"escape_description","comments":"","position":{"x":-568.0,"y":88.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"short_description":"${short_description:escapeJson()}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","description":"${description:escapeJson()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"short_description":{"name":"short_description","displayName":"short_description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"628bd0c2-b7a9-3a59-b625-5c4a54ef29cc","instanceIdentifier":"6c52e95e-8e1b-392a-dc3b-20f44d26bf81","name":"UpdateAttribute","comments":"","position":{"x":400.0,"y":872.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","solving_time":"${closed_at:toInstant('yyyy-MM-dd HH:mm:ss', 'GMT'):toNanos():minus(${opened_at:toInstant('yyyy-MM-dd HH:mm:ss', 'GMT'):toNanos()})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"solving_time":{"name":"solving_time","displayName":"solving_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","instanceIdentifier":"bd82486c-0ec4-3667-bedf-a88342fc823e","name":"EvaluateJsonPath","comments":"","position":{"x":-568.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"severity":"$.severity","Destination":"flowfile-attribute","short_description":"$.short_description","closed_at":"$.closed_at","close_code":"$.close_code","assignment_group":"$.assignment_group","Max String Length":"20 MB","Return Type":"json","active":"$.active","description":"$.description","Null Value Representation":"empty string","priority":"$.priority","sys_class_name":"$.sys_class_name","Path Not Found Behavior":"ignore","caller_id.link":"$.caller_id.link","number":"$.number","opened_at":"$.opened_at","caller_id.value":"caller_id.value","resolved_at":"$.resolved_at","assigned_to":"$.assigned_to","assigned_to.value":"$.assigned_to.value"},"propertyDescriptors":{"severity":{"name":"severity","displayName":"severity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"short_description":{"name":"short_description","displayName":"short_description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"closed_at":{"name":"closed_at","displayName":"closed_at","identifiesControllerService":false,"sensitive":false,"dynamic":true},"close_code":{"name":"close_code","displayName":"close_code","identifiesControllerService":false,"sensitive":false,"dynamic":true},"assignment_group":{"name":"assignment_group","displayName":"assignment_group","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"active":{"name":"active","displayName":"active","identifiesControllerService":false,"sensitive":false,"dynamic":true},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"priority":{"name":"priority","displayName":"priority","identifiesControllerService":false,"sensitive":false,"dynamic":true},"sys_class_name":{"name":"sys_class_name","displayName":"sys_class_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"caller_id.link":{"name":"caller_id.link","displayName":"caller_id.link","identifiesControllerService":false,"sensitive":false,"dynamic":true},"number":{"name":"number","displayName":"number","identifiesControllerService":false,"sensitive":false,"dynamic":true},"opened_at":{"name":"opened_at","displayName":"opened_at","identifiesControllerService":false,"sensitive":false,"dynamic":true},"caller_id.value":{"name":"caller_id.value","displayName":"caller_id.value","identifiesControllerService":false,"sensitive":false,"dynamic":true},"resolved_at":{"name":"resolved_at","displayName":"resolved_at","identifiesControllerService":false,"sensitive":false,"dynamic":true},"assigned_to":{"name":"assigned_to","displayName":"assigned_to","identifiesControllerService":false,"sensitive":false,"dynamic":true},"assigned_to.value":{"name":"assigned_to.value","displayName":"assigned_to.value","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"e0837116-834a-30b1-9273-b464afefc44b","instanceIdentifier":"939c9ddd-3e20-322d-37f0-5acfd2903e03","name":"SplitJson","comments":"","position":{"x":-576.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.result.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"754fd156-eb4f-3892-b61c-9ade857f76a2","instanceIdentifier":"218e86ba-48ae-3d73-6981-5377e327ffdb","name":"PublishKafka","comments":"- configure connection service","position":{"x":-2568.0,"y":3232.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.3.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"incidents_active_assigned_person","Kafka Key":null,"partition":null,"Kafka Connection Service":"9f29b51f-ffe2-3bf9-aa91-36825857289a","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"9d52af0e-ba4c-3029-b3ad-e0f3fd174c4d","instanceIdentifier":"71e82537-a9a5-3250-fca1-45a15e3a1a20","name":"LogMessage","comments":"","position":{"x":-3584.0,"y":3560.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":"Event successfully sent to user email: Active incident assigned to a user.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"20b32218-8768-3d19-a15a-3665180a4714","instanceIdentifier":"1b0410d4-2757-3614-2729-bd6142f183b2","name":"LogMessage","comments":"","position":{"x":400.0,"y":2000.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":"Event successfully sent to Kafka: Inactive incident.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"817a3ecd-9b80-3198-87bf-52c8028a5eb9","instanceIdentifier":"30311c4f-029f-39ea-dedc-a2ec026b03d5","name":"ACTIVE","comments":"","position":{"x":-552.0,"y":616.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","active":"${active:equals('true')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"active":{"name":"active","displayName":"active","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"92c13575-290f-3f45-be4e-45b034ced51c","instanceIdentifier":"63012f2e-373f-3fad-6459-0874246b83e2","name":"LogMessage","comments":"","position":{"x":-1600.0,"y":2792.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":"Event successfully sent to Kafka: Active incident not assigned to a user, but has an assignment group.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"5b3987cb-b0e8-3d50-9d60-89aa03bdffaf","instanceIdentifier":"2f0c94b8-3c7f-3ca1-e10d-4ea5ac13f5c4","name":"LogMessage","comments":"","position":{"x":-2560.0,"y":3568.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":"Event successfully sent to Kafka: Active incident assigned to a user.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"9ce549cf-e093-3ccd-aa89-6ced5ebed017","instanceIdentifier":"56991ad3-ff92-32c8-e2a1-1ec79a8ce7d0","name":"USER","comments":"","position":{"x":-2416.0,"y":1992.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","assign":"${assigned_to:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assign":{"name":"assign","displayName":"assign","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"801b6793-fe2c-32df-a60f-dad9a401d653","instanceIdentifier":"2c52efc5-a88a-323d-3e96-8e6ffab54dd3","name":"JoltTransformJSON","comments":"","position":{"x":-1608.0,"y":2216.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[{\n\t\"operation\": \"remove\",\n\t\"spec\": {\n\t\t\"*\": \"\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n      \t\"type\" : \"incidents_active_asigned_AG\",\n\t\t\"main details\": {\n\t\t\t\"number\": \"${number}\",\n\t\t\t\"active\": \"${active}\",\n\t\t\t\"priority\": \"${priority}\",\n\t\t\t\"severity\": \"${severity}\",\n\t\t\t\"close_code\": \"${close_code}\"\n\t\t},\n\t\t\"identities\": {\n\t\t\t\"caller\": {\n\t\t\t\t\"name\": \"${caller_name}\",\n\t\t\t\t\"surname\": \"${caller_surname}\",\n\t\t\t\t\"email\": \"${caller_email}\",\n\t\t\t\t\"id\": \"${caller_id.value}\"\n\t\t\t},\n\t\t\t\"assignment_group\": {\n\t\t\t\t\"name\": \"${AG_name}\",\n\t\t\t\t\"email\": \"${AG_email}\",\n\t\t\t\t\"id\": \"${assignment_group.value}\"\n\t\t\t},\n\t\t\t\"assigned_to\": {\n\t\t\t\t\"name\": \"${assignee_name}\",\n\t\t\t\t\"surname\": \"${assignee_surname}\",\n\t\t\t\t\"email\": \"${assignee_email}\",\n\t\t\t\t\"id\": \"${assigned_to.value}\"\n\t\t\t}\n\t\t},\n\t\t\"details\": {\n\t\t\t\"short_description\": \"${short_description}\",\n\t\t\t\"description\": \"${description}\"\n\t\t},\n\t\t\"time details\": {\n\t\t\t\"opened_at\": \"${opened_at}\",\n\t\t\t\"resolved_at\": \"${resolved_at}\",\n\t\t\t\"closed_at\": \"${closed_at}\",\n\t\t\t\"solving_time\": {\n\t\t\t\t\"days\": \"${solving_time_day}\",\n\t\t\t\t\"hours\": \"${solving_time_hours}\",\n\t\t\t\t\"minutes\": \"${solving_time_minutes}\",\n\t\t\t\t\"seconds\": \"${solving_time_sec}\"\n\t\t\t}\n\t\t}\n\t}\n}]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"2b52e5af-0aca-3fc9-9186-302c5045aedc","instanceIdentifier":"ff1a17f3-4d66-392a-9ecb-fdb5373b2e89","name":"PublishKafka","comments":"- configure connection service","position":{"x":-552.0,"y":1960.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.3.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"incidents_active_notAssigned","Kafka Key":null,"partition":null,"Kafka Connection Service":"9f29b51f-ffe2-3bf9-aa91-36825857289a","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"34754252-f859-3710-9463-8698536de2dc","instanceIdentifier":"5b285804-8dbc-3016-108e-e1116ad82289","name":"nanos to D, H, M, S","comments":"","position":{"x":-1352.0,"y":1144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"solving_time_hours":"${solving_time:divide(1000000000):divide(60):divide(60):mod(24)}","Delete Attributes Expression":null,"solving_time_sec":"${solving_time:divide(1000000000):mod(60)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","solving_time_day":"${solving_time:divide(1000000000):divide(60):divide(60):divide(24)}","Stateful Variables Initial Value":null,"solving_time_minutes":"${solving_time:divide(1000000000):divide(60):mod(60)}"},"propertyDescriptors":{"solving_time_hours":{"name":"solving_time_hours","displayName":"solving_time_hours","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"solving_time_sec":{"name":"solving_time_sec","displayName":"solving_time_sec","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"solving_time_day":{"name":"solving_time_day","displayName":"solving_time_day","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"solving_time_minutes":{"name":"solving_time_minutes","displayName":"solving_time_minutes","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"5eaca54f-2d21-33a8-b8a0-d0c308fab2b8","instanceIdentifier":"0261eb82-e998-3e83-f18d-93361ca74b9b","name":"PutEmail","comments":"","position":{"x":-3584.0,"y":3232.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"Hi, \n\nyou have assigned incidents which is still is not resolved. \n\nDetails:\n  - caller email: ${caller_email},\n  - number: \"${number}\",\n  - short_description: \"${short_description}\",","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"#{email}","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"Reminder about assigned incident","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"#{email}","To":"#{email}","SMTP Password":"#{email pass}","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"e2f13a40-8615-3377-8ff7-71f4e929f71c","instanceIdentifier":"9e6c6456-e623-310b-dcb0-4858100d389a","name":"JoltTransformJSON","comments":"","position":{"x":-552.0,"y":1696.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[{\n\t\"operation\": \"remove\",\n\t\"spec\": {\n\t\t\"*\": \"\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n      \t\"type\" : \"incidents_active_notAssigned\",\n\t\t\"main details\": {\n\t\t\t\"number\": \"${number}\",\n\t\t\t\"active\": \"${active}\",\n\t\t\t\"priority\": \"${priority}\",\n\t\t\t\"severity\": \"${severity}\",\n\t\t\t\"close_code\": \"${close_code}\"\n\t\t},\n\t\t\"identities\": {\n\t\t\t\"caller\": {\n\t\t\t\t\"name\": \"${caller_name}\",\n\t\t\t\t\"surname\": \"${caller_surname}\",\n\t\t\t\t\"email\": \"${caller_email}\",\n\t\t\t\t\"id\": \"${caller_id.value}\"\n\t\t\t},\n\t\t\t\"assignment_group\": {\n\t\t\t\t\"name\": \"${AG_name}\",\n\t\t\t\t\"email\": \"${AG_email}\",\n\t\t\t\t\"id\": \"${assignment_group.value}\"\n\t\t\t},\n\t\t\t\"assigned_to\": {\n\t\t\t\t\"name\": \"${assignee_name}\",\n\t\t\t\t\"surname\": \"${assignee_surname}\",\n\t\t\t\t\"email\": \"${assignee_email}\",\n\t\t\t\t\"id\": \"${assigned_to.value}\"\n\t\t\t}\n\t\t},\n\t\t\"details\": {\n\t\t\t\"short_description\": \"${short_description}\",\n\t\t\t\"description\": \"${description}\"\n\t\t},\n\t\t\"time details\": {\n\t\t\t\"opened_at\": \"${opened_at}\",\n\t\t\t\"resolved_at\": \"${resolved_at}\",\n\t\t\t\"closed_at\": \"${closed_at}\",\n\t\t\t\"solving_time\": {\n\t\t\t\t\"days\": \"${solving_time_day}\",\n\t\t\t\t\"hours\": \"${solving_time_hours}\",\n\t\t\t\t\"minutes\": \"${solving_time_minutes}\",\n\t\t\t\t\"seconds\": \"${solving_time_sec}\"\n\t\t\t}\n\t\t}\n\t}\n}]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"c4d0eb54-b112-315b-b6b0-ee7cd4a49e9f","instanceIdentifier":"9861e94e-23c9-3d18-e3ad-ee31c08d10a8","name":"EvaluateJsonPath","comments":"","position":{"x":-3048.0,"y":2512.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","assignee_surname":"$.result.last_name","assignee_email":"$.result.email","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","assignee_name":"$.result.first_name","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assignee_surname":{"name":"assignee_surname","displayName":"assignee_surname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"assignee_email":{"name":"assignee_email","displayName":"assignee_email","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assignee_name":{"name":"assignee_name","displayName":"assignee_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"92eca4d8-bce2-384b-82dc-205eacb93735","instanceIdentifier":"a48c8c2d-f931-3c97-d4c9-1ac54c95d4e3","name":"PublishKafka","comments":"- configure connection service","position":{"x":-1600.0,"y":2512.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.3.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"incidents_active_asigned_AG","Kafka Key":null,"partition":null,"Kafka Connection Service":"9f29b51f-ffe2-3bf9-aa91-36825857289a","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"958c0564-1183-32b7-b2a1-c7efdc9f7326","instanceIdentifier":"04686e2e-aa08-3491-65c1-e8f0c5010c0d","name":"JoltTransformJSON","comments":"","position":{"x":-3048.0,"y":2824.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[{\n\t\"operation\": \"remove\",\n\t\"spec\": {\n\t\t\"*\": \"\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n      \t\"type\" : \"incidents_active_assigned_person\",\n\t\t\"main details\": {\n\t\t\t\"number\": \"${number}\",\n\t\t\t\"active\": \"${active}\",\n\t\t\t\"priority\": \"${priority}\",\n\t\t\t\"severity\": \"${severity}\",\n\t\t\t\"close_code\": \"${close_code}\"\n\t\t},\n\t\t\"identities\": {\n\t\t\t\"caller\": {\n\t\t\t\t\"name\": \"${caller_name}\",\n\t\t\t\t\"surname\": \"${caller_surname}\",\n\t\t\t\t\"email\": \"${caller_email}\",\n\t\t\t\t\"id\": \"${caller_id.value}\"\n\t\t\t},\n\t\t\t\"assignment_group\": {\n\t\t\t\t\"name\": \"${AG_name}\",\n\t\t\t\t\"email\": \"${AG_email}\",\n\t\t\t\t\"id\": \"${assignment_group.value}\"\n\t\t\t},\n\t\t\t\"assigned_to\": {\n\t\t\t\t\"name\": \"${assignee_name}\",\n\t\t\t\t\"surname\": \"${assignee_surname}\",\n\t\t\t\t\"email\": \"${assignee_email}\",\n\t\t\t\t\"id\": \"${assigned_to.value}\"\n\t\t\t}\n\t\t},\n\t\t\"details\": {\n\t\t\t\"short_description\": \"${short_description}\",\n\t\t\t\"description\": \"${description}\"\n\t\t},\n\t\t\"time details\": {\n\t\t\t\"opened_at\": \"${opened_at}\",\n\t\t\t\"resolved_at\": \"${resolved_at}\",\n\t\t\t\"closed_at\": \"${closed_at}\",\n\t\t\t\"solving_time\": {\n\t\t\t\t\"days\": \"${solving_time_day}\",\n\t\t\t\t\"hours\": \"${solving_time_hours}\",\n\t\t\t\t\"minutes\": \"${solving_time_minutes}\",\n\t\t\t\t\"seconds\": \"${solving_time_sec}\"\n\t\t\t}\n\t\t}\n\t}\n}]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"d317a601-e404-36ff-b3bb-45f869b2a5cf","instanceIdentifier":"bbc69022-ec15-37b2-436b-b85540a7d631","name":"InvokeHTTP","comments":"","position":{"x":-3048.0,"y":2184.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Request Password":"#{snow-pass}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"${assigned_to:jsonPath(\"$.link\")}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":"admin","Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"fcc7890d-d885-32c7-a46c-efd03d27e671","instanceIdentifier":"66beac3c-6e93-38d1-315c-d6888bf832d2","name":"nanos to D, H, M, S","comments":"","position":{"x":400.0,"y":1168.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"solving_time_hours":"${solving_time:divide(1000000000):divide(60):divide(60):mod(24)}","Delete Attributes Expression":null,"solving_time_sec":"${solving_time:divide(1000000000):mod(60)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","solving_time_day":"${solving_time:divide(1000000000):divide(60):divide(60):divide(24)}","Stateful Variables Initial Value":null,"solving_time_minutes":"${solving_time:divide(1000000000):divide(60):mod(60)}"},"propertyDescriptors":{"solving_time_hours":{"name":"solving_time_hours","displayName":"solving_time_hours","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"solving_time_sec":{"name":"solving_time_sec","displayName":"solving_time_sec","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"solving_time_day":{"name":"solving_time_day","displayName":"solving_time_day","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"solving_time_minutes":{"name":"solving_time_minutes","displayName":"solving_time_minutes","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"c5ef2bb1-c770-377d-823a-538d55650af5","instanceIdentifier":"8278ff36-0156-311a-a14a-b656328232b4","name":"UpdateAttribute","comments":"","position":{"x":-1360.0,"y":864.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","solving_time":"${now():toNumber():multiply(1000000):minus(${opened_at:toInstant('yyyy-MM-dd HH:mm:ss', 'GMT'):toNanos()})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"solving_time":{"name":"solving_time","displayName":"solving_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"baca6210-830c-3f9a-b667-7bb0573f7d5a","instanceIdentifier":"3edaabb7-f567-355b-9028-152f514b254b","name":"LogMessage","comments":"","position":{"x":-552.0,"y":2272.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":"Event successfully sent to Kafka: Active incident without user or assignment group.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"c602b600-dc05-36b9-9339-ed15bb98539b","instanceIdentifier":"6c95104c-8f9e-3144-df51-743cebbf3437","name":"JoltTransformJSON","comments":"","position":{"x":400.0,"y":1440.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[{\n\t\"operation\": \"remove\",\n\t\"spec\": {\n\t\t\"*\": \"\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n      \t\"type\" : \"incidents_notActive\",\n\t\t\"main details\": {\n\t\t\t\"number\": \"${number}\",\n\t\t\t\"active\": \"${active}\",\n\t\t\t\"priority\": \"${priority}\",\n\t\t\t\"severity\": \"${severity}\",\n\t\t\t\"close_code\": \"${close_code}\"\n\t\t},\n\t\t\"identities\": {\n\t\t\t\"caller\": {\n\t\t\t\t\"name\": \"${caller_name}\",\n\t\t\t\t\"surname\": \"${caller_surname}\",\n\t\t\t\t\"email\": \"${caller_email}\",\n\t\t\t\t\"id\": \"${caller_id.value}\"\n\t\t\t},\n\t\t\t\"assignment_group\": {\n\t\t\t\t\"name\": \"${AG_name}\",\n\t\t\t\t\"email\": \"${AG_email}\",\n\t\t\t\t\"id\": \"${assignment_group.value}\"\n\t\t\t},\n\t\t\t\"assigned_to\": {\n\t\t\t\t\"name\": \"${assignee_name}\",\n\t\t\t\t\"surname\": \"${assignee_surname}\",\n\t\t\t\t\"email\": \"${assignee_email}\",\n\t\t\t\t\"id\": \"${assigned_to.value}\"\n\t\t\t}\n\t\t},\n\t\t\"details\": {\n\t\t\t\"short_description\": \"${short_description}\",\n\t\t\t\"description\": \"${description}\"\n\t\t},\n\t\t\"time details\": {\n\t\t\t\"opened_at\": \"${opened_at}\",\n\t\t\t\"resolved_at\": \"${resolved_at}\",\n\t\t\t\"closed_at\": \"${closed_at}\",\n\t\t\t\"solving_time\": {\n\t\t\t\t\"days\": \"${solving_time_day}\",\n\t\t\t\t\"hours\": \"${solving_time_hours}\",\n\t\t\t\t\"minutes\": \"${solving_time_minutes}\",\n\t\t\t\t\"seconds\": \"${solving_time_sec}\"\n\t\t\t}\n\t\t}\n\t}\n}]"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"8f17e02d-3ed7-387b-9f22-9fb9ae04fed6","instanceIdentifier":"71ab1ba3-cee8-354f-63e5-50217de95500","name":"AG","comments":"","position":{"x":-1352.0,"y":1432.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","AG_filled":"${assignment_group:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AG_filled":{"name":"AG_filled","displayName":"AG_filled","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"ea38508b-459a-315b-a9fd-958278034e8f","instanceIdentifier":"02023ed5-3ccd-360e-ec83-7f88292d8c05","name":"PublishKafka","comments":"- configure connection service","position":{"x":400.0,"y":1720.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.3.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"incidents_notActive","Kafka Key":null,"partition":null,"Kafka Connection Service":"9f29b51f-ffe2-3bf9-aa91-36825857289a","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"inputPorts":[{"identifier":"0e786d4b-e87b-3bd7-a9b3-28d9982a610f","instanceIdentifier":"3688cb57-d114-3dce-25de-67e5b7a623c5","name":"incidents_input","position":{"x":-520.0,"y":-616.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"outputPorts":[],"connections":[{"identifier":"f131cd67-440b-35a0-bf22-49c7a6d48298","instanceIdentifier":"2f237c00-7898-3881-bd4c-52b4d490b2be","name":"","source":{"id":"34754252-f859-3710-9463-8698536de2dc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"nanos to D, H, M, S","comments":"","instanceIdentifier":"5b285804-8dbc-3016-108e-e1116ad82289"},"destination":{"id":"8f17e02d-3ed7-387b-9f22-9fb9ae04fed6","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"AG","comments":"","instanceIdentifier":"71ab1ba3-cee8-354f-63e5-50217de95500"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"678db324-9c9e-3449-a308-263cadb36f79","instanceIdentifier":"4ab403a3-5528-312d-b1df-e8a54d2f17d1","name":"","source":{"id":"817a3ecd-9b80-3198-87bf-52c8028a5eb9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"ACTIVE","comments":"","instanceIdentifier":"30311c4f-029f-39ea-dedc-a2ec026b03d5"},"destination":{"id":"c5ef2bb1-c770-377d-823a-538d55650af5","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"UpdateAttribute","comments":"","instanceIdentifier":"8278ff36-0156-311a-a14a-b656328232b4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["active"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1184.0,"y":680.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"aa8ccd4e-0a16-3307-b9e5-c2947cbd9a7e","instanceIdentifier":"7e23e74f-9295-3e43-688a-6d6d98390865","name":"","source":{"id":"d317a601-e404-36ff-b3bb-45f869b2a5cf","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"InvokeHTTP","comments":"","instanceIdentifier":"bbc69022-ec15-37b2-436b-b85540a7d631"},"destination":{"id":"1daf62f5-ff09-3693-ba85-669abaf7cfed","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"11ea7977-54b4-34e8-3d56-4c9fa66d43fa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"2ef9cd88-3d64-38e3-8023-3786bb164e1b","instanceIdentifier":"3dee99de-0de2-356f-6328-d58069a9110b","name":"","source":{"id":"8f17e02d-3ed7-387b-9f22-9fb9ae04fed6","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"AG","comments":"","instanceIdentifier":"71ab1ba3-cee8-354f-63e5-50217de95500"},"destination":{"id":"9dc141e0-a3bc-316d-a725-5a74eab52014","type":"INPUT_PORT","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"input","instanceIdentifier":"4c6bf928-7f8a-33b1-c333-ec7d81c6454a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["AG_filled"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2240.0,"y":1496.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"0760c05c-f562-3e96-8baa-3a042e8983f3","instanceIdentifier":"bea538c0-5de2-39ec-b305-e07d3a50b4ba","name":"","source":{"id":"c4d0eb54-b112-315b-b6b0-ee7cd4a49e9f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9861e94e-23c9-3d18-e3ad-ee31c08d10a8"},"destination":{"id":"958c0564-1183-32b7-b2a1-c7efdc9f7326","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"04686e2e-aa08-3491-65c1-e8f0c5010c0d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"1d8b1b32-4f61-35e3-9d13-c53f7c2291d8","instanceIdentifier":"5e6e9c1a-b01c-3b08-9dbd-8e8ac1f50f39","name":"","source":{"id":"c5ef2bb1-c770-377d-823a-538d55650af5","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"UpdateAttribute","comments":"","instanceIdentifier":"8278ff36-0156-311a-a14a-b656328232b4"},"destination":{"id":"34754252-f859-3710-9463-8698536de2dc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"nanos to D, H, M, S","comments":"","instanceIdentifier":"5b285804-8dbc-3016-108e-e1116ad82289"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"7ccdff38-326d-3a3d-af4c-047c1e856ffd","instanceIdentifier":"16c89567-7aa0-36b8-ea7b-5b3812f8c180","name":"","source":{"id":"754fd156-eb4f-3892-b61c-9ade857f76a2","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"218e86ba-48ae-3d73-6981-5377e327ffdb"},"destination":{"id":"523888a3-38ba-3ee2-a257-f0aff222923f","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"615ee787-69df-3182-48ea-300cdf78cfe5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"8e690e5d-d1f1-3409-9c8e-290dffe9dd74","instanceIdentifier":"58cd8360-1712-306c-9a48-3bf40a9aefcb","name":"","source":{"id":"754fd156-eb4f-3892-b61c-9ade857f76a2","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"218e86ba-48ae-3d73-6981-5377e327ffdb"},"destination":{"id":"5b3987cb-b0e8-3d50-9d60-89aa03bdffaf","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"2f0c94b8-3c7f-3ca1-e10d-4ea5ac13f5c4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"3c85c22e-41eb-3c10-8375-bb233b4c0add","instanceIdentifier":"2122a844-f7e1-3b16-d07d-d60421a30934","name":"","source":{"id":"c602b600-dc05-36b9-9339-ed15bb98539b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6c95104c-8f9e-3144-df51-743cebbf3437"},"destination":{"id":"ea38508b-459a-315b-a9fd-958278034e8f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"02023ed5-3ccd-360e-ec83-7f88292d8c05"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"f8eca628-2c51-3b2d-8847-92a6cb3f78bc","instanceIdentifier":"012d3f1b-57f3-3860-25cb-715321ade656","name":"","source":{"id":"e2f13a40-8615-3377-8ff7-71f4e929f71c","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"9e6c6456-e623-310b-dcb0-4858100d389a"},"destination":{"id":"2b52e5af-0aca-3fc9-9186-302c5045aedc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"ff1a17f3-4d66-392a-9ecb-fdb5373b2e89"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"0890abfe-d7c7-3ff7-b22c-8cbb7419231d","instanceIdentifier":"5f764223-e69c-3d12-c881-224c98b2f632","name":"not active","source":{"id":"817a3ecd-9b80-3198-87bf-52c8028a5eb9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"ACTIVE","comments":"","instanceIdentifier":"30311c4f-029f-39ea-dedc-a2ec026b03d5"},"destination":{"id":"628bd0c2-b7a9-3a59-b625-5c4a54ef29cc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"UpdateAttribute","comments":"","instanceIdentifier":"6c52e95e-8e1b-392a-dc3b-20f44d26bf81"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":576.0,"y":680.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"cafb154f-6d4b-31db-b6ec-59af9baac5ec","instanceIdentifier":"d3871fec-06c1-3780-8f1c-1a6428e765db","name":"","source":{"id":"893f4aef-52be-3c80-83a2-20e4f783217f","type":"OUTPUT_PORT","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"output","instanceIdentifier":"0dadefbd-b5f0-36fa-f05b-7543a79ab8d0"},"destination":{"id":"817a3ecd-9b80-3198-87bf-52c8028a5eb9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"ACTIVE","comments":"","instanceIdentifier":"30311c4f-029f-39ea-dedc-a2ec026b03d5"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"703cf2c2-e3fa-382a-83e0-aced04edfc4e","instanceIdentifier":"5a9099db-5283-3243-fb79-8aa4180e07dd","name":"","source":{"id":"d317a601-e404-36ff-b3bb-45f869b2a5cf","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"InvokeHTTP","comments":"","instanceIdentifier":"bbc69022-ec15-37b2-436b-b85540a7d631"},"destination":{"id":"c4d0eb54-b112-315b-b6b0-ee7cd4a49e9f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9861e94e-23c9-3d18-e3ad-ee31c08d10a8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"36457a4c-22db-39a2-91b9-d393181c814b","instanceIdentifier":"03798898-bf5e-32b9-2d0f-b38215cd607f","name":"","source":{"id":"92eca4d8-bce2-384b-82dc-205eacb93735","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"a48c8c2d-f931-3c97-d4c9-1ac54c95d4e3"},"destination":{"id":"994fb5ae-e100-3b6a-8c12-5abac990e4f1","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"0695bcf6-ad84-3693-8e7c-1dc54075eec3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"8bf505c9-c1f9-3287-8457-74ad602ce327","instanceIdentifier":"6aa264f1-f09d-3632-1e72-56468cbf6b3e","name":"","source":{"id":"c602b600-dc05-36b9-9339-ed15bb98539b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6c95104c-8f9e-3144-df51-743cebbf3437"},"destination":{"id":"888dc6fa-eb17-3524-850a-48c219d5fabd","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"85d2ce23-78db-327e-f7bc-ef682b3bce13"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"a4261de9-5204-35f8-9729-252b7664f303","instanceIdentifier":"202f7a76-632c-34d9-dccf-2428e8a8c83f","name":"","source":{"id":"8f17e02d-3ed7-387b-9f22-9fb9ae04fed6","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"AG","comments":"","instanceIdentifier":"71ab1ba3-cee8-354f-63e5-50217de95500"},"destination":{"id":"e2f13a40-8615-3377-8ff7-71f4e929f71c","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"9e6c6456-e623-310b-dcb0-4858100d389a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-376.0,"y":1496.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"48755b10-bae1-38c2-8a06-b551a2b4fbba","instanceIdentifier":"7c720b1f-4452-3ba9-8009-262545372c13","name":"","source":{"id":"ea38508b-459a-315b-a9fd-958278034e8f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"02023ed5-3ccd-360e-ec83-7f88292d8c05"},"destination":{"id":"b94b6f42-dc76-383e-bd94-57ac6716743a","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"7b1e8fe2-b1d2-3b3c-f289-55223f6009ff"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"06da91a4-5414-3b4f-bdf3-69ff8f8861a1","instanceIdentifier":"028a9101-e5c9-37af-9237-ce0aaffa88f5","name":"","source":{"id":"958c0564-1183-32b7-b2a1-c7efdc9f7326","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"04686e2e-aa08-3491-65c1-e8f0c5010c0d"},"destination":{"id":"b1ce0257-db5f-3062-bd64-1a28c1e14020","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"bdb95dcf-1fb3-31f7-06fc-1f1b4e28aab0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"23cea8e1-66d9-3bb8-89ec-a947fd854733","instanceIdentifier":"6471959f-baa6-320c-ef1a-2543561a74a7","name":"","source":{"id":"801b6793-fe2c-32df-a60f-dad9a401d653","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2c52efc5-a88a-323d-3e96-8e6ffab54dd3"},"destination":{"id":"92eca4d8-bce2-384b-82dc-205eacb93735","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"a48c8c2d-f931-3c97-d4c9-1ac54c95d4e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"3c115603-65f6-3be2-82bc-2eb2c8a19d8a","instanceIdentifier":"8f7f3c06-b9a9-3c70-a3f5-40776a336eac","name":"","source":{"id":"958c0564-1183-32b7-b2a1-c7efdc9f7326","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"04686e2e-aa08-3491-65c1-e8f0c5010c0d"},"destination":{"id":"754fd156-eb4f-3892-b61c-9ade857f76a2","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"218e86ba-48ae-3d73-6981-5377e327ffdb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2872.0,"y":3088.0},{"x":-2392.0,"y":3088.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"34a0acd4-f485-340c-97b6-08900bcb9004","instanceIdentifier":"2d6f0b9b-5f69-35d7-47c1-e229232830d4","name":"","source":{"id":"ea38508b-459a-315b-a9fd-958278034e8f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"02023ed5-3ccd-360e-ec83-7f88292d8c05"},"destination":{"id":"20b32218-8768-3d19-a15a-3665180a4714","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"1b0410d4-2757-3614-2729-bd6142f183b2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"57a1c691-8b07-39bb-b3c4-6066186626e7","instanceIdentifier":"7de90ede-a3ab-35b7-96d5-a1e02652c35c","name":"","source":{"id":"fcc7890d-d885-32c7-a46c-efd03d27e671","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"nanos to D, H, M, S","comments":"","instanceIdentifier":"66beac3c-6e93-38d1-315c-d6888bf832d2"},"destination":{"id":"c602b600-dc05-36b9-9339-ed15bb98539b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"6c95104c-8f9e-3144-df51-743cebbf3437"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"07b5124c-9ab2-37ee-8cd7-7772c7bc4662","instanceIdentifier":"5a76fe19-5647-3775-c469-48c2546c58b1","name":"","source":{"id":"c4d0eb54-b112-315b-b6b0-ee7cd4a49e9f","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9861e94e-23c9-3d18-e3ad-ee31c08d10a8"},"destination":{"id":"601f0e4e-b97c-3a63-8c91-8af3de6dfe11","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"ad3bfc37-156e-3408-4d08-02b19c9da174"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"19559221-d00f-3e9f-ab66-505a3625aee4","instanceIdentifier":"4f8c6f11-f4ce-3597-55f2-7a740991eb3a","name":"","source":{"id":"2b52e5af-0aca-3fc9-9186-302c5045aedc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"ff1a17f3-4d66-392a-9ecb-fdb5373b2e89"},"destination":{"id":"2166ef5a-1b39-3db7-8171-6d88e0c0884c","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"3ae6e3aa-d29b-3a52-04ef-e62a66fa039d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"bf567dd5-f1a3-381b-85d4-739b92c88650","instanceIdentifier":"f99b00ec-d40f-3174-a392-877b910935a9","name":"empty","source":{"id":"9ce549cf-e093-3ccd-aa89-6ced5ebed017","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"USER","comments":"","instanceIdentifier":"56991ad3-ff92-32c8-e2a1-1ec79a8ce7d0"},"destination":{"id":"801b6793-fe2c-32df-a60f-dad9a401d653","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2c52efc5-a88a-323d-3e96-8e6ffab54dd3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1432.0,"y":2056.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"2e42a501-f6b9-3963-b69b-959537f8e044","instanceIdentifier":"983e3a36-74c0-3ddc-4e6d-0bf567b5cef9","name":"","source":{"id":"9ce549cf-e093-3ccd-aa89-6ced5ebed017","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"USER","comments":"","instanceIdentifier":"56991ad3-ff92-32c8-e2a1-1ec79a8ce7d0"},"destination":{"id":"d317a601-e404-36ff-b3bb-45f869b2a5cf","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"InvokeHTTP","comments":"","instanceIdentifier":"bbc69022-ec15-37b2-436b-b85540a7d631"},"labelIndex":0,"zIndex":0,"selectedRelationships":["assign"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2872.0,"y":2056.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"d5faf4b2-8929-369f-b811-41ac2a5fd6c8","instanceIdentifier":"328beac6-0377-3573-ca0c-813a69441154","name":"","source":{"id":"e2f13a40-8615-3377-8ff7-71f4e929f71c","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"9e6c6456-e623-310b-dcb0-4858100d389a"},"destination":{"id":"d2201fba-fb90-3d4d-9f6e-24259403a2ac","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"38a854a1-b0fc-33be-3289-ec7acf5d770f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"0497cdb7-fb60-3847-8ba7-96a28b075023","instanceIdentifier":"c920d7f1-b15d-341f-8aa8-b9f2de6d0b2b","name":"","source":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bd82486c-0ec4-3667-bedf-a88342fc823e"},"destination":{"id":"3135841c-36c5-3e88-b8c7-f247e099b3f6","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"db8f5103-017c-3509-5809-87b3caf6fc61"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-752.0,"y":-72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"1395063c-7d22-3515-853d-ae6170b8d412","instanceIdentifier":"d9811a42-7a21-3102-acae-d87b1c5b5599","name":"","source":{"id":"5eaca54f-2d21-33a8-b8a0-d0c308fab2b8","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PutEmail","comments":"","instanceIdentifier":"0261eb82-e998-3e83-f18d-93361ca74b9b"},"destination":{"id":"523888a3-38ba-3ee2-a257-f0aff222923f","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"615ee787-69df-3182-48ea-300cdf78cfe5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"669d67aa-ee91-3c48-8ef3-55d69d384903","instanceIdentifier":"3431d203-a2ce-3266-085d-6fa728f836c6","name":"","source":{"id":"5eaca54f-2d21-33a8-b8a0-d0c308fab2b8","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PutEmail","comments":"","instanceIdentifier":"0261eb82-e998-3e83-f18d-93361ca74b9b"},"destination":{"id":"9d52af0e-ba4c-3029-b3ad-e0f3fd174c4d","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"71e82537-a9a5-3250-fca1-45a15e3a1a20"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"a55fd1b4-f633-3b73-8500-175e99569cfd","instanceIdentifier":"33128cb1-6cb8-3c7e-08a4-922fed0ce1ee","name":"","source":{"id":"628bd0c2-b7a9-3a59-b625-5c4a54ef29cc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"UpdateAttribute","comments":"","instanceIdentifier":"6c52e95e-8e1b-392a-dc3b-20f44d26bf81"},"destination":{"id":"fcc7890d-d885-32c7-a46c-efd03d27e671","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"nanos to D, H, M, S","comments":"","instanceIdentifier":"66beac3c-6e93-38d1-315c-d6888bf832d2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"27b6da69-3440-3f3f-8fed-4a3eac73f87a","instanceIdentifier":"6cda3f48-409c-3c97-8c54-083cc7f139ca","name":"","source":{"id":"2b52e5af-0aca-3fc9-9186-302c5045aedc","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"ff1a17f3-4d66-392a-9ecb-fdb5373b2e89"},"destination":{"id":"baca6210-830c-3f9a-b667-7bb0573f7d5a","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"3edaabb7-f567-355b-9028-152f514b254b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"7d4a5a5c-8bef-3f47-b2f1-6a9fc013cb0c","instanceIdentifier":"aed2fc45-8fe8-3324-e0c3-f1f6a9ae9790","name":"","source":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"SplitJson","comments":"","instanceIdentifier":"939c9ddd-3e20-322d-37f0-5acfd2903e03"},"destination":{"id":"edee9498-4c7d-3a99-8514-4839c138a9ad","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"42b9b5a2-cec1-382f-df84-2b1154234e1a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"600 sec","prioritizers":[],"bends":[{"x":-752.0,"y":-344.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"68ad8338-3693-375d-8126-aebd85d00f4f","instanceIdentifier":"6d84a6a7-67e1-394a-9d59-74a0be8152e5","name":"","source":{"id":"958c0564-1183-32b7-b2a1-c7efdc9f7326","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"04686e2e-aa08-3491-65c1-e8f0c5010c0d"},"destination":{"id":"5eaca54f-2d21-33a8-b8a0-d0c308fab2b8","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PutEmail","comments":"","instanceIdentifier":"0261eb82-e998-3e83-f18d-93361ca74b9b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2872.0,"y":3088.0},{"x":-3408.0,"y":3088.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"38005e8f-c4fd-3718-8768-60a9dcc67d2c","instanceIdentifier":"7447b6fd-f34b-392b-8557-1151f6fb97df","name":"","source":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bd82486c-0ec4-3667-bedf-a88342fc823e"},"destination":{"id":"f1d2f72b-195a-3026-829a-f62e8fe6e6e9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"escape_description","comments":"","instanceIdentifier":"c6bb967a-c4a2-3dd9-64fc-30ce72b26c94"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"4a169720-36d4-37f0-ba07-ee42103a83e8","instanceIdentifier":"2ab34cd0-2089-3c7f-aa20-0254eacf99e1","name":"","source":{"id":"da102604-a532-316b-bea2-5d18c1a60e96","type":"OUTPUT_PORT","groupId":"6f7553dd-a3ad-380c-9f07-4dae23f44073","name":"output","instanceIdentifier":"dc08624f-6727-3421-f519-8f68bceddd71"},"destination":{"id":"9ce549cf-e093-3ccd-aa89-6ced5ebed017","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"USER","comments":"","instanceIdentifier":"56991ad3-ff92-32c8-e2a1-1ec79a8ce7d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"9cbae12c-7432-3468-9602-a2f96f5cf339","instanceIdentifier":"49ecd6fa-32e6-3f44-6783-9a9242f0628f","name":"","source":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"SplitJson","comments":"","instanceIdentifier":"939c9ddd-3e20-322d-37f0-5acfd2903e03"},"destination":{"id":"edee9498-4c7d-3a99-8514-4839c138a9ad","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"42b9b5a2-cec1-382f-df84-2b1154234e1a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-744.0,"y":-416.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"936a4ac9-35f5-3165-b213-790ca1275c65","instanceIdentifier":"309ab688-8d18-34fd-865f-221102f8eebd","name":"","source":{"id":"801b6793-fe2c-32df-a60f-dad9a401d653","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2c52efc5-a88a-323d-3e96-8e6ffab54dd3"},"destination":{"id":"e730994c-80a7-3063-9786-6ec966c6fb71","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"67f8cd08-0572-3c63-1345-89a7a20f067c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"bd15cf85-9876-3208-b22b-8076b9259cb0","instanceIdentifier":"acc81685-f999-3c59-6376-6fa58d6b2b0b","name":"","source":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bd82486c-0ec4-3667-bedf-a88342fc823e"},"destination":{"id":"3135841c-36c5-3e88-b8c7-f247e099b3f6","type":"FUNNEL","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"Funnel","comments":"","instanceIdentifier":"db8f5103-017c-3509-5809-87b3caf6fc61"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-752.0,"y":-144.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"9f37289c-ab9a-3d4f-aec0-546a21bd4907","instanceIdentifier":"3d68bf89-9cf9-3aff-40b2-c6bd4ea6ef2d","name":"","source":{"id":"92eca4d8-bce2-384b-82dc-205eacb93735","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"a48c8c2d-f931-3c97-d4c9-1ac54c95d4e3"},"destination":{"id":"92c13575-290f-3f45-be4e-45b034ced51c","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"LogMessage","comments":"","instanceIdentifier":"63012f2e-373f-3fad-6459-0874246b83e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"df0769c8-d6c0-36e5-b91e-0f8b6e22062b","instanceIdentifier":"47d63214-3845-3c6b-f21c-0d59ff650c97","name":"","source":{"id":"0e786d4b-e87b-3bd7-a9b3-28d9982a610f","type":"INPUT_PORT","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"incidents_input","instanceIdentifier":"3688cb57-d114-3dce-25de-67e5b7a623c5"},"destination":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"SplitJson","comments":"","instanceIdentifier":"939c9ddd-3e20-322d-37f0-5acfd2903e03"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"33c3d16f-170f-39d7-9b23-c391a91c8b77","instanceIdentifier":"0bfe84dc-9d86-38e2-a841-c100e802bf56","name":"","source":{"id":"f1d2f72b-195a-3026-829a-f62e8fe6e6e9","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"escape_description","comments":"","instanceIdentifier":"c6bb967a-c4a2-3dd9-64fc-30ce72b26c94"},"destination":{"id":"abc3de90-8a2d-3db7-a2c1-9863ca6cd890","type":"INPUT_PORT","groupId":"affd3877-07c3-3cc3-aa59-1f1529e662a9","name":"input","instanceIdentifier":"bdacd425-fb2f-3a33-d90c-f50807b5a7aa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"d88fcc8c-83eb-3204-86a6-f4f83aad3af4","instanceIdentifier":"3efd9ba5-2b9f-3f59-1c56-f4581ce40c8d","name":"","source":{"id":"e0837116-834a-30b1-9273-b464afefc44b","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"SplitJson","comments":"","instanceIdentifier":"939c9ddd-3e20-322d-37f0-5acfd2903e03"},"destination":{"id":"6bb8db80-f1a4-3aa3-9628-9991ce7d6d64","type":"PROCESSOR","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"bd82486c-0ec4-3667-bedf-a88342fc823e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"labels":[{"identifier":"c1ca262a-f648-3bca-9dba-351da1b29bdb","instanceIdentifier":"b8647e2d-e2f2-3b03-8fe0-5600a9fd51bc","position":{"x":320.0,"y":600.0},"label":"NOT ACTIVE","zIndex":0,"width":496.0,"height":48.0,"style":{"background-color":"#26a269","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"32bebb70-5b68-38c8-a67b-2c8a4df5370e","instanceIdentifier":"5a88a107-d3a6-35dc-10ad-0bf7883aea91","position":{"x":-760.0,"y":-688.0},"label":"INC List","zIndex":0,"width":568.0,"height":48.0,"style":{"background-color":"#26a269","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"fdbc1f3a-c9ab-3b48-92f8-eb7d1d054e76","instanceIdentifier":"2dab1f61-26d1-3b55-9b48-995dbd3c62cc","position":{"x":-1704.0,"y":1968.0},"label":"USER EMPTY","zIndex":0,"width":496.0,"height":48.0,"style":{"background-color":"#26a269","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"eb7c6430-38e3-33b2-85ff-8f9fb3764c65","instanceIdentifier":"67bc3da8-6ff7-3696-0c34-0f91e71b87c3","position":{"x":-2496.0,"y":1384.0},"label":"AG ASSIGNED","zIndex":0,"width":496.0,"height":48.0,"style":{"background-color":"#26a269","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"a5d2843b-44ba-303f-91d8-08aea2a45b8a","instanceIdentifier":"649bf4ee-2041-3419-5655-4da05d5c9102","position":{"x":-1424.0,"y":600.0},"label":"ACTIVE","zIndex":0,"width":496.0,"height":48.0,"style":{"background-color":"#26a269","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"92de8cb5-1718-3a95-a2d6-1bfce6d03710","instanceIdentifier":"616279f5-7a78-38ed-b862-47b639911de9","position":{"x":-3152.0,"y":1976.0},"label":"USER ASSIGNED","zIndex":0,"width":496.0,"height":48.0,"style":{"background-color":"#26a269","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"71c59ea4-3fbc-31b0-b790-2c870a7b4ee5","instanceIdentifier":"cd8a340f-4e99-3d85-ff70-3d1bef4eb9a2","position":{"x":-648.0,"y":1408.0},"label":"AG EMPTY","zIndex":0,"width":496.0,"height":48.0,"style":{"background-color":"#26a269","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"funnels":[{"identifier":"1daf62f5-ff09-3693-ba85-669abaf7cfed","instanceIdentifier":"11ea7977-54b4-34e8-3d56-4c9fa66d43fa","position":{"x":-3368.0,"y":2208.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"3135841c-36c5-3e88-b8c7-f247e099b3f6","instanceIdentifier":"db8f5103-017c-3509-5809-87b3caf6fc61","position":{"x":-992.0,"y":-136.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"523888a3-38ba-3ee2-a257-f0aff222923f","instanceIdentifier":"615ee787-69df-3182-48ea-300cdf78cfe5","position":{"x":-2912.0,"y":3272.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"e730994c-80a7-3063-9786-6ec966c6fb71","instanceIdentifier":"67f8cd08-0572-3c63-1345-89a7a20f067c","position":{"x":-1984.0,"y":2256.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"994fb5ae-e100-3b6a-8c12-5abac990e4f1","instanceIdentifier":"0695bcf6-ad84-3693-8e7c-1dc54075eec3","position":{"x":-1968.0,"y":2552.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"edee9498-4c7d-3a99-8514-4839c138a9ad","instanceIdentifier":"42b9b5a2-cec1-382f-df84-2b1154234e1a","position":{"x":-976.0,"y":-408.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"888dc6fa-eb17-3524-850a-48c219d5fabd","instanceIdentifier":"85d2ce23-78db-327e-f7bc-ef682b3bce13","position":{"x":96.0,"y":1480.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"2166ef5a-1b39-3db7-8171-6d88e0c0884c","instanceIdentifier":"3ae6e3aa-d29b-3a52-04ef-e62a66fa039d","position":{"x":-984.0,"y":2000.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"601f0e4e-b97c-3a63-8c91-8af3de6dfe11","instanceIdentifier":"ad3bfc37-156e-3408-4d08-02b19c9da174","position":{"x":-3376.0,"y":2552.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"d2201fba-fb90-3d4d-9f6e-24259403a2ac","instanceIdentifier":"38a854a1-b0fc-33be-3289-ec7acf5d770f","position":{"x":-992.0,"y":1728.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"b94b6f42-dc76-383e-bd94-57ac6716743a","instanceIdentifier":"7b1e8fe2-b1d2-3b3c-f289-55223f6009ff","position":{"x":104.0,"y":1760.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"},{"identifier":"b1ce0257-db5f-3062-bd64-1a28c1e14020","instanceIdentifier":"bdb95dcf-1fb3-31f7-06fc-1f1b4e28aab0","position":{"x":-3344.0,"y":2856.0},"componentType":"FUNNEL","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"controllerServices":[{"identifier":"9f29b51f-ffe2-3bf9-aa91-36825857289a","instanceIdentifier":"06707a7d-0196-1000-f95d-f620528a19a1","name":"Kafka-snow","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.3.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"#{IP}:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"448de1e3-f221-312a-9d06-6dcd3bdff11d"}],"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9"}],"remoteProcessGroups":[],"processors":[{"identifier":"4753bdeb-99da-3618-9be8-a11936c6580d","instanceIdentifier":"526e6270-f135-318c-dcaf-63241b5ef705","name":"InvokeHTTP","comments":"","position":{"x":544.0,"y":608.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Request Password":"#{snow-pass}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"#{SNOW_URL}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":"admin","Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9"},{"identifier":"144f6b04-0ebe-3892-9507-cc9d17535a55","instanceIdentifier":"d06f8beb-643c-3e2c-33e8-fd9e0485da14","name":"LogMessage","comments":"","position":{"x":920.0,"y":1328.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":"Failed to retrieve incidents from ServiceNow. Please check the connection and try again.","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1b5fa9e2-744a-3dd0-895a-fb891d02caaa","instanceIdentifier":"7fffb13e-135a-370e-d99e-049d7b760f3d","name":"","source":{"id":"144f6b04-0ebe-3892-9507-cc9d17535a55","type":"PROCESSOR","groupId":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9","name":"LogMessage","comments":"","instanceIdentifier":"d06f8beb-643c-3e2c-33e8-fd9e0485da14"},"destination":{"id":"4e7bafcf-137c-36d6-8c38-b34e938ea71d","type":"FUNNEL","groupId":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9","name":"Funnel","comments":"","instanceIdentifier":"b6227ba5-d46b-37e4-2886-c3ad6ea6d608"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9"},{"identifier":"68a046ec-7f29-3b46-8aa1-e5b2742aef5d","instanceIdentifier":"20f0da23-0812-3631-180d-a423b90c0636","name":"","source":{"id":"4753bdeb-99da-3618-9be8-a11936c6580d","type":"PROCESSOR","groupId":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9","name":"InvokeHTTP","comments":"","instanceIdentifier":"526e6270-f135-318c-dcaf-63241b5ef705"},"destination":{"id":"4e7bafcf-137c-36d6-8c38-b34e938ea71d","type":"FUNNEL","groupId":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9","name":"Funnel","comments":"","instanceIdentifier":"b6227ba5-d46b-37e4-2886-c3ad6ea6d608"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":336.0,"y":672.0},{"x":336.0,"y":1128.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9"},{"identifier":"311afba2-80ce-3621-a0b7-a79cfdc4838b","instanceIdentifier":"5ff7613c-6bdb-3599-988b-4f315dd1fcf2","name":"","source":{"id":"4753bdeb-99da-3618-9be8-a11936c6580d","type":"PROCESSOR","groupId":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9","name":"InvokeHTTP","comments":"","instanceIdentifier":"526e6270-f135-318c-dcaf-63241b5ef705"},"destination":{"id":"144f6b04-0ebe-3892-9507-cc9d17535a55","type":"PROCESSOR","groupId":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9","name":"LogMessage","comments":"","instanceIdentifier":"d06f8beb-643c-3e2c-33e8-fd9e0485da14"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1096.0,"y":672.0},{"x":1096.0,"y":1128.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9"},{"identifier":"9f20cf5a-9991-3e08-855d-13f0a2826779","instanceIdentifier":"67f65403-65de-3c03-2967-28fa81bc4290","name":"","source":{"id":"4753bdeb-99da-3618-9be8-a11936c6580d","type":"PROCESSOR","groupId":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9","name":"InvokeHTTP","comments":"","instanceIdentifier":"526e6270-f135-318c-dcaf-63241b5ef705"},"destination":{"id":"0e786d4b-e87b-3bd7-a9b3-28d9982a610f","type":"INPUT_PORT","groupId":"448de1e3-f221-312a-9d06-6dcd3bdff11d","name":"incidents_input","instanceIdentifier":"3688cb57-d114-3dce-25de-67e5b7a623c5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9"}],"labels":[{"identifier":"4cd7a36a-109f-30c2-a8e9-356a5511be76","instanceIdentifier":"e1c5baae-487e-3729-2ff2-57e46348f353","position":{"x":336.0,"y":528.0},"label":"GET incidents from Service-Now","zIndex":0,"width":776.0,"height":64.0,"style":{"background-color":"#92459c","font-size":"22px"},"componentType":"LABEL","groupIdentifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9"}],"funnels":[{"identifier":"4e7bafcf-137c-36d6-8c38-b34e938ea71d","instanceIdentifier":"b6227ba5-d46b-37e4-2886-c3ad6ea6d608","position":{"x":312.0,"y":1368.0},"componentType":"FUNNEL","groupIdentifier":"0a8d517c-f4ad-3835-b501-4a59f77cfbf9"}],"controllerServices":[],"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"MiKo_config":{"name":"MiKo_config","parameters":[{"name":"Redis_pass","description":"","sensitive":true,"provided":false},{"name":"twitter_token","description":"","sensitive":false,"provided":false},{"name":"IP","description":"","sensitive":false,"provided":false},{"name":"Access Key ID","description":"","sensitive":true,"provided":false},{"name":"snow-pass","description":"","sensitive":true,"provided":false},{"name":"email","description":"","sensitive":false,"provided":false},{"name":"email pass","description":"","sensitive":true,"provided":false},{"name":"Secret Access Key","description":"","sensitive":true,"provided":false},{"name":"SNOW_URL","description":"","sensitive":false,"provided":false,"value":"https://[SNOW-ID].service-now.com/api/now/table/incident"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}