Solutions/NiFi V2/task2-WorkingTimeCountingSystem_v2.json
{"flowContents":{"identifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","instanceIdentifier":"ffe8fc43-0195-1000-bad3-6bf9d37eed86","name":"task2-WorkingTimeCountingSystem_v2","comments":"","position":{"x":-2504.0,"y":800.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bb0749d6-a4f2-3c9b-9795-1568fa95804a","instanceIdentifier":"b09a031e-c15c-387a-d2d3-e5358698ed33","name":"Enrichment","comments":"","position":{"x":1752.0,"y":136.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[{\n  \"imie\" : \"Michal\",\n  \"nazwisko\" : \"Kowalski\",\n  \"stanowisko\" : \"engineer\",\n  \"stawkaH\" : \"20\",\n  \"CK\" : \"AA11BB\"\n},\n{\n  \"imie\" : \"Kamil\",\n  \"nazwisko\" : \"Nowak\",\n  \"stanowisko\" : \"trainee\",\n  \"stawkaH\" : \"10\",\n  \"CK\" : \"AA22BB\"\n},\n{\n  \"imie\" : \"Monika\",\n  \"nazwisko\" : \"Hamik\",\n  \"stanowisko\" : \"expert\",\n  \"stawkaH\" : \"50\",\n  \"CK\" : \"AA33BB\"\n},\n{\n  \"imie\" : \"Kasia\",\n  \"nazwisko\" : \"Nowacka\",\n  \"stanowisko\" : \"expert\",\n  \"stawkaH\" : \"50\",\n  \"CK\" : \"AA44BB\"\n}]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"357b079c-323d-30e6-a7c7-4b1cf3e460c7","instanceIdentifier":"b14d6245-fd7a-324a-462f-6347e23e9e57","name":"PublishKafka","comments":"- configure connection service","position":{"x":928.0,"y":3008.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.3.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"nifi","Kafka Key":null,"partition":null,"Kafka Connection Service":"17e5c5dc-a890-372c-8c1a-6ffae813dfa7","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"51003cdc-7ce9-3ded-89bf-4cea80e435dd","instanceIdentifier":"a90028d2-5cae-373a-9b33-6bdb3dea302d","name":"UpdateAttribute","comments":"","position":{"x":928.0,"y":2544.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"wynagrodzenie":"${WorkingTime:multiply(${stawkaH})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wynagrodzenie":{"name":"wynagrodzenie","displayName":"wynagrodzenie","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"4088b47e-f300-3ab0-9412-6561c1bd5b93","instanceIdentifier":"61a8e654-cd2c-377b-4732-9a8df9b8c2ef","name":"SplitJson","comments":"","position":{"x":1752.0,"y":360.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"d9fe6602-db8b-3da2-b443-eaffd1269c27","instanceIdentifier":"b03d8e46-ebb6-3508-0857-eb7c1c299976","name":"EvaluateJsonPath","comments":"","position":{"x":488.0,"y":648.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","CK":"$.CK","Null Value Representation":"empty string","time":"$.time","operation":"$.operation","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CK":{"name":"CK","displayName":"CK","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"time":{"name":"time","displayName":"time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"operation":{"name":"operation","displayName":"operation","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"b58a1c51-7e38-39d8-a7cf-b44510e95831","instanceIdentifier":"42c64019-9e08-3178-d288-a07e359b7cdc","name":"RouteOnAttribute","comments":"","position":{"x":496.0,"y":968.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","STOP":"${operation:equals(\"STOP\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"STOP":{"name":"STOP","displayName":"STOP","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"570affa3-552d-3361-842d-8c927589fe62","instanceIdentifier":"fbc66537-d4d2-3681-5f57-fcb8186cac50","name":"UpdateAttribute","comments":"","position":{"x":920.0,"y":1800.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"start_time":"${Redis_START:jsonPath(\"$.time\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"start_time":{"name":"start_time","displayName":"start_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","instanceIdentifier":"ba46cd66-194f-3983-9c16-1dc97069c917","name":"FetchDistributedMapCache","comments":"","position":{"x":920.0,"y":1184.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Cache Entry Identifier":"${CK}","Put Cache Value In Attribute":"Redis_START","Distributed Cache Service":"cd018da0-2d5f-34b0-8bd7-cd1aeba8c8c7","Max Length To Put In Attribute":"512","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"b8a78a86-cfee-357b-834a-c95662876974","instanceIdentifier":"fb0612ee-c535-354c-990f-962278c68303","name":"SplitJson","comments":"","position":{"x":480.0,"y":376.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"e12bdf7e-0034-354b-b8af-090e4727f7b3","instanceIdentifier":"a02a3b07-0080-394a-839c-a223929f46fc","name":"ControlRate","comments":"","position":{"x":1560.0,"y":1184.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"1 min","Grouping Attribute":null,"Maximum Rate":"10","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"b9d1b856-ef60-3716-ac5e-3ede5993c33c","instanceIdentifier":"c1fb76d4-4045-31fc-66c9-3571d4353337","name":"UpdateAttribute","comments":"","position":{"x":920.0,"y":2064.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"WorkingTime":"${time:minus(${start_time})}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"WorkingTime":{"name":"WorkingTime","displayName":"WorkingTime","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"bb2fb5e5-992f-3f55-a4f6-bb0ec0705847","instanceIdentifier":"5dd34b76-cbb0-3a5e-9c6d-eaabf659b11c","name":"MainEvent","comments":"","position":{"x":472.0,"y":144.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[{\n \"operation\" : \"START\",\n \"time\" : \"1676201442000\",\n \"CK\" : \"AA11BB\"\n},\n{\n \"operation\" : \"START\",\n \"time\" : \"1676197842000\",\n \"CK\" : \"AA22BB\"\n},\n{\n \"operation\" : \"START\",\n \"time\" : \"1676212242000\",\n \"CK\" : \"AA33BB\"\n},\n{\n \"operation\" : \"START\",\n \"time\" : \"1676195742000\",\n \"CK\" : \"AA44BB\"\n},\n{\n \"operation\" : \"STOP\",\n \"time\" : \"1676201442000\",\n \"CK\" : \"AA11BB\"\n},\n{\n \"operation\" : \"STOP\",\n \"time\" : \"1676197842000\",\n \"CK\" : \"AA22BB\"\n},\n{\n \"operation\" : \"STOP\",\n \"time\" : \"1676212242000\",\n \"CK\" : \"AA33BB\"\n},\n{\n \"operation\" : \"STOP\",\n \"time\" : \"1676195742000\",\n \"CK\" : \"AA44BB\"\n}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"83b664d4-fc19-32c4-925d-e9141615d7d8","instanceIdentifier":"c6a212a8-b953-36a6-345f-5a9da406abf1","name":"EvaluateJsonPath","comments":"","position":{"x":928.0,"y":2312.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","imie":"$.imie","stanowisko":"$.stanowisko","Max String Length":"20 MB","nazwisko":"$.nazwisko","stawkaH":"$.stawkaH","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"imie":{"name":"imie","displayName":"imie","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stanowisko":{"name":"stanowisko","displayName":"stanowisko","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"nazwisko":{"name":"nazwisko","displayName":"nazwisko","identifiesControllerService":false,"sensitive":false,"dynamic":true},"stawkaH":{"name":"stawkaH","displayName":"stawkaH","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"647f1e04-df11-3e0a-a7c8-d17345be1580","instanceIdentifier":"d97ec355-c993-3b76-d08b-cc28af4bf267","name":"JoltTransformJSON","comments":"","position":{"x":920.0,"y":2776.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"*\": \"\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n\t\t\"Imie\" : \"${imie}\",\n      \t\"Nazwisko\" : \"${nazwisko}\",\n      \t\"Stanowisko\" : \"${stanowisko}\",\n      \t\"StawkaH\" : \"${stawkaH}\",\n      \t\"CK\" : \"${CK}\",\n      \t\"Wynagrodzenie\" : \"${wynagrodzenie}\",\n      \t\"CzasPracy\" : \"${WorkingTime}\"\n      \n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"52090837-7b0d-3213-8022-dcc198e96f7e","instanceIdentifier":"25720cec-9939-375f-ea37-e2cae616df04","name":"EvaluateJsonPath","comments":"","position":{"x":1744.0,"y":584.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","CK":"$.CK","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CK":{"name":"CK","displayName":"CK","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"428e8db1-a283-3b61-b0f8-28e69b0df76a","instanceIdentifier":"795d41ea-5af9-3f1d-370f-9dfc25a2dde9","name":"PutDistributedMapCache","comments":"","position":{"x":80.0,"y":1176.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Cache Entry Identifier":"${CK}","Cache update strategy":"replace","Distributed Cache Service":"cd018da0-2d5f-34b0-8bd7-cd1aeba8c8c7","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"d6d9d91d-1f13-3191-8211-f2eff67984ca","instanceIdentifier":"c7f0be57-2853-3f0b-fde0-a575bf243a0d","name":"PutS3Object","comments":"","position":{"x":1752.0,"y":816.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.3.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"http://#{IP}:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${CK}","AWS Credentials Provider service":"7fdeb2e6-5aa0-3438-b905-2473ac42b0e2","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"nifi","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"b840270e-548f-3189-86c7-40b2a3222bd3","instanceIdentifier":"5d74d389-d0b7-3094-cc53-ef2b7e846e3d","name":"FetchS3Object","comments":"","position":{"x":920.0,"y":1528.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.3.0"},"properties":{"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":"http://#{IP}:9000","custom-signer-class-name":null,"requester-pays":"false","Object Key":"${CK}","AWS Credentials Provider service":"7fdeb2e6-5aa0-3438-b905-2473ac42b0e2","custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"nifi","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","encryption-service":null},"propertyDescriptors":{"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4fc95d66-798b-333c-9b0a-8fecba2fd97d","instanceIdentifier":"14e517e4-7e8b-3d42-16f3-be9f442f02a7","name":"","source":{"id":"357b079c-323d-30e6-a7c7-4b1cf3e460c7","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"b14d6245-fd7a-324a-462f-6347e23e9e57"},"destination":{"id":"f0d4ee86-57fa-3795-bc6f-88c46cc59f8d","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"67f98a5a-3174-3b17-af1c-69e96d5b722c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"09efad48-b2b0-396c-806c-4fd73076c298","instanceIdentifier":"a1c63123-3778-3af2-e258-4265f837d5f5","name":"","source":{"id":"83b664d4-fc19-32c4-925d-e9141615d7d8","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c6a212a8-b953-36a6-345f-5a9da406abf1"},"destination":{"id":"59d25ad3-d439-382a-bba2-3310590e5bcc","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"1d0d6cf5-14e2-3222-c2d3-622b7223ee92"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1456.0,"y":2408.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"cd667acf-f962-37e7-bbc9-9385f45ce03c","instanceIdentifier":"f47e5a4f-dcdb-36d6-03ac-0b8039c26d28","name":"","source":{"id":"e12bdf7e-0034-354b-b8af-090e4727f7b3","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"ControlRate","comments":"","instanceIdentifier":"a02a3b07-0080-394a-839c-a223929f46fc"},"destination":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"ba46cd66-194f-3983-9c16-1dc97069c917"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1416.0,"y":1280.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"d139a40c-fd99-3f36-8575-b8c850a18ca2","instanceIdentifier":"6f496cc8-586e-35e8-b5b1-7f73f1b65a25","name":"","source":{"id":"51003cdc-7ce9-3ded-89bf-4cea80e435dd","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"UpdateAttribute","comments":"","instanceIdentifier":"a90028d2-5cae-373a-9b33-6bdb3dea302d"},"destination":{"id":"647f1e04-df11-3e0a-a7c8-d17345be1580","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d97ec355-c993-3b76-d08b-cc28af4bf267"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"cc0bf539-90dc-3c40-ac98-a376e6f3f4ff","instanceIdentifier":"7d838669-49a5-3d14-5431-de77f68ac540","name":"","source":{"id":"bb0749d6-a4f2-3c9b-9795-1568fa95804a","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Enrichment","comments":"","instanceIdentifier":"b09a031e-c15c-387a-d2d3-e5358698ed33"},"destination":{"id":"4088b47e-f300-3ab0-9412-6561c1bd5b93","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"SplitJson","comments":"","instanceIdentifier":"61a8e654-cd2c-377b-4732-9a8df9b8c2ef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"1cd7665f-b7fe-3889-93fb-ce5c7affe801","instanceIdentifier":"ff72156c-c61f-32bd-10d2-f9935777dcf1","name":"","source":{"id":"bb2fb5e5-992f-3f55-a4f6-bb0ec0705847","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"MainEvent","comments":"","instanceIdentifier":"5dd34b76-cbb0-3a5e-9c6d-eaabf659b11c"},"destination":{"id":"b8a78a86-cfee-357b-834a-c95662876974","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"SplitJson","comments":"","instanceIdentifier":"fb0612ee-c535-354c-990f-962278c68303"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"7d57ad45-c8f3-39e5-ba9e-3b7fcb7433de","instanceIdentifier":"502608ce-f72d-3299-3d16-060ce1e18575","name":"","source":{"id":"428e8db1-a283-3b61-b0f8-28e69b0df76a","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"795d41ea-5af9-3f1d-370f-9dfc25a2dde9"},"destination":{"id":"7b0af649-0157-327b-9823-d9884eafe479","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"6e3dca55-7832-3ce5-7272-d75c3197450f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"017a3f66-432e-3107-bbcd-b4a089537a14","instanceIdentifier":"5a2446a3-7784-316a-4db5-69e57a3d57f0","name":"","source":{"id":"52090837-7b0d-3213-8022-dcc198e96f7e","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"25720cec-9939-375f-ea37-e2cae616df04"},"destination":{"id":"d6d9d91d-1f13-3191-8211-f2eff67984ca","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"PutS3Object","comments":"","instanceIdentifier":"c7f0be57-2853-3f0b-fde0-a575bf243a0d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"14efdd2f-add1-3c57-95bd-6636fece43cb","instanceIdentifier":"060ef7cb-e23f-36fe-0dc9-a9efc52977fd","name":"","source":{"id":"d9fe6602-db8b-3da2-b443-eaffd1269c27","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b03d8e46-ebb6-3508-0857-eb7c1c299976"},"destination":{"id":"ee39a045-a2c5-3b27-a881-c62c697d3840","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"a007fffa-72c6-3a8a-3c4e-269d1e1f5499"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1016.0,"y":784.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"ae7d8b7a-fa16-3986-84c8-d0de801984b7","instanceIdentifier":"ed46d9d7-9a16-314a-5afe-22b56799fbd8","name":"","source":{"id":"d9fe6602-db8b-3da2-b443-eaffd1269c27","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b03d8e46-ebb6-3508-0857-eb7c1c299976"},"destination":{"id":"b58a1c51-7e38-39d8-a7cf-b44510e95831","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"42c64019-9e08-3178-d288-a07e359b7cdc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"6afb04ef-1424-3e85-bd06-ca3c56f3f06e","instanceIdentifier":"76fc7cb7-db31-379f-e62c-d3d8ecf2fb81","name":"","source":{"id":"b8a78a86-cfee-357b-834a-c95662876974","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"SplitJson","comments":"","instanceIdentifier":"fb0612ee-c535-354c-990f-962278c68303"},"destination":{"id":"0ace1c98-b3cb-38ee-ad96-30cf47fc90c8","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"47a4af79-2b3f-3d71-c03d-8c83218089ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":976.0,"y":488.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"bd99ac04-0a42-38f0-a309-d964b6cf7269","instanceIdentifier":"117b1c09-4979-31f3-cd04-ba370460acfe","name":"","source":{"id":"52090837-7b0d-3213-8022-dcc198e96f7e","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"25720cec-9939-375f-ea37-e2cae616df04"},"destination":{"id":"baad47fd-e0b2-31f4-95e4-dfe138a4f835","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"d556328e-b142-31a2-aff3-9b00012dfc5a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2296.0,"y":688.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"a7d39cff-ef7a-3a8b-9e2d-e4694124278a","instanceIdentifier":"c832861a-95c9-3cae-8650-970637aaa23c","name":"","source":{"id":"4088b47e-f300-3ab0-9412-6561c1bd5b93","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"SplitJson","comments":"","instanceIdentifier":"61a8e654-cd2c-377b-4732-9a8df9b8c2ef"},"destination":{"id":"52090837-7b0d-3213-8022-dcc198e96f7e","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"25720cec-9939-375f-ea37-e2cae616df04"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"96ba609a-702f-3b8c-977a-d00d30bffdb6","instanceIdentifier":"f2432e47-7871-3462-5338-9076b384776e","name":"","source":{"id":"b840270e-548f-3189-86c7-40b2a3222bd3","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"FetchS3Object","comments":"","instanceIdentifier":"5d74d389-d0b7-3094-cc53-ef2b7e846e3d"},"destination":{"id":"925b2fd2-5a2c-33f6-bb61-1547d2ee7684","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"51188305-d525-3d27-a04d-a991804b22ef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"bb8ad8ed-5cd6-36b8-a745-3deae1e1f0b7","instanceIdentifier":"80dbe1ef-2a36-379d-0b6e-f5557af0cfc4","name":"","source":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"ba46cd66-194f-3983-9c16-1dc97069c917"},"destination":{"id":"a7a9991d-6c95-3e34-939b-3fb7ac256e07","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"bf820d89-bcda-349c-7964-20d9133ca1d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"acb890e6-b491-3b64-808c-055cb1563fab","instanceIdentifier":"5b69075c-e300-3617-1fd9-54f382202f30","name":"","source":{"id":"d6d9d91d-1f13-3191-8211-f2eff67984ca","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"PutS3Object","comments":"","instanceIdentifier":"c7f0be57-2853-3f0b-fde0-a575bf243a0d"},"destination":{"id":"a41e26a5-d387-3a4a-8187-13e7df13532c","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"2c4af096-ad61-3066-1fc1-57fc87bb43eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"b3cf9149-c433-3ba5-a32c-91177f5b38b0","instanceIdentifier":"b698ad24-4833-3708-f679-82866ba9445f","name":"","source":{"id":"b58a1c51-7e38-39d8-a7cf-b44510e95831","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"42c64019-9e08-3178-d288-a07e359b7cdc"},"destination":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"ba46cd66-194f-3983-9c16-1dc97069c917"},"labelIndex":0,"zIndex":0,"selectedRelationships":["STOP"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1096.0,"y":1032.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"769457c3-2abe-3782-898e-66835690847a","instanceIdentifier":"e89d1b2c-576f-3d3a-14f6-aa74a00ea6ff","name":"","source":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"ba46cd66-194f-3983-9c16-1dc97069c917"},"destination":{"id":"b840270e-548f-3189-86c7-40b2a3222bd3","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"FetchS3Object","comments":"","instanceIdentifier":"5d74d389-d0b7-3094-cc53-ef2b7e846e3d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"354088ab-b27d-3854-84e1-5751a0c56117","instanceIdentifier":"b44a336f-8263-358f-635b-9fe73e42ed83","name":"","source":{"id":"647f1e04-df11-3e0a-a7c8-d17345be1580","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d97ec355-c993-3b76-d08b-cc28af4bf267"},"destination":{"id":"357b079c-323d-30e6-a7c7-4b1cf3e460c7","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"b14d6245-fd7a-324a-462f-6347e23e9e57"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"96d2d0a8-baf5-33d8-9f54-b82314214e70","instanceIdentifier":"6a974819-ac59-3e75-4e19-2f4dd86baf4e","name":"","source":{"id":"b840270e-548f-3189-86c7-40b2a3222bd3","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"FetchS3Object","comments":"","instanceIdentifier":"5d74d389-d0b7-3094-cc53-ef2b7e846e3d"},"destination":{"id":"570affa3-552d-3361-842d-8c927589fe62","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"UpdateAttribute","comments":"","instanceIdentifier":"fbc66537-d4d2-3681-5f57-fcb8186cac50"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"01f8b1ea-0eea-3f20-b383-dfd034b27daf","instanceIdentifier":"dfb6886e-3003-37e6-6baa-b568ae48e976","name":"","source":{"id":"570affa3-552d-3361-842d-8c927589fe62","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"UpdateAttribute","comments":"","instanceIdentifier":"fbc66537-d4d2-3681-5f57-fcb8186cac50"},"destination":{"id":"b9d1b856-ef60-3716-ac5e-3ede5993c33c","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"UpdateAttribute","comments":"","instanceIdentifier":"c1fb76d4-4045-31fc-66c9-3571d4353337"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"3edcc54a-f6ef-3215-ae49-60b50b63b9c0","instanceIdentifier":"b62e1cef-b5b7-345e-fb31-da8c92e5d8f1","name":"","source":{"id":"428e8db1-a283-3b61-b0f8-28e69b0df76a","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"795d41ea-5af9-3f1d-370f-9dfc25a2dde9"},"destination":{"id":"f9f95922-801f-3121-836f-63cd6f37632b","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"87668cff-ece6-30a4-ce7a-a84048a4cec2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"3621589c-a90b-397e-b1b7-93d792d514b7","instanceIdentifier":"6792fe61-cd77-35c0-c542-8f8e71bc87c6","name":"","source":{"id":"d9fe6602-db8b-3da2-b443-eaffd1269c27","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b03d8e46-ebb6-3508-0857-eb7c1c299976"},"destination":{"id":"ee39a045-a2c5-3b27-a881-c62c697d3840","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"a007fffa-72c6-3a8a-3c4e-269d1e1f5499"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1008.0,"y":672.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"3e22c6fc-f7f7-392d-bd9e-72e86ab31838","instanceIdentifier":"d4f85044-1b4d-39f4-a73e-702084ea710b","name":"","source":{"id":"d6d9d91d-1f13-3191-8211-f2eff67984ca","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"PutS3Object","comments":"","instanceIdentifier":"c7f0be57-2853-3f0b-fde0-a575bf243a0d"},"destination":{"id":"248416c2-d42a-3d03-adf9-37fbfe1b87b4","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"41d7cf08-5613-3376-31e9-0274bc8648f7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"843aafde-a946-3505-8001-1ead618ee8ae","instanceIdentifier":"950f1d83-4101-33f3-c4a3-22b8c98f39e6","name":"","source":{"id":"e12bdf7e-0034-354b-b8af-090e4727f7b3","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"ControlRate","comments":"","instanceIdentifier":"a02a3b07-0080-394a-839c-a223929f46fc"},"destination":{"id":"925b2fd2-5a2c-33f6-bb61-1547d2ee7684","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"51188305-d525-3d27-a04d-a991804b22ef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"f8359d8e-e440-3afc-b455-ae0993e83990","instanceIdentifier":"9c2ad7df-459a-3c25-f42d-b942d70d4f56","name":"","source":{"id":"357b079c-323d-30e6-a7c7-4b1cf3e460c7","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"b14d6245-fd7a-324a-462f-6347e23e9e57"},"destination":{"id":"d0b95a8a-11aa-36ef-a81f-5fa014d02478","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"190c3649-5bc6-34c4-5af3-3edb7c2b3cee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"b2c784b4-185a-3c7e-bd7a-26bc77c0928f","instanceIdentifier":"1f098b95-68d3-3eed-72b2-0fdd9d6ce9a2","name":"","source":{"id":"b58a1c51-7e38-39d8-a7cf-b44510e95831","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"42c64019-9e08-3178-d288-a07e359b7cdc"},"destination":{"id":"428e8db1-a283-3b61-b0f8-28e69b0df76a","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"795d41ea-5af9-3f1d-370f-9dfc25a2dde9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":256.0,"y":1032.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"803740a8-3a34-3bf0-9519-b89262549bd0","instanceIdentifier":"2ff9c7c1-668a-3347-0e9a-dd3caee2bfe6","name":"","source":{"id":"4088b47e-f300-3ab0-9412-6561c1bd5b93","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"SplitJson","comments":"","instanceIdentifier":"61a8e654-cd2c-377b-4732-9a8df9b8c2ef"},"destination":{"id":"88f3b444-f8e0-3750-b993-e9c58722c5ef","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"0d6bf85b-d51e-3992-db9a-c43d68c683e7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2280.0,"y":464.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"9c316285-124f-304f-8941-aedd8f383e37","instanceIdentifier":"f369dbce-b607-319b-81b0-6e8d9b20d147","name":"","source":{"id":"b8a78a86-cfee-357b-834a-c95662876974","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"SplitJson","comments":"","instanceIdentifier":"fb0612ee-c535-354c-990f-962278c68303"},"destination":{"id":"0ace1c98-b3cb-38ee-ad96-30cf47fc90c8","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"47a4af79-2b3f-3d71-c03d-8c83218089ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1000.0,"y":400.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"bfbd962e-61a9-3d7c-bd58-cf532e007c37","instanceIdentifier":"8bcb48ca-092d-32d0-4057-ec2e374c2e6a","name":"","source":{"id":"83b664d4-fc19-32c4-925d-e9141615d7d8","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c6a212a8-b953-36a6-345f-5a9da406abf1"},"destination":{"id":"59d25ad3-d439-382a-bba2-3310590e5bcc","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"1d0d6cf5-14e2-3222-c2d3-622b7223ee92"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1456.0,"y":2344.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"026bb911-aca2-32fb-96c2-2d9820aea739","instanceIdentifier":"b5b75897-b495-3533-1557-1c080011ef9e","name":"","source":{"id":"075b88c6-cf9f-31ef-94d7-10e46417fb8b","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"ba46cd66-194f-3983-9c16-1dc97069c917"},"destination":{"id":"e12bdf7e-0034-354b-b8af-090e4727f7b3","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"ControlRate","comments":"","instanceIdentifier":"a02a3b07-0080-394a-839c-a223929f46fc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["not-found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1408.0,"y":1208.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"e88e1ca9-6a28-347f-9be7-9307fcba6b79","instanceIdentifier":"d7e16fe5-07f1-39f6-6e4f-808eedbafe62","name":"","source":{"id":"647f1e04-df11-3e0a-a7c8-d17345be1580","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d97ec355-c993-3b76-d08b-cc28af4bf267"},"destination":{"id":"517efd32-5705-3017-85aa-78c5eb34f926","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"cf45b242-5ac5-3370-779b-67d12062a30e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"124b729c-20c1-30f9-941a-e9bc7091efb2","instanceIdentifier":"cdcf5601-2ad7-3b16-ff0c-95b2304dbdb8","name":"","source":{"id":"83b664d4-fc19-32c4-925d-e9141615d7d8","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c6a212a8-b953-36a6-345f-5a9da406abf1"},"destination":{"id":"51003cdc-7ce9-3ded-89bf-4cea80e435dd","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"UpdateAttribute","comments":"","instanceIdentifier":"a90028d2-5cae-373a-9b33-6bdb3dea302d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"020af574-8757-3f3d-8f4f-b820f16d0eca","instanceIdentifier":"c1f0a967-7de7-32b5-6841-e347048144e9","name":"","source":{"id":"52090837-7b0d-3213-8022-dcc198e96f7e","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"25720cec-9939-375f-ea37-e2cae616df04"},"destination":{"id":"baad47fd-e0b2-31f4-95e4-dfe138a4f835","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"d556328e-b142-31a2-aff3-9b00012dfc5a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2304.0,"y":616.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"f6e5b517-7c08-3cbd-bbe1-31ee97ddba88","instanceIdentifier":"d3c8e4d4-908d-3a07-00ee-30db227ff46c","name":"","source":{"id":"b8a78a86-cfee-357b-834a-c95662876974","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"SplitJson","comments":"","instanceIdentifier":"fb0612ee-c535-354c-990f-962278c68303"},"destination":{"id":"d9fe6602-db8b-3da2-b443-eaffd1269c27","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b03d8e46-ebb6-3508-0857-eb7c1c299976"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"f089ef60-7a6c-3892-a11f-45859a768893","instanceIdentifier":"6152488d-841f-3efd-f52f-ddf42a848078","name":"","source":{"id":"4088b47e-f300-3ab0-9412-6561c1bd5b93","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"SplitJson","comments":"","instanceIdentifier":"61a8e654-cd2c-377b-4732-9a8df9b8c2ef"},"destination":{"id":"88f3b444-f8e0-3750-b993-e9c58722c5ef","type":"FUNNEL","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"Funnel","comments":"","instanceIdentifier":"0d6bf85b-d51e-3992-db9a-c43d68c683e7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2280.0,"y":392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"2688bbff-a6c7-3cee-b925-36da8efb9422","instanceIdentifier":"94ae8fe8-6dca-3a83-d43d-c0f18096e383","name":"","source":{"id":"b9d1b856-ef60-3716-ac5e-3ede5993c33c","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"UpdateAttribute","comments":"","instanceIdentifier":"c1fb76d4-4045-31fc-66c9-3571d4353337"},"destination":{"id":"83b664d4-fc19-32c4-925d-e9141615d7d8","type":"PROCESSOR","groupId":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c6a212a8-b953-36a6-345f-5a9da406abf1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"}],"labels":[{"identifier":"fbce1485-9c76-335a-926d-8850563ea2bc","instanceIdentifier":"4cb316ef-2d6a-3573-84cb-31d86c177a9c","position":{"x":1536.0,"y":64.0},"label":"Enrichment  -> S3","zIndex":0,"width":568.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"f0836d46-5272-3b1e-8294-a9e754cd8cd9","instanceIdentifier":"f7e8f780-f95b-3c67-0b13-13c03c3b1963","position":{"x":-584.0,"y":88.0},"label":"Parameters \"MiKo_config\":\nConfig:\n      IP: 192.168.1.182\nS3:\n      Access Key ID : P3KSl2r2LLCNTbW53A2B\n      Secret Access Key:  aBaRU1d9voMbPZ25jd3eMdpOddkdRkuebpdfK6vk\n\nServices:\nRedis: Redis_DB0: SystemLiczeniaCzasuPracy\n","zIndex":0,"width":640.0,"height":264.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"6ac077b1-99c0-3feb-a43c-44a3318f9446","instanceIdentifier":"e5bf4684-360f-302b-5849-a8b8c70b1218","position":{"x":256.0,"y":72.0},"label":"Time events: START / STOP","zIndex":0,"width":568.0,"height":48.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"}],"funnels":[{"identifier":"59d25ad3-d439-382a-bba2-3310590e5bcc","instanceIdentifier":"1d0d6cf5-14e2-3222-c2d3-622b7223ee92","position":{"x":1596.8795189598695,"y":2373.93119936383},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"a7a9991d-6c95-3e34-939b-3fb7ac256e07","instanceIdentifier":"bf820d89-bcda-349c-7964-20d9133ca1d7","position":{"x":640.0,"y":1208.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"f0d4ee86-57fa-3795-bc6f-88c46cc59f8d","instanceIdentifier":"67f98a5a-3174-3b17-af1c-69e96d5b722c","position":{"x":1520.0,"y":3040.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"517efd32-5705-3017-85aa-78c5eb34f926","instanceIdentifier":"cf45b242-5ac5-3370-779b-67d12062a30e","position":{"x":1512.0,"y":2800.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"baad47fd-e0b2-31f4-95e4-dfe138a4f835","instanceIdentifier":"d556328e-b142-31a2-aff3-9b00012dfc5a","position":{"x":2492.0719563234534,"y":649.6819136767158},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"88f3b444-f8e0-3750-b993-e9c58722c5ef","instanceIdentifier":"0d6bf85b-d51e-3992-db9a-c43d68c683e7","position":{"x":2464.0,"y":408.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"ee39a045-a2c5-3b27-a881-c62c697d3840","instanceIdentifier":"a007fffa-72c6-3a8a-3c4e-269d1e1f5499","position":{"x":1160.0,"y":696.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"925b2fd2-5a2c-33f6-bb61-1547d2ee7684","instanceIdentifier":"51188305-d525-3d27-a04d-a991804b22ef","position":{"x":1704.0,"y":1568.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"7b0af649-0157-327b-9823-d9884eafe479","instanceIdentifier":"6e3dca55-7832-3ce5-7272-d75c3197450f","position":{"x":-248.0,"y":1208.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"0ace1c98-b3cb-38ee-ad96-30cf47fc90c8","instanceIdentifier":"47a4af79-2b3f-3d71-c03d-8c83218089ad","position":{"x":1144.0,"y":416.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"f9f95922-801f-3121-836f-63cd6f37632b","instanceIdentifier":"87668cff-ece6-30a4-ce7a-a84048a4cec2","position":{"x":232.0,"y":1424.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"a41e26a5-d387-3a4a-8187-13e7df13532c","instanceIdentifier":"2c4af096-ad61-3066-1fc1-57fc87bb43eb","position":{"x":1912.0,"y":1072.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"d0b95a8a-11aa-36ef-a81f-5fa014d02478","instanceIdentifier":"190c3649-5bc6-34c4-5af3-3edb7c2b3cee","position":{"x":1096.0,"y":3256.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"248416c2-d42a-3d03-adf9-37fbfe1b87b4","instanceIdentifier":"41d7cf08-5613-3376-31e9-0274bc8648f7","position":{"x":2448.0,"y":848.0},"componentType":"FUNNEL","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"}],"controllerServices":[{"identifier":"7fdeb2e6-5aa0-3438-b905-2473ac42b0e2","instanceIdentifier":"f6db47dc-4352-3712-b2dd-30ad7291524b","name":"S3-access-service","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.3.0"},"properties":{"profile-name":null,"Access Key":"#{Access Key ID}","assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Secret Key":"#{Secret Access Key}","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"cd018da0-2d5f-34b0-8bd7-cd1aeba8c8c7","instanceIdentifier":"cf1d4154-65c4-320e-be53-37116968f565","name":"Redis_DB0: WorktimeCountingSystem","comments":"","type":"org.apache.nifi.redis.service.RedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.3.0"},"properties":{"redis-connection-pool":"9975d40a-d6d0-3626-b860-cad31d4acd90","redis-cache-ttl":"5 min"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"17e5c5dc-a890-372c-8c1a-6ffae813dfa7","instanceIdentifier":"fff1e806-0195-1000-f3e9-63f6ce97896d","name":"Kafka-WorktimeCountingSystem ","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.3.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"#{IP}:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"},{"identifier":"9975d40a-d6d0-3626-b860-cad31d4acd90","instanceIdentifier":"e9fd7bb2-b3e2-3d63-86e8-3aa891890bb8","name":"Redis_DB0: WorktimeCountingSystem","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.3.0"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"#{IP}:6379","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Sentinel Username":null,"Pool - Min Idle":"0","Username":null,"Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"0","Sentinel Master":null,"Password":"#{ Redis_pass}"},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Sentinel Username":{"name":"Sentinel Username","displayName":"Sentinel Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Password":{"name":"Sentinel Password","displayName":"Sentinel Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9a35a183-55e5-30a7-9881-c8aea5f9fc3a"}],"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"MiKo_config":{"name":"MiKo_config","parameters":[{"name":"Redis_pass","description":"","sensitive":true,"provided":false},{"name":"twitter_token","description":"","sensitive":false,"provided":false},{"name":"IP","description":"","sensitive":false,"provided":false},{"name":"Access Key ID","description":"","sensitive":true,"provided":false},{"name":"snow-pass","description":"","sensitive":true,"provided":false},{"name":"email","description":"","sensitive":false,"provided":false},{"name":"email pass","description":"","sensitive":true,"provided":false},{"name":"Secret Access Key","description":"","sensitive":true,"provided":false},{"name":"SNOW_URL","description":"","sensitive":false,"provided":false,"value":"https://[SNOW-ID].service-now.com/api/now/table/incident"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}