Solutions/NiFi V2/task3-NiFi_processors_v2.json
{"flowContents":{"identifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0","instanceIdentifier":"fdf93629-0195-1000-c3f7-da5be23cf4d1","name":"task3-NiFi_processors_v2","comments":"","position":{"x":-2072.0,"y":800.0},"processGroups":[{"identifier":"cee4db56-0b51-3206-8f4f-606b2fd27534","instanceIdentifier":"fe2a5782-c065-301b-76ca-f0291fa20d5b","name":"replaceTest","comments":"","position":{"x":824.0,"y":1776.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"420aa406-8a0a-3cf2-b665-1a9e043f3812","instanceIdentifier":"411387bd-d274-39e1-c576-ec7b79ee374b","name":"ReplaceText","comments":"","position":{"x":32.0,"y":2200.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":"}\"","Replacement Value":"}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"ae696af4-ce26-3df4-b890-3dc8a7541f0c","instanceIdentifier":"2a5c57f3-48cd-3013-cee4-f09b6e7bcd34","name":"ReplaceText","comments":"","position":{"x":24.0,"y":1736.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":"\\","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"2c3f2c91-e077-35c9-bbb6-b3d00c48b41c","instanceIdentifier":"0c7c0e68-378c-3090-3633-ebd6923bb9e5","name":"ReplaceText","comments":"","position":{"x":24.0,"y":1992.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":"\"{","Replacement Value":"{","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"inputPorts":[{"identifier":"d0412613-5a52-3f4d-8e17-312519f8b42f","instanceIdentifier":"b04daf64-5854-3844-665d-b78c6b102e27","name":"input","position":{"x":72.0,"y":1552.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"outputPorts":[{"identifier":"6b04e569-1459-34b0-8a77-59cb84eb7220","instanceIdentifier":"dc88ede0-1e5e-332d-f1c4-abb8b7c3f2eb","name":"output","position":{"x":80.0,"y":2488.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"connections":[{"identifier":"414eae84-0b60-3829-8709-3618e63517ce","instanceIdentifier":"738b8b5c-40ec-3f2d-f7b1-249d560d08f1","name":"","source":{"id":"420aa406-8a0a-3cf2-b665-1a9e043f3812","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"411387bd-d274-39e1-c576-ec7b79ee374b"},"destination":{"id":"00636a39-2ef3-393d-98ae-8a7c1f339170","type":"FUNNEL","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"Funnel","comments":"","instanceIdentifier":"582f43b3-5a2b-3616-40a3-73d80f8eb4d8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"caaff7e6-1843-331d-addb-6a794d5a7654","instanceIdentifier":"99ecc617-67fb-3c31-9d7c-81c4b31e4e21","name":"","source":{"id":"420aa406-8a0a-3cf2-b665-1a9e043f3812","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"411387bd-d274-39e1-c576-ec7b79ee374b"},"destination":{"id":"6b04e569-1459-34b0-8a77-59cb84eb7220","type":"OUTPUT_PORT","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"output","instanceIdentifier":"dc88ede0-1e5e-332d-f1c4-abb8b7c3f2eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"20f9cba9-f3df-3bd5-b70e-e1c5939eaeab","instanceIdentifier":"325295c0-acab-3f66-4a27-a1a479e81db1","name":"","source":{"id":"2c3f2c91-e077-35c9-bbb6-b3d00c48b41c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"0c7c0e68-378c-3090-3633-ebd6923bb9e5"},"destination":{"id":"c307fff2-d178-355d-87d7-a098a1ad36f0","type":"FUNNEL","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"Funnel","comments":"","instanceIdentifier":"f2e1a8d1-045c-39de-44ac-6f8162278866"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"22ef1f23-2eac-30e4-accc-40a03e0837c9","instanceIdentifier":"9893322f-2085-35e4-6f0a-a32ea1505ba5","name":"","source":{"id":"d0412613-5a52-3f4d-8e17-312519f8b42f","type":"INPUT_PORT","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"input","instanceIdentifier":"b04daf64-5854-3844-665d-b78c6b102e27"},"destination":{"id":"ae696af4-ce26-3df4-b890-3dc8a7541f0c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"2a5c57f3-48cd-3013-cee4-f09b6e7bcd34"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"abd43268-d155-362d-87c2-f9dbe8d11cea","instanceIdentifier":"ffac2f51-1f6f-3f44-6132-82aac8f5f5b9","name":"","source":{"id":"ae696af4-ce26-3df4-b890-3dc8a7541f0c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"2a5c57f3-48cd-3013-cee4-f09b6e7bcd34"},"destination":{"id":"3df9082d-c32b-3d52-bed9-b5be2ebbe890","type":"FUNNEL","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"Funnel","comments":"","instanceIdentifier":"d8c94965-e779-3073-b873-65d9a17a1ea2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"8f5968fd-b9b5-3ed8-9cd7-85a6e047fb85","instanceIdentifier":"56afd2d7-7656-3ba5-b571-b4a18b91c3a9","name":"","source":{"id":"ae696af4-ce26-3df4-b890-3dc8a7541f0c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"2a5c57f3-48cd-3013-cee4-f09b6e7bcd34"},"destination":{"id":"2c3f2c91-e077-35c9-bbb6-b3d00c48b41c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"0c7c0e68-378c-3090-3633-ebd6923bb9e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"7c09a0a1-21d8-3f82-9f5d-195ab9ce225e","instanceIdentifier":"cef3e99c-26e3-3796-dfb5-efc3c53e6089","name":"","source":{"id":"2c3f2c91-e077-35c9-bbb6-b3d00c48b41c","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"0c7c0e68-378c-3090-3633-ebd6923bb9e5"},"destination":{"id":"420aa406-8a0a-3cf2-b665-1a9e043f3812","type":"PROCESSOR","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"ReplaceText","comments":"","instanceIdentifier":"411387bd-d274-39e1-c576-ec7b79ee374b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"labels":[],"funnels":[{"identifier":"00636a39-2ef3-393d-98ae-8a7c1f339170","instanceIdentifier":"582f43b3-5a2b-3616-40a3-73d80f8eb4d8","position":{"x":-288.0,"y":2232.0},"componentType":"FUNNEL","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"c307fff2-d178-355d-87d7-a098a1ad36f0","instanceIdentifier":"f2e1a8d1-045c-39de-44ac-6f8162278866","position":{"x":-288.0,"y":2024.0},"componentType":"FUNNEL","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"},{"identifier":"3df9082d-c32b-3d52-bed9-b5be2ebbe890","instanceIdentifier":"d8c94965-e779-3073-b873-65d9a17a1ea2","position":{"x":-288.0,"y":1784.0},"componentType":"FUNNEL","groupIdentifier":"cee4db56-0b51-3206-8f4f-606b2fd27534"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"}],"remoteProcessGroups":[],"processors":[{"identifier":"ef23791b-2333-35d1-86f4-9b8d18340b24","instanceIdentifier":"e36f39ea-48d8-3078-cefd-fe3d2cb08fc3","name":"EvaluateJsonPath","comments":"","position":{"x":816.0,"y":1288.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","surname":"$[0].surname","Return Type":"auto-detect","name":"$[0].name","Null Value Representation":"empty string","position":"$[0].position","email":"$[0].email","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"surname":{"name":"surname","displayName":"surname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"position":{"name":"position","displayName":"position","identifiesControllerService":false,"sensitive":false,"dynamic":true},"email":{"name":"email","displayName":"email","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"b4d09cd1-65ab-38a0-b0f1-33435400202d","instanceIdentifier":"88548e4a-3f78-3d5b-14e6-28a68772e68c","name":"EvaluateJsonPath","comments":"","position":{"x":816.0,"y":584.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"sourceId":"$.sourceId","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","userIdentity":"$.action.userIdentity","Path Not Found Behavior":"ignore","sourceType":"$.action.sourceType","componentDetails.type":"$.action.componentDetails.type","sourceName":"$.action.sourceName","actionDetails":"$.action.actionDetails","operation":"$.action.operation","timestamp":"$.timestamp"},"propertyDescriptors":{"sourceId":{"name":"sourceId","displayName":"sourceId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"userIdentity":{"name":"userIdentity","displayName":"userIdentity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sourceType":{"name":"sourceType","displayName":"sourceType","identifiesControllerService":false,"sensitive":false,"dynamic":true},"componentDetails.type":{"name":"componentDetails.type","displayName":"componentDetails.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"sourceName":{"name":"sourceName","displayName":"sourceName","identifiesControllerService":false,"sensitive":false,"dynamic":true},"actionDetails":{"name":"actionDetails","displayName":"actionDetails","identifiesControllerService":false,"sensitive":false,"dynamic":true},"operation":{"name":"operation","displayName":"operation","identifiesControllerService":false,"sensitive":false,"dynamic":true},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"8e7f9d79-ee7e-3541-8136-33c93336bbcb","instanceIdentifier":"003d80ea-0196-1000-e6e5-d9849d4c82a0","name":"ConvertRecord","comments":"","position":{"x":816.0,"y":1048.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"0dd16bfc-8110-3567-9f25-00f50c84ebae","Record Reader":"ff1ae4ac-b78d-3cdd-8b87-481da54d83b9"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","instanceIdentifier":"c37f0cd4-c874-3c93-44e9-ec978f1cdedc","name":"SplitJson","comments":"","position":{"x":816.0,"y":328.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.history.actions.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","instanceIdentifier":"2dbc805c-55a9-39c9-a02a-9ee6a86e9a26","name":"JoltTransformJSON","comments":"","position":{"x":840.0,"y":2040.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.3.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n            \"actionDetails\": \"OperationPerformed.actionDetails\"\n    }\n},\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n    \"Personal\" : {\n        \"CK\" : \"${userIdentity}\",\n        \"Name\" : \"${name}\",\n        \"Surname\" : \"${surname}\",\n        \"Email\" : \"${email}\",\n        \"Position\" : \"${position}\"\n    },\n    \"Object\" : {\n        \"componentDetailsType\" : \"${componentDetails.type}\",\n        \"sourceId\" : \"${sourceId}\",\n        \"sourceName\" : \"${sourceName}\",\n        \"sourceType\" : \"${sourceType}\"\t\n    },\n    \"Timestamp\" : \"${timestamp}\",\n    \"OperationPerformed\" : {\n        \"Operation\" : \"${operation}\"\n    }\n}\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"b97d6e72-3f07-3f40-a0e9-820dfae3de7e","instanceIdentifier":"2a43cf1a-96ad-38eb-126f-d46972b34c9f","name":"PublishKafka","comments":"- configure connection service","position":{"x":848.0,"y":2256.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.3.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"NiFi_history","Kafka Key":null,"partition":null,"Kafka Connection Service":"0a2eed11-c77e-3dcc-9855-9d35f59dc8c2","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"cfae1a3b-a516-351c-a066-551794a830cd","instanceIdentifier":"1c916a3e-07b1-36e3-0ab8-ff105b187014","name":"AttributesToJSON","comments":"","position":{"x":824.0,"y":1520.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"actionDetails","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"18b529e5-0600-3745-8e9e-79c9c9f6b109","instanceIdentifier":"efac8884-1fe7-3dc8-a5d1-bdc3fdf1fc9c","name":"LogMessage","comments":"","position":{"x":1456.0,"y":2048.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":"unable to process - escaping actionDetails","log-level":"info","log-prefix":"FLOW_MESSAGE_from_JoltTransformJSON"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"c6831960-47ac-3db8-870a-2b37bdcebb24","instanceIdentifier":"e08c0caa-929b-30d2-e189-96b76b152a16","name":"LogAttribute","comments":"","position":{"x":856.0,"y":2496.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":"FLOW_MESSAGE","character-set":"UTF-8","Log FlowFile Properties":"false","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"email, operation","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","instanceIdentifier":"13d7dcd7-1089-3d83-c3a9-21da3f874ce3","name":"InvokeHTTP","comments":"","position":{"x":808.0,"y":72.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"http://192.168.1.182:8080/nifi-api/flow/history?count=250&offset=0","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"25b70e04-3ff4-3d1c-b924-a88d553ce175","instanceIdentifier":"404e22d5-ccb7-3c21-aac3-497e8221aaa7","name":"ExecuteSQL","comments":"","position":{"x":821.0,"y":821.5},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT * FROM users WHERE ck = '${userIdentity}';","Database Connection Pooling Service":"253909a1-07b1-37af-898b-751b0ca37364","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"3d993889-cd4a-35b5-93b8-970f61423d70","instanceIdentifier":"23f3196a-357d-39e2-ea65-69e7883a80b0","name":"AttributesToJSON","comments":"","position":{"x":128.0,"y":2016.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"actionDetails","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"388c4c4e-62ad-3f9a-a51a-cd6dd779ebfe","instanceIdentifier":"677dfd58-f003-388a-a691-64c7ac117c3b","name":"","source":{"id":"b4d09cd1-65ab-38a0-b0f1-33435400202d","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"88548e4a-3f78-3d5b-14e6-28a68772e68c"},"destination":{"id":"25b70e04-3ff4-3d1c-b924-a88d553ce175","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"ExecuteSQL","comments":"","instanceIdentifier":"404e22d5-ccb7-3c21-aac3-497e8221aaa7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"91fa9bd1-463b-3a36-bebc-18e2cfd31ba6","instanceIdentifier":"4c574f4a-d23a-3e15-a059-eebc47cbc936","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"InvokeHTTP","comments":"","instanceIdentifier":"13d7dcd7-1089-3d83-c3a9-21da3f874ce3"},"destination":{"id":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"SplitJson","comments":"","instanceIdentifier":"c37f0cd4-c874-3c93-44e9-ec978f1cdedc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"ef288b7d-eaf6-34f4-9a29-5fe4c2327f11","instanceIdentifier":"b04c69d8-3832-38ff-03da-7bc8651d0069","name":"","source":{"id":"3d993889-cd4a-35b5-93b8-970f61423d70","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"AttributesToJSON","comments":"","instanceIdentifier":"23f3196a-357d-39e2-ea65-69e7883a80b0"},"destination":{"id":"a8e45834-0c63-3df8-8dbc-ff8b554a8e28","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"6203529a-3903-3317-e19d-f200388c62cd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"8aaf348b-e4c2-3dab-acbd-545b5f0833f3","instanceIdentifier":"2e17ff1f-7a33-3df1-74f4-a688e6de4fa2","name":"","source":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2dbc805c-55a9-39c9-a02a-9ee6a86e9a26"},"destination":{"id":"18b529e5-0600-3745-8e9e-79c9c9f6b109","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"LogMessage","comments":"","instanceIdentifier":"efac8884-1fe7-3dc8-a5d1-bdc3fdf1fc9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"ea796202-55de-33d9-b488-4cf78bae30b2","instanceIdentifier":"eac97f54-94e2-3491-25a2-c179da78cdf8","name":"","source":{"id":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"SplitJson","comments":"","instanceIdentifier":"c37f0cd4-c874-3c93-44e9-ec978f1cdedc"},"destination":{"id":"3139ea54-2949-3e71-b177-3aa16c993d3e","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"c6cb02c8-e101-3a32-feb9-ca892a7d5b34"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":640.0,"y":328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"d13b5bcc-55ce-3718-88e7-1a01ca8529eb","instanceIdentifier":"1658b189-79cc-3492-d1bb-403fa47d07bb","name":"","source":{"id":"b97d6e72-3f07-3f40-a0e9-820dfae3de7e","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"2a43cf1a-96ad-38eb-126f-d46972b34c9f"},"destination":{"id":"99f94a35-66f3-36f2-aec3-caecea2bb001","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"cd133059-8497-3693-0717-bbce9a6ba844"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":688.0,"y":2408.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"c27d1a81-205c-3381-ada9-c958bd9c7db6","instanceIdentifier":"0bed48e3-669c-3820-360d-0baafd2d3cf6","name":"","source":{"id":"c6831960-47ac-3db8-870a-2b37bdcebb24","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"LogAttribute","comments":"","instanceIdentifier":"e08c0caa-929b-30d2-e189-96b76b152a16"},"destination":{"id":"2bc151d3-b1b1-3265-b3fd-42b95fbd9f08","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"15d7addd-663b-3bcf-be6e-dd2bdb4c2f99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"7e44dec6-2bb4-326a-85f0-7c70bcf34fde","instanceIdentifier":"caaf9de7-f453-3d2a-d26b-4e6c387f1c83","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"InvokeHTTP","comments":"","instanceIdentifier":"13d7dcd7-1089-3d83-c3a9-21da3f874ce3"},"destination":{"id":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"6d7cac77-7b34-304f-0015-01b582529937"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":704.0,"y":203.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"6c982d98-9d80-38ca-b6c3-7a7234d4833d","instanceIdentifier":"9c7cba00-66fb-377c-0e60-98c57fe35ada","name":"","source":{"id":"ef23791b-2333-35d1-86f4-9b8d18340b24","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e36f39ea-48d8-3078-cefd-fe3d2cb08fc3"},"destination":{"id":"a3a5e830-4892-3bb4-864b-a4709fad6967","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"a5ca4db6-6958-30d5-a7c9-00c050a931d0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":675.1802368164062,"y":1391.1181640625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"798b84c6-1223-35cd-9eca-0d48d188de83","instanceIdentifier":"d98fc653-e334-3573-5958-b89414cbfefa","name":"","source":{"id":"b4d09cd1-65ab-38a0-b0f1-33435400202d","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"88548e4a-3f78-3d5b-14e6-28a68772e68c"},"destination":{"id":"5dbe8154-eff6-3ce5-8096-691164b19baf","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"07f3e6a8-75e3-35fa-5996-3e6212d12a89"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":640.0,"y":672.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"ba86e04b-2a78-3fb3-8250-6903573bd424","instanceIdentifier":"06a570f0-d366-3232-a217-114290e5cc95","name":"","source":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2dbc805c-55a9-39c9-a02a-9ee6a86e9a26"},"destination":{"id":"3d993889-cd4a-35b5-93b8-970f61423d70","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"AttributesToJSON","comments":"","instanceIdentifier":"23f3196a-357d-39e2-ea65-69e7883a80b0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":672.0,"y":2064.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"7c383f9e-b5a8-364c-8d49-54f620933305","instanceIdentifier":"835fb0c3-08d3-3f33-4538-6d2afcec006c","name":"","source":{"id":"ef23791b-2333-35d1-86f4-9b8d18340b24","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e36f39ea-48d8-3078-cefd-fe3d2cb08fc3"},"destination":{"id":"cfae1a3b-a516-351c-a066-551794a830cd","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"AttributesToJSON","comments":"","instanceIdentifier":"1c916a3e-07b1-36e3-0ab8-ff105b187014"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"d5a73062-3402-32ad-b457-5bb2dcb1b0b0","instanceIdentifier":"72061505-e579-32f9-075a-b51f5169e401","name":"","source":{"id":"25b70e04-3ff4-3d1c-b924-a88d553ce175","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"ExecuteSQL","comments":"","instanceIdentifier":"404e22d5-ccb7-3c21-aac3-497e8221aaa7"},"destination":{"id":"84a38509-1e6b-3ce7-96d1-cd7872b25b4b","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"f07797b5-5076-3554-d170-6a52855cf2c4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"014838d0-c01a-32f8-9db5-6cf3ec10d28f","instanceIdentifier":"433e739a-54cd-3f34-f12f-3394e2bb3557","name":"","source":{"id":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"SplitJson","comments":"","instanceIdentifier":"c37f0cd4-c874-3c93-44e9-ec978f1cdedc"},"destination":{"id":"3139ea54-2949-3e71-b177-3aa16c993d3e","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"c6cb02c8-e101-3a32-feb9-ca892a7d5b34"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":640.0,"y":416.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"e65376ec-b5c5-3e53-891a-a64322c009cd","instanceIdentifier":"64bdcafd-2f17-3393-96d1-565bb123ed92","name":"","source":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2dbc805c-55a9-39c9-a02a-9ee6a86e9a26"},"destination":{"id":"b97d6e72-3f07-3f40-a0e9-820dfae3de7e","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"2a43cf1a-96ad-38eb-126f-d46972b34c9f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"8e460471-833f-330c-bf2d-b81afc33e8af","instanceIdentifier":"041b1373-46b0-3413-e82a-436a1c71a044","name":"","source":{"id":"e889e2c0-fb4c-3c78-80e8-221b063e0da2","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"SplitJson","comments":"","instanceIdentifier":"c37f0cd4-c874-3c93-44e9-ec978f1cdedc"},"destination":{"id":"b4d09cd1-65ab-38a0-b0f1-33435400202d","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"88548e4a-3f78-3d5b-14e6-28a68772e68c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"bec7da78-6025-31f4-a307-b0f75a9299f9","instanceIdentifier":"12f0d29a-a314-3c81-2c0a-3db92e1b28c4","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"InvokeHTTP","comments":"","instanceIdentifier":"13d7dcd7-1089-3d83-c3a9-21da3f874ce3"},"destination":{"id":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"6d7cac77-7b34-304f-0015-01b582529937"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":704.0,"y":53.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"780b63ae-931e-33b9-8053-406f48715f64","instanceIdentifier":"ad6113f4-6fe8-3539-e247-1fd1b94d2e87","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"InvokeHTTP","comments":"","instanceIdentifier":"13d7dcd7-1089-3d83-c3a9-21da3f874ce3"},"destination":{"id":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"6d7cac77-7b34-304f-0015-01b582529937"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"db5bc873-26b8-3ec9-9bf6-4581bf617bf2","instanceIdentifier":"9c5e8c41-f4af-3431-9362-6fa421151071","name":"","source":{"id":"3d993889-cd4a-35b5-93b8-970f61423d70","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"AttributesToJSON","comments":"","instanceIdentifier":"23f3196a-357d-39e2-ea65-69e7883a80b0"},"destination":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2dbc805c-55a9-39c9-a02a-9ee6a86e9a26"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":656.0,"y":2168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"558244a2-a795-34aa-b8ea-5dfc0a3f0647","instanceIdentifier":"1e112551-6bf0-3e6e-56d0-ad1a3781e6d3","name":"","source":{"id":"6b04e569-1459-34b0-8a77-59cb84eb7220","type":"OUTPUT_PORT","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"output","instanceIdentifier":"dc88ede0-1e5e-332d-f1c4-abb8b7c3f2eb"},"destination":{"id":"6ed80323-8f8d-3daf-ab7e-1f69a9dc3696","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"JoltTransformJSON","comments":"","instanceIdentifier":"2dbc805c-55a9-39c9-a02a-9ee6a86e9a26"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"18241859-9b09-36ae-aad0-f68563142130","instanceIdentifier":"19a9fdfd-5479-3830-d914-000688c02988","name":"","source":{"id":"ef23791b-2333-35d1-86f4-9b8d18340b24","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e36f39ea-48d8-3078-cefd-fe3d2cb08fc3"},"destination":{"id":"a3a5e830-4892-3bb4-864b-a4709fad6967","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"a5ca4db6-6958-30d5-a7c9-00c050a931d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":667.1802368164062,"y":1287.1181640625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"3d1c2508-b2d2-357a-a3ae-7dca07b3e5f4","instanceIdentifier":"5b918975-5c72-3a97-823c-8e9e7153e921","name":"","source":{"id":"cfae1a3b-a516-351c-a066-551794a830cd","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"AttributesToJSON","comments":"","instanceIdentifier":"1c916a3e-07b1-36e3-0ab8-ff105b187014"},"destination":{"id":"684c3083-f6a7-37b4-9f24-304425f1f602","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"f98f9f4d-1d09-3711-5824-224f00248c0c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"c660620c-bd6d-3b31-bd62-d813d813c3af","instanceIdentifier":"81fa1904-52db-353e-b597-13968d81dc36","name":"","source":{"id":"25b70e04-3ff4-3d1c-b924-a88d553ce175","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"ExecuteSQL","comments":"","instanceIdentifier":"404e22d5-ccb7-3c21-aac3-497e8221aaa7"},"destination":{"id":"8e7f9d79-ee7e-3541-8136-33c93336bbcb","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"ConvertRecord","comments":"","instanceIdentifier":"003d80ea-0196-1000-e6e5-d9849d4c82a0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"dc3f599d-9800-3a0f-a30b-b92d6e4eeafa","instanceIdentifier":"003e71c9-0196-1000-e979-c9e409c51427","name":"","source":{"id":"8e7f9d79-ee7e-3541-8136-33c93336bbcb","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"ConvertRecord","comments":"","instanceIdentifier":"003d80ea-0196-1000-e6e5-d9849d4c82a0"},"destination":{"id":"ef23791b-2333-35d1-86f4-9b8d18340b24","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e36f39ea-48d8-3078-cefd-fe3d2cb08fc3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"f18b9eb3-3ca2-3e54-873c-df15cc2390a0","instanceIdentifier":"5ce9ad6d-e277-3bde-e973-3931136fb872","name":"","source":{"id":"b4d09cd1-65ab-38a0-b0f1-33435400202d","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"88548e4a-3f78-3d5b-14e6-28a68772e68c"},"destination":{"id":"5dbe8154-eff6-3ce5-8096-691164b19baf","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"07f3e6a8-75e3-35fa-5996-3e6212d12a89"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":632.0,"y":568.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"9b59df8d-946a-33da-b453-a39010fe37f9","instanceIdentifier":"005ce081-0196-1000-4615-81a46ea6c32b","name":"","source":{"id":"99f94a35-66f3-36f2-aec3-caecea2bb001","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"cd133059-8497-3693-0717-bbce9a6ba844"},"destination":{"id":"b97d6e72-3f07-3f40-a0e9-820dfae3de7e","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"2a43cf1a-96ad-38eb-126f-d46972b34c9f"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"564d808f-1411-3996-a826-bb626c885974","instanceIdentifier":"003ea268-0196-1000-190c-d893ca1ccb15","name":"","source":{"id":"8e7f9d79-ee7e-3541-8136-33c93336bbcb","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"ConvertRecord","comments":"","instanceIdentifier":"003d80ea-0196-1000-e6e5-d9849d4c82a0"},"destination":{"id":"2ed04ba2-82ae-3171-8490-b874f37ad86b","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"003e80b1-0196-1000-00d3-1df62759c132"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"c82a5130-7eab-3c3e-91c8-5ea98bd58142","instanceIdentifier":"f3f706ff-2df6-332f-42fe-37dd43c86434","name":"","source":{"id":"00e1c62a-cc51-3bad-93a1-d5932b3a0de1","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"InvokeHTTP","comments":"","instanceIdentifier":"13d7dcd7-1089-3d83-c3a9-21da3f874ce3"},"destination":{"id":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","type":"FUNNEL","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"Funnel","comments":"","instanceIdentifier":"6d7cac77-7b34-304f-0015-01b582529937"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":704.0,"y":-22.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"c306d36c-b6ce-3901-b516-76c42bd979e4","instanceIdentifier":"c4dd4b34-c6a1-38d2-d7a1-df52dd3e80cb","name":"","source":{"id":"b97d6e72-3f07-3f40-a0e9-820dfae3de7e","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"PublishKafka","comments":"- configure connection service","instanceIdentifier":"2a43cf1a-96ad-38eb-126f-d46972b34c9f"},"destination":{"id":"c6831960-47ac-3db8-870a-2b37bdcebb24","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"LogAttribute","comments":"","instanceIdentifier":"e08c0caa-929b-30d2-e189-96b76b152a16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"44bbe5ca-16cd-3b5b-b251-9f93f7589bf3","instanceIdentifier":"9aedb8da-c209-3d9a-f359-9cbdef589035","name":"","source":{"id":"cfae1a3b-a516-351c-a066-551794a830cd","type":"PROCESSOR","groupId":"82669b46-b8ac-398f-95a6-8822dd74f1a0","name":"AttributesToJSON","comments":"","instanceIdentifier":"1c916a3e-07b1-36e3-0ab8-ff105b187014"},"destination":{"id":"d0412613-5a52-3f4d-8e17-312519f8b42f","type":"INPUT_PORT","groupId":"cee4db56-0b51-3206-8f4f-606b2fd27534","name":"input","instanceIdentifier":"b04daf64-5854-3844-665d-b78c6b102e27"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"}],"labels":[],"funnels":[{"identifier":"3139ea54-2949-3e71-b177-3aa16c993d3e","instanceIdentifier":"c6cb02c8-e101-3a32-feb9-ca892a7d5b34","position":{"x":392.0,"y":352.0},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"684c3083-f6a7-37b4-9f24-304425f1f602","instanceIdentifier":"f98f9f4d-1d09-3711-5824-224f00248c0c","position":{"x":527.567669442382,"y":1586.4141938912396},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"2ed04ba2-82ae-3171-8490-b874f37ad86b","instanceIdentifier":"003e80b1-0196-1000-00d3-1df62759c132","position":{"x":432.0,"y":1080.0},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"e1789613-7ff6-3a9c-87b1-f8f679f659f9","instanceIdentifier":"6d7cac77-7b34-304f-0015-01b582529937","position":{"x":400.0,"y":96.0},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"a8e45834-0c63-3df8-8dbc-ff8b554a8e28","instanceIdentifier":"6203529a-3903-3317-e19d-f200388c62cd","position":{"x":-176.0,"y":2072.0},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"a3a5e830-4892-3bb4-864b-a4709fad6967","instanceIdentifier":"a5ca4db6-6958-30d5-a7c9-00c050a931d0","position":{"x":472.0,"y":1352.0},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"2bc151d3-b1b1-3265-b3fd-42b95fbd9f08","instanceIdentifier":"15d7addd-663b-3bcf-be6e-dd2bdb4c2f99","position":{"x":1008.0,"y":2760.0},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"99f94a35-66f3-36f2-aec3-caecea2bb001","instanceIdentifier":"cd133059-8497-3693-0717-bbce9a6ba844","position":{"x":528.0,"y":2304.0},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"5dbe8154-eff6-3ce5-8096-691164b19baf","instanceIdentifier":"07f3e6a8-75e3-35fa-5996-3e6212d12a89","position":{"x":400.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"84a38509-1e6b-3ce7-96d1-cd7872b25b4b","instanceIdentifier":"f07797b5-5076-3554-d170-6a52855cf2c4","position":{"x":429.0,"y":885.5},"componentType":"FUNNEL","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"}],"controllerServices":[{"identifier":"0a2eed11-c77e-3dcc-9855-9d35f59dc8c2","instanceIdentifier":"0035e0e7-0196-1000-861f-5e85bd2158eb","name":"Kafka-NiFi_processors","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.3.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"#{IP}:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"253909a1-07b1-37af-898b-751b0ca37364","instanceIdentifier":"3f3e453d-d4c1-3bf6-fc68-35a9ef5de973","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://192.168.1.182:5432/nifi_db?stringtype=unspecified","dbcp-time-between-eviction-runs":"-1","Database User":"user","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/VOLUME/postgresql-42.7.3.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"0dd16bfc-8110-3567-9f25-00f50c84ebae","instanceIdentifier":"003dd3f8-0196-1000-b27d-035208b9f356","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"},{"identifier":"ff1ae4ac-b78d-3cdd-8b87-481da54d83b9","instanceIdentifier":"003dc1e0-0196-1000-a458-ef1e98dc874b","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"82669b46-b8ac-398f-95a6-8822dd74f1a0"}],"parameterContextName":"MiKo_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"MiKo_config":{"name":"MiKo_config","parameters":[{"name":"Redis_pass","description":"","sensitive":true,"provided":false},{"name":"twitter_token","description":"","sensitive":false,"provided":false},{"name":"IP","description":"","sensitive":false,"provided":false},{"name":"Access Key ID","description":"","sensitive":true,"provided":false},{"name":"snow-pass","description":"","sensitive":true,"provided":false},{"name":"email","description":"","sensitive":false,"provided":false},{"name":"email pass","description":"","sensitive":true,"provided":false},{"name":"Secret Access Key","description":"","sensitive":true,"provided":false},{"name":"SNOW_URL","description":"","sensitive":false,"provided":false,"value":"https://[SNOW-ID].service-now.com/api/now/table/incident"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}